[2016-02-23 10:15] mammuth opened #1 "Technology Stack"
Let's discuss what basic technologies we want to use.

Who is familiar with Angular and/or React? Which one would you enjoy more for this project?

[2016-02-23 10:21] sacdallago commented on #1
:+1: I like that you are using issues for this, big +

[2016-02-23 10:29] mammuth opened #2 "Deployment / Live-Testing"
Any favors on where to host it? If not I could host it on a vServer of mine and add a webhook so that the masterbranch automagically gets deployed?

Not that important until we have some stuff we want to test non-locally or show our process to other groups easily.

[2016-02-23 10:31] mammuth opened #3 "Base Structure and Layout"
- What information do we need to display?
- What the user needs to interact with heavily?

Let's try to get clear about the content we want to show to find out how to structure our base layout.

[2016-02-23 10:43] mammuth commented on #3
### Data:
- Characters PLOD (percent likelihood of death) (provided by Project B)
- Character-Location association on a map (provided by Project C)
- Whom people liked the best from the last episode? (provided by Project D)
- Character Popularity over time (provided by Project D)
- Characters sentiments on twitter over time (provided by Project D)

If I missed anything, feel free to edit this comm

[2016-02-23 12:27] yashha commented on #2
Sounds good. That would be awesome.
I suppose, we get an server from the seminar at some point.
@sacdallago Can you tell us something about the server we will be using, when we will get access to it?

[2016-02-23 12:28] yashha commented on #1
I'm currently getting into React so I would prefer this, but Angular would work too.
Both would get the job done.

[2016-02-23 12:43] sacdallago commented on #2
@yashha @mammuth sorry guys but hosting a VM at the Lab is not possible. You might want to look at AWS, Heroku or google cloud platform ;)

[2016-02-23 12:51] yashha commented on #2
I saw the suggestions  on heroku and AWS on rostlabs wiki some minutes ago, too.
What do you guys think about getting an AWS NoSQL DB and deploying on heroku.

[2016-02-23 13:05] sacdallago commented on #1
As a personal suggestion: don't limit yourselves to plain node and packages: there are many very interesting frameworks based on javascript where you could also gain some real business-advantage over a developer that knows "only" node. Also think out of the box: maybe you could go for something more mobile-oriented?

Just putting two frameworks to make my point:
- [Meteor](https://www.meteor.com/)

[2016-02-23 13:07] yashha commented on #2
In free version:
Heroku: Apps sleep after 30min of inactivity, but doesn't expire ever
AWS EC2: Expires after 12 months
Google CS App Engine: Doesn't expire

https://www.heroku.com/pricing
https://aws.amazon.com/free/
https://cloud.google.com/appengine/

After relooking at them, I would try the Google CS App Engine.

[2016-02-23 13:17] yashha commented on #1
I like Meteor, its awesome. I would like to look into Ionic as well.
So we can definitely do that.

[2016-02-23 13:45] jorjo1 commented on #2
I think I would go for AWS because of bandwidth reasons. Except for the case we are not going to need much?

[2016-02-23 14:03] yashha commented on #2
You are right, that's probably the way to go.
The thing is it expires in 12 months, so if we want to keep the app online after 12 month we need somebody to recreate an account or we think about getting money through some platform to keep it online. Maybe its not important to keep it up, but I wanted to mention it.

[2016-02-25 23:52] yashha commented on #2
Until Mondax
- [x] Create Email Account -> jsseminar@tuta.io
- [ ]  Create AWS Acount

[2016-02-29 10:29] yashha commented on #2
I created an email account, but I have a problem know.
On which name the server should run, Amazon needs name, address, phone number AND a credit card.

[2016-02-29 18:21] jorjo1 commented on #2
Hi guys,

since there are details we cannot and should not share on github (like hosting email/pw), I propose that we discuss this on the Signal group. (https://whispersystems.org/). You can find further informations in the google groups (8 and 9).

**Hosting**
I don't have a credit card so I cannot contribute to the registration of the Amazon account. If noone can sign up for the service, we shou

[2016-02-29 23:44] yashha commented on #2
Google needs bank details, too. But instead of just credit cards, it takes also ordinary bank accounts.

[2016-03-01 11:02] yashha commented on #3
We will do an creative and collaborative online meeting **today evening**.
At the moment Max Muth and Georgi Anastasov and me will attend.
Topic will be design and structure.
Time: **18:00 ~~between 6 and 7~~** until open end.
If you want to join and help us to get ideas for a nice UI, just **comment** this issue.

[2016-03-01 15:29] mammuth commented on #3
### Pages and their Content:
- Home
  - PLOD Top3 (?)
  - Whom people liked the best from the last episode (App by Project D)
  - Character Sentiments Top5 (?)
  - Map App by Project C
- Characters List / Catalogue (?)
- About
  - Description of this seminar, Github Link, list of all contributors, ...

Character Detail Page:
- Corresponding House (?)
- PLOD (App by Project B)
- popularity from the

[2016-03-01 16:12] jbraito commented on #3
Hi guys,
first of all thank you for the effort during the past days. As I had my last exam yesterday I couldn't involve myself so far, but from now on I'm looking forward to support you in the project. I already skimmed through your conversations about the Technology stack and the hosting platform as well as the conversations in the google groups 8 and 9. Todays meeting comes a little bit at short

[2016-03-01 17:06] yashha commented on #3
So we are here https://meet.jit.si/jsseminar1
You can stop by if you want

[2016-03-03 10:23] sacdallago opened #4 "Don't commit on develop / use feature model / revert commits"
@mammuth  you commited on the develop branch (f86a9a13b0c197349cb8db5f145bae97ced7c683), this is not what you should do.

Please:

- [x] Revert your commit and bring develop back to the initial state ( b88954d50be0b3a707e57028ee2372f81567bd70 )
- [x] Open a branch for the feature you work on, branching off from develop
- [ ] If you are already done with your feature, open a pull request

We would

[2016-03-03 10:40] yashha commented on #2
So ...
Google just gives only 60 days trial.

AWS would be pretty good I think.
Does somebody know the education program of Amazon?
https://aws.amazon.com/education/awseducate/
We would need somebody to provide his credit card.

Otherwise we should just use heroku. It needs nothing.
We will first of all a platform which has to sleep 6h a day and sleeps after 30 min of inactivity.
We can easily upg

[2016-03-03 10:46] mina-kleid commented on #2
If the purpose of the project is just the seminar i dont see any issue with sleeping after inactivity. Otherwise if the purpose is having a live platform, then the people of the seminar should provide us with a robust stack that doesnt sleep or at least a credit card to use for a good system.

[2016-03-03 11:00] mammuth commented on #2
I agree with mina-zaki.

If we need to host on a long-term view with the possibility to scale Rostlab might provide an infrastructure.
Until that we can just start developing locally and if we want to share something with other teams we can deploy it an cheap vServer of anyone.

[2016-03-03 11:02] yashha commented on #2
Or we just use heroku.

[2016-03-03 11:09] yashha commented on #1
On Tuesday we talked about Ionic and Meteor.
We thought that we don't need to provide app's (Ionic), because the content of our app, will not change often, so there is no need to provide an app for it.
Meteor is also not needed, unless we need an User-Login functionality, which we can implement with node, too.

We could just go for an Webpack/Grunt, Angular/React/Backbone.

As decided today:
Which

[2016-03-03 11:56] gyachdav commented on #2
We're working on a solution for you. Please proceed with developing locally for now. This will be resolved during presentation week.

Sent from my iPhone

[2016-03-03 17:26] sacdallago commented on #1
@yashha if you have specific questions for me or the mentors please @ me! Otherwise I will go on :dancer: and forget about answering :smile: (yes, they got inspired by my moves to draw :dancer: ). But I guess you just wanted to report what you did until now: nice, I appreciate that.
You are totally free to chose whatever javascript-based technology you want! :) But **less research, more code**! Tr

[2016-03-05 08:34] mammuth commented on #4
_I need to see pull request to know: who did what_ makes me understand (I guess).

However normally for binaries (if they need to be in the repo), this model doesn't make any sense according to my experience.
No doubt, for code-features it's useful of course.

I'm curious: If you use PR's to see who did what - how are you guys dealing with PR's that contain commits from multiple persons?

[2016-03-05 08:34] #4 closed

[2016-03-05 10:50] sacdallago commented on #4
@mammuth:
1. Usually one person works on one feature (per definition of the feature model), if two work on one it is usually an equal distribution or there's a clear leader
2. You can look at the commits associated to the pull request :) Much less, usually, then looking at an entire development branch, and
3. Binaries are of no interest to me. I look at quality and extend of your JS :)

Also, PR g

[2016-03-05 23:33] AlexMoroz opened #5 "Integration of projects B,C,D"
Hello guys,

I'm Alex from Project E. And I am responsible for delivering ProjectsC from Group 10 and Project B from Group7 to you.

As written [here](https://groups.google.com/forum/#!topic/javascript-technology-2016/dR1IJlAJN6M) we (Project E team) need to publish the projects to NPM, so you can upload them.

Also according to [wiki](https://rostlab.org/owiki/index.php/Javascript_technology_2016

[2016-03-06 14:22] mammuth commented on #5
So we have two things when we speak about _integration_ I guess:
1. Installation / making the package available in our app
2. Integration of an actual component in certain pages of our app

The first one can be done by packaging the project apps as npm modules.

For integrating the actual project-app with their frontend (2) in our pages there might be a couple of options I can think of:
1. Require

[2016-03-06 15:13] yashha commented on #5
I don't have more ideas.
I think their enough. ;)
I only know about es6 modules yet.
The rest wouldn't be a problem i'm sure you can read easily into that.

Am 6. März 2016 15:22, um 15:22, Max Muth notifications@github.com schrieb:

[2016-03-07 18:18] yashha opened #6 "Messed up merge"
Hey guys,
how can I revert my merge and make a pull request.
Is says "There isn’t anything to compare."
Or was it ok to merge, when we said we will use my code?

[2016-03-07 18:34] mammuth commented on #6
Just FYI:
I'm not sure whether github offers an option to revert a whole PR.

Since some years ago git is capable of reverting a range of commits at once:
git revert OLDER_COMMIT^..NEWER_COMMIT

[2016-03-07 19:22] yashha commented on #6
Fixed

[2016-03-07 19:22] #6 closed

[2016-03-08 00:33] gyachdav opened #8 "Create a demo site"
We would like to get a look at your progress without cloning and installing locally. let us know if you have a temporary hosting solution. Otherwise we will find one for you.

[2016-03-08 02:13] gyachdav opened #9 "Post a build status on your repo"
Seems like the current rev is broken. I just tried building it and it failed. Could've easily spared me this if you would've posted your build status from CI.

[2016-03-08 09:52] yashha opened #10 "Get deploy on heroku via travis working"
branch: heroku
`Skipping a deployment with the  provider because this branch is not permitted
`

[2016-03-08 09:53] yashha commented on #8
#10

[2016-03-10 18:05] AlexMoroz commented on #5
Browserify/Webpack/ES6 Modules won't work, coz we need to integrate front-end also.
Shadow DOM looks possible, but I can't see any difference between it and iframe. And iframe seems shitty solution.

[2016-03-10 20:53] mammuth commented on #5
Isn't it possible to export a function in the ES6 modules, that on call, render the frontend in the DOM-parent?
@sacdallago do you have any suggestions or experience in how to handle this?

[2016-03-11 11:21] sacdallago commented on #5
Well, commonly speaking frontend logic and frontend representation are separated when it comes to these kind of libraries. For example: projects B have to render a PLOD which is just a numerical value, but they can nicely separate the logic of the calculation from an example implementation in, say, D3, and service this example also as part of the library via shadow DOM.
Examples of this are everyw

[2016-03-11 12:59] #9 closed

[2016-03-11 14:41] gyachdav commented on #10
I got here through a reference from issue #8 yet it is unclear to me how we can view your demo site. If you deployed to Heroku and added me to as a collaborator then it would be nice to understand how and where i can view the site. The link I got from Heroku send me to an app dashboard and all I can get from there is a very disappointing hello world page.

bottom line: we need to see a demo site.

[2016-03-11 14:48] yashha commented on #10
You are right we are still not have a demo site
I will work on it today.
I thought i add you to heroku, so you give heroku access to the github.
But then I tried a way using travis to deploy to it.
It's not working yet.
I will continue to try to use travis.
I will post the url on the readme, when it is working.

[2016-03-11 14:54] gyachdav commented on #10
thanks. more importantly post the link on this issue.

On Mar 11, 2016, at 9:48 AM, yashha notifications@github.com wrote:

[2016-03-11 19:48] yashha commented on #10
Working
https://got-stats.herokuapp.com/

[2016-03-11 19:48] #10 closed

[2016-03-11 19:49] yashha commented on #8
Working
https://got-stats.herokuapp.com/

[2016-03-11 19:49] #8 closed

[2016-03-11 19:52] gyachdav commented on #10
thanks when should we expect to see the actual app you were working on? right now just gives me the beginning of a site layout.
![screen shot 2016-03-11 at 2 50 36 pm](https://cloud.githubusercontent.com/assets/4074881/13713785/c1ebed2a-e798-11e5-8db0-2bf066ee6ac5.png)

[2016-03-11 19:56] yashha commented on #10
Unfortunately that's all we got at the moment.
Next thing to do is creating the a layout looking like our mockup
https://github.com/Rostlab/JS16_ProjectF/blob/mockups/Mockups/Home.jpg

[2016-03-12 12:15] yashha opened #17 "Integrate map"
Map should be integrated
I found it on npm
https://www.npmjs.com/package/rostlab-js16-c10

[2016-03-12 12:20] yashha opened #18 "base template"
Get the base template running, so it looks like the mockup
For the image ->  Just use placehold.it

[2016-03-12 12:22] yashha opened #19 "About page"
Somebodey needs to think about the about page, where all the project members will be listed.

[2016-03-12 15:42] gyachdav commented on #10
Let us know when there's some content we can give feedback on

Sent from my iPhone

[2016-03-13 12:58] #2 closed

[2016-03-13 13:07] #1 closed

[2016-03-13 13:20] yashha commented on #17
@AlexBeischl
Not working yet. I don't have an idea, how i can include it.
I have i did import it,
but include doesn't work.

[2016-03-13 13:50] sacdallago commented on #17
Also mind that the package name has changed to `gotmap`, https://www.npmjs.com/package/gotmap

[2016-03-13 13:51] yashha commented on #17
I think i tried that too, but i'll try it.

[2016-03-13 14:07] yashha commented on #17
i did
`npm install gotmap --save-dev`
and
`import 'gotmap';`
=>
`ERROR in ./app/main.jsx
Module not found: Error: Cannot resolve module 'gotmap' in /home/yasar/Workspace/web/jsseminar/JS16_ProjectF/app
 @ ./app/main.jsx 26:0-17
`

[2016-03-13 15:06] AlexBeischl commented on #17
@AlexMoroz is doing the integration via npm, not me ;)

[2016-03-13 15:17] Andrew094 opened #20 "Footer Fix Mobile Design"
Markup and design of the footer

[2016-03-13 15:45] mammuth commented on #20
Related to #18

[2016-03-13 15:48] #18 closed

[2016-03-13 15:50] Andrew094 commented on #20
The Mockup psd doesn't have a footer section, so someone still has to come up with one

[2016-03-13 18:24] AlexMoroz commented on #17
How are you going to integrate it if we didn't decide about the way to integrate it?
#5  is still open.
What magic did you expect to happen after `import 'gotmap';`?

[2016-03-13 18:31] AlexMoroz commented on #5
The only solution I have is to convert projects B,C,D to angular directives and services, so you can easily add them with require to your project. Is it possible in React?

[2016-03-13 21:58] yashha commented on #5
@AlexMoroz I searched for ways to integrate angular into react, but there is no.
Because you have only one html file:
What you should do is packaging your Javascript up into one file. (Browsify, Webpack)
And expose us that Javascipt file and one packaged css file and a simple React component containing your html.

Any other solutions?

[2016-03-13 22:03] AlexMoroz commented on #5
What do you mean by

?
Any examples?

[2016-03-13 22:06] yashha commented on #5
Something like this:
https://github.com/Rostlab/JS16_ProjectF/blob/develop/app/components/public/Start/Map/Map.jsx

[2016-03-13 22:18] yashha commented on #5
Altenatively to brosify and webpakc, could you even expose a module using CommonJS.
http://requirejs.org/docs/commonjs.html#intro
At least I think it is possible :)

And we make an React component using your HTML, too. So you don't need to make a extra react component.

[2016-03-13 22:28] yashha commented on #5
Ok angular, would work too ;)
I got it working.
http://codepen.io/anon/pen/ZWpaJV
I would recommend not going for angular though, its a big library, which it in this case not necessary for getting the result.

[2016-03-14 12:19] mammuth opened #23 "Character Detail Page"
~~Data-Content:~~
- ~~Character image (A)~~
- ~~Basic informations about the character (A)~~
- ~~2x PLOD in Tabs (for the two groups in B)~~
- ~~Sentiments on twitter (App by Project D) _There are also 2 groups how to handle this?_~~
- ~~Map for the character~~

[2016-03-14 12:26] mammuth opened #24 "Add Project-slides to github"

[2016-03-14 12:28] mammuth opened #25 "CSSLint: Ignore background-fallback"
` warning  Fallback background-color (hex or RGB) should precede RGBA background-color  fallback-colors`
Doh! only needed for <= IE6

[2016-03-14 12:32] mammuth opened #26 "Clean up deployment mess"
Currently it looks like this:
- travis seems to be deploying the public/ folder
- we need to have the public/ folder in our version control

If this is the case, this should be changed so we can get rid of the build files.

[2016-03-14 14:32] yashha commented on #25
Quickfix:
`.navbar-inverse { /* csslint allow: fallback-colors */
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #080808;
}`

[2016-03-14 14:34] yashha commented on #25
or
csslintrc:
`
{
 "fallback-colors": false
}
`

[2016-03-14 15:52] sacdallago commented on #17
:D that you... got.. map? @AlexMoroz  :D :D :D time to push towards integration! If **F** is not expressing preferences, just go for whatever you prefer @AlexMoroz

[2016-03-14 15:56] AlexMoroz commented on #17
working on it, trying to bundle all together with webpack

[2016-03-14 23:31] #25 closed

[2016-03-15 10:03] mammuth commented on #23
If you open any issues on other projects to discuss what we're able to integrate in this detail page, could you please mention this issue, so that everyone is able to follow the progress :blush:

[2016-03-15 12:55] jorjo1 opened #29 "Remove public from .gitignore"

[2016-03-15 14:01] jonny3576 opened #30 "Integrating double projects?"
As the Project B and D are developed twice (or at least there exist two similar applications), how will you integrate those?

Will you offer two applications and the user will be able to choose between them or will you merge them in some ways?

[2016-03-15 14:05] mammuth commented on #30
We're not going to include two different "apps" for the same thing.

As far as I know there are discussions about how to bring those two projects together into one (by using average metrics or whatever). However this is nothing we (Project F) will be in touch I guess. This needs to be dealt by your Projects B and D together with the Integration-Project E.

[2016-03-15 14:46] jorjo1 commented on #29
To be precise: JS16_ProjectF /app/components/public

[2016-03-15 17:01] sacdallago commented on #30
Slightly too fast on closing issues here :D https://github.com/Rostlab/JS16_ProjectE/issues/8

[2016-03-15 17:09] #26 closed

[2016-03-15 17:10] yashha commented on #29
Fixed #28

[2016-03-15 18:22] yashha commented on #24
branch mockup

[2016-03-15 18:22] #24 closed

[2016-03-15 19:31] mammuth commented on #30
Yep, followed the corresponding discussion on the repo of E.

Seems to be unnecessary "complicated" because now we have to think about how to tell the user why there are different numbers about the sentiment and PLOD.
Will probably be an awesome UX.

Well, our problem now... :+1:

[2016-03-15 21:43] yashha commented on #29
Oh apparently not fixed, sry

[2016-03-15 21:43] jorjo1 commented on #29
onto it

[2016-03-15 22:22] yashha commented on #29
You?

[2016-03-15 22:29] sacdallago commented on #30
Oh well, not that bad. You think in finance they use just one predictor to call investments? :D
Just put a nice switch on top "predictor 1" | "predictor 2" , that should do the trick. There's also components for that right out of the box from bootstrap :D

[2016-03-15 22:33] AlexMoroz commented on #17
By the way, you can try it now. There is still problems with extraction of html module, but js works correctly.

[2016-03-15 23:08] sacdallago commented on #17
I knew I could count on you, I know it would take you much less than 6d.
Please someone from F try this out and report here with questions, concerns, observations ASAP

[2016-03-15 23:14] yashha commented on #17
Not working yet (branch map)
http://i67.tinypic.com/287zqit.png
It's not loading the map.

[2016-03-15 23:20] AlexMoroz commented on #17
I knew that it cannot be so easy. I will fork the F repo, and check what's the problem.

[2016-03-15 23:25] AlexMoroz commented on #17
But first, @yashha try to run it after require.
Something like this:
`require("gotmap")();`

[2016-03-15 23:34] AlexMoroz commented on #17
I've published `gotmap@0.0.13` right now. So it should work without be run.
Just: `require("gotmap");`

[2016-03-16 07:05] yashha commented on #17
Awesome, its loading :)

So I need to get the authorization working.
And you should store the images locally I  think.

`Uncaught ReferenceError: episodes is not defined(anonymous function) @ bundle.js?c390:11566fire @ jquery.js?27d9:3182self.fireWith @ jquery.js?27d9:3312jQuery.extend.ready @ jquery.js?27d9:3531completed @ jquery.js?27d9:3547
jquery.js?27d9:9175
POST https://got-api.bruck.me/api/

[2016-03-16 07:30] yashha commented on #17
I don't like that the map stops you from scrolling down, not a that great ux and the person will probably never see the beautiful footer.

[2016-03-16 09:04] AlexMoroz commented on #17
Group 10 will fix the authorisation.
About the images, they weight 400 mb and there is no possibility to publish them to npm.
We decided to use them from repo. But we need to think about it.

[2016-03-16 09:05] AlexMoroz commented on #17
Open the issue in project C10 :D

[2016-03-16 09:24] yashha commented on #17
You can leave to images on git hub, but thery have to be accessible
`https://raw.githubusercontent.com/Rostlab/JS16_ProjectC_Group10/develop/tiles/bg/0/y0x2.png 404 (Not Found) y0x1.png:1 GET`

The ux issue should be discussed in here.

[2016-03-16 09:26] AlexMoroz commented on #17
If UX issue needs answers from project C10, you have to discuss it there.

[2016-03-16 10:28] sacdallago commented on #17
@AlexMoroz  remember that everything config related, for example now that C10 needs:
1. The location of the API
2. The Token setting

needs to be made available for setup when requiring the project. Something like:

[code]

P.S.: Sorry @AlexBeischl , meant to notify @AlexMoroz

[2016-03-16 10:31] AlexMoroz commented on #17
I think this message was for me) Ok, I will add it

[2016-03-16 14:07] jonny3576 opened #31 "Project D5 API"
Hey there :)
Group 5 (They are doing the Twitter Sentiment Analyses) and I had decided to provide you with the following functions in the npm Package. (As soon as they are implemented and passed the tests you will get them)

The functions are:

- getSentimentForName(name,date) - returns {posSent: Number, negSent:Number, numTweets:Number}
- getSentimentForNameTimeframe(name, startDate,endDate) - re

[2016-03-16 14:22] kajo404 commented on #31
@sacdallago is this what you had in mind? we store the sentiment information in the database of team A and provide these functions for team f

[2016-03-16 16:33] sacdallago commented on #31
Exactly what I thought about!

[2016-03-16 16:33] #29 closed

[2016-03-16 16:38] jcebel commented on #31
To understand the output:
The Sentiment-Analyses-Algorithm, determines if a tweet is either nice or nasty and how nice or nasty. This is expressed on a scale between -6 to 6. (6 beeing very nice).
The Application adds the results of the analyses of all the positive tweets in the posSent-property and all the negative tweets in the negSent-property.
So there can be stored Numbers high above the 6 or

[2016-03-16 18:21] mammuth commented on #31
For me this looks good!

PS: I'm curious about the top, worse, mostTalkedAbout and topControversial :blush:

[2016-03-16 21:55] jcebel commented on #31
About exceptions: As you will need to interprete the Exceptions, it is important, that you tell as which Information you need if an Error occurs (e.g. if you're searching for Donald Trump or if there exists no Data for this specific timeframe).

I made the following Searcherror for testing reasons, but feel free to formulate your own needs. :-)

[code]

[2016-03-16 23:41] mammuth commented on #31
I think it might be interesting to embed the latest X top-tweets regarding a certain character on its detail-page.

Since you guys are already using the Twitter API what do you think about adding a function which returns links of the latest top tweets?

[2016-03-16 23:43] mammuth opened #33 "Characters List"
Displays all characters.

Might have sorting and search functionality.

Each element links to a character page from issue #23

[2016-03-17 10:54] AlexMoroz commented on #17
Does it work now, after init function added?
https://github.com/Rostlab/JS16_ProjectC_Group10/commit/a74a73c231ee62675b4b4397b1610561c37fda2a

[2016-03-17 12:42] kajo404 commented on #31
Some additions:
We will provide 2 additional functions.

runTwitterAPI(char,startDate) this runs the REST API to collect all tweets from the startDate until now (subject to change)

runStreamingAPI(char,time) runs the streaming API for time seconds

Also, can we replace all charName paramaters with the _id used in A's database? This makes identification a lot easier since _id is unique.

@mammuth

[2016-03-17 12:56] mammuth commented on #31
If _id is unique and consistent over all projects this is the way to go. Because then we can pass this single character id to every project-component we're using.

Trending tweets :+1:

[2016-03-17 13:41] mammuth opened #34 "Header Parallax Effect"
https://pixelcog.github.io/parallax.js/

[2016-03-17 13:43] mina-zaki opened #35 "Models and API Calls"
Find a suitable model and api calls module to integrate to the project to be able to query the database server and parse the response into models used in the react component

[2016-03-17 14:00] mina-kleid commented on #35
One suggestion is this : https://github.com/schempy/react-flux-api-calls

[2016-03-17 14:40] mammuth commented on #23
### Sections:
- Basic Info
- PLOD
- Sentiments
- Tweets (?)
- Map
- Link to the Wiki
- Floating Right-Sidebar-Navigation (?)

### PLOD-Section:
- Tabs for the 2 predictions
- Timeline **(?)**

### Sentiment-Section:
- 2 tabs
- Love Reactions: :heart_eyes: :heart_eyes: :heart_eyes: :heart_eyes:
- Hate Reactions: :rage: :rage:
- Number of tweets

[2016-03-17 14:44] sacdallago opened #37 "Expectations"
Dear all,

we tutors meet and discusses what we expect from you (basically, we did some of your work :P), and came up with the following suggestions/requirements:

1. Routes
  - [x] We would like a list of routes (e.g. /, /character/? , /map ,...)
  - [x] You should set up these routes
  - [x] Set up default and 404 route
2. Views
  - [x] Write down metadata ( **!!!!!!! Meta data is probably the m

[2016-03-17 14:55] mammuth opened #38 "Add Analytics Features"
We should probably add analytics where we can track how our visitors are behaving on the webapp?

Options:
- Google Analytics
- Piwik
- ...

[2016-03-17 14:58] mammuth commented on #37
**1.1. List of Routes:**
- /
- /characters
- /characters/:id
- /map
- /ranking
- /about

[2016-03-17 15:19] jorjo1 opened #40 "Make Ranking page"
Details and main idea:

Refers also to #59

- [x] "Who dies next" Both most likely to die characters (1 vs. 1)
- [x] top 5/10 most likely to die next
- [x] top 5/10 loved characters
- [x] top 5/10 hated characters
- [x] top 5/10 survivors

[2016-03-17 15:23] jorjo1 commented on #38
@sacdallago should we use our personal emails or you would probably want to use Rostlab's email?

[2016-03-17 15:25] jorjo1 opened #41 "404 page"
Create a 404-not found/allowed with a fancy design.

Subtask of #37

[2016-03-17 15:50] sacdallago commented on #31
Can you come tomorrow and explain what this is about to me? I lost track here and I have to go trough a few things before midnight :D :D :D

[2016-03-17 15:51] sacdallago commented on #34
Oh damn, parallax is awesome! Good idea

[2016-03-17 15:54] gyachdav commented on #37
Next, please:
- [x] break down this issue into separate issues
- [x] assign issues to members according to the roles we all agreed on today
- [x]  assign deadlines
- [ ] once we are satisfied with the way you converted this issue to several, properly defined and measurable issues. we will close this one

[2016-03-17 15:55] sacdallago commented on #23
Love/hate?
Like/Dislike! Apart from the sentiment analysis not being about love and hate but rather like and dislike, the sentiments you mention are very strong. Be careful :)

[2016-03-17 16:01] sacdallago commented on #38
Google analytics please!

@jorjo1 This is part of a mutable configuration which shouldn't be saved on git ;) I will generate the ID and expect to have some config file where I just put the ID and domain info in and it will take care of putting this into the right places in the app. Ok? :)

[2016-03-17 16:03] mammuth commented on #20
Subtask of #37

[2016-03-17 16:04] sacdallago commented on #41
I love 404 pages! (Dead serious)
- http://hotdot.pro/en/404/
- http://bluegg.co.uk/404

[2016-03-17 16:05] mammuth opened #42 "Add Metadata to all views + SEO"
Subtask of #37

[2016-03-17 16:15] sacdallago commented on #20
@Andrew094 best habit is that **someone** becomes a specific person! :) You can always ask your team mates by mentioning them, worst case they are gonna set your car on fire and kill your favorite stuffed animal in his sleep, com'on: it was time to grow apart from it anyway, wasn't it? (I'm totally not talking out of personal experience like, I watch [serious](https://www.youtube.com/watch?v=DOBg9

[2016-03-17 16:17] gyachdav commented on #34
-1 parallax

On Mar 17, 2016, at 11:51 AM, Christian Dallago notifications@github.com wrote:

[2016-03-17 16:25] gyachdav commented on #41
you can use your dead jon snow background as our 404

On Mar 17, 2016, at 12:04 PM, Christian Dallago notifications@github.com wrote:

[2016-03-17 16:30] sacdallago commented on #42
https://developers.facebook.com/docs/sharing/webmasters#markup

[2016-03-17 16:31] sacdallago commented on #42
https://dev.twitter.com/cards/markup

[2016-03-17 18:03] yashha opened #44 "Fix build and lint issues"

[2016-03-17 18:49] mammuth commented on #40
As stated here we probably not only rank the sentiments, but also the PLOD's (https://github.com/Rostlab/JS16_ProjectB_Group7/issues/5#issuecomment-198023478) (ProjectB needs to come up with visualization suggestions and support us here).

So maybe we should make two subpages and a DropDown-Menu?
_Rankings_
-- _Who dies next?_
-- _Who is loved most?_

[2016-03-17 19:04] yashha commented on #44
Fixed #45

[2016-03-17 19:04] #44 closed

[2016-03-17 19:12] jorjo1 commented on #42
@sacdallago Hi Christian, thanks for the links. But what we actually need is description, project title and some idea for the photo. I will craft the image, but I still need description of the project.. :hammer: :hourglass:

[2016-03-17 19:18] sacdallago commented on #42
@jorjo1 didn't you have an static-pages representative :D use some pure geek imagination :star2:

Project title on the other hand: **A Song of Ice and Data**

The domain where the site will be is (brace yourselves) [THIS FREAKING AWESOME GUY](http://got.show)

[2016-03-17 19:20] mammuth commented on #42
Puh, hopefully HBO makes no trouble when we're using got.show :blush:

[2016-03-17 19:20] yashha commented on #42
@Andrew094 <-- staticpages representative

[2016-03-17 19:50] jorjo1 opened #46 "Create custom preloading animation"
I decided to make a page preloading animation because it will look better while loading page content.

Example: https://ihatetomatoes.net/demos/css3-preloader-transition/

[2016-03-17 20:08] yashha commented on #46
Other design maybe, and the loading time is very low.

[2016-03-17 20:12] jorjo1 commented on #46
Yes, I don't mean to take precious user time when the page is fully loaded. We are aiming of doing this in a not annoying way, but still thematically - something like a ~~sword/shield/opening doors~~... It's still only an idea, so anyone should feel free to contribute on this one.

[2016-03-17 20:20] gyachdav commented on #34
so 2013

[2016-03-17 21:13] mammuth commented on #20
@Andrew094 I just noticed you already did some work 2 days ago :flushed:

I like your footer implementation! Are you going to rebase it to the current develop branch and open a PR?

[2016-03-17 21:32] sacdallago commented on #46
@yashha is right about intrusive loadings. Usually what people do nowadays is a little 3px bar on top of the page which loads from left to right... Like the one I implemented on http://got.show but on top and full page with

[2016-03-17 21:49] yashha commented on #17
Sry for late feedback, no it doesn't work it don't even include some js I think

[2016-03-17 21:49] yashha commented on #17
Ok moment I didn't follow your link

[2016-03-17 21:52] yashha commented on #17
@AlexBeischl Where I get the the key and the location from?

[2016-03-17 21:58] AlexMoroz commented on #17
Project A, but it should work without it now
just run

[code]

Config is not implemented in C10 yet

[2016-03-17 22:03] yashha commented on #17
Still no characters, but the map is loading and the cities are shown :+1:

[2016-03-17 22:07] AlexMoroz commented on #17
Are there some errors except missing map parts?

[2016-03-17 22:09] AlexMoroz commented on #17
Did you add jquery and bootstrap(js & css)?

[2016-03-17 22:10] yashha commented on #17
`Uncaught ReferenceError: realm is not defined`
I think its caused by you :)

[2016-03-17 22:11] AlexMoroz commented on #17
oh, nobody merged my pull request =(

[2016-03-17 22:13] AlexMoroz commented on #17
gotmap@0.0.23 was published
check again now please

[2016-03-17 22:24] yashha commented on #17
`Uncaught ReferenceError: realm is not defined`
`XHR finished loading: GET "https://raw.githubusercontent.com/Rostlab/JS16_ProjectC_Group10/develop/data/cities.js".`
`XHR finished loading: GET "http://localhost:8080/sockjs-node/info?t=1458253163869".`

[2016-03-17 22:41] AlexMoroz commented on #17
still? did you download a new version?

WHAAAAAT?

ok, will look at this tomorrow

[2016-03-17 22:47] yashha commented on #17
The XHR are no errors, just the realm error is there

[2016-03-17 23:12] mammuth commented on #35
Subtask of #37

[2016-03-18 02:04] jorjo1 opened #50 "Configuration file"
This will be needed in order to establish a connection with a service like:

- Google Analytics

- Twitter API

- ...

Subtask of #37

[2016-03-18 14:18] yashha opened #51 "Add node multicore support"
https://nodejs.org/api/cluster.html

[2016-03-18 14:30] kajo404 commented on #31
Ok so now that we cleared some things up offline here are some updates.
The functions listed above with take a json with the parameters and a callback function.
The callback function will take the a json as a parameter. I will gill our index.js with dummy data so you can have a look and know what to expect. I will update here when it is available

[2016-03-18 15:28] sacdallago commented on #51
This is a brilliant idea and very easy to implement as long as you pay attention to what code to include in the workers and what to include in the master.
1. **Workers with little code are happy workers! :)**
2. **The master doesn't need to service anything**

Just as a small example, this is what I did last week: https://github.com/sacdallago/pssh/blob/master/index.js#L14

Notice the if/else

[2016-03-18 16:03] sacdallago opened #52 "Semantics"
From the Online Oxford Dictionary:

https://github.com/Rostlab/JS16_ProjectF/blob/develop/.travis.yml#L13

[2016-03-18 17:37] yashha commented on #52
@sacdallago I thought it is ok, because it is encrypted.
https://docs.travis-ci.com/user/deployment/heroku/

[2016-03-18 17:50] #52 closed

[2016-03-18 19:59] jorjo1 opened #54 "Router: highlight navigation for parent pages"
Navigation and routing are doing fine, but we just have to fix this when we address to a e.g. characters/:id
![image](https://cloud.githubusercontent.com/assets/2246472/13890496/06f5a858-ed4c-11e5-9b20-f22e7e0b3929.png)

![image](https://cloud.githubusercontent.com/assets/2246472/13890558/5e6eaf30-ed4c-11e5-8a13-574d1fe3f2fd.png)

[2016-03-18 20:29] mammuth commented on #54
Yep, I thought about this aswell when I implemented the highlighting.

In non react apps my approach might be to just add the "active" class to
the "characters" menu item when you're at a characters detail page.

Any ideas how to do it nicely in our setup?

On Fri, Mar 18, 2016, 20:59 Georgi Anastasov notifications@github.com
wrote:

[2016-03-18 20:31] jorjo1 commented on #54
This is what I would do too, but I am waiting for @yashha to say his opinion, because he set up the routing. If it is not possible, I will do it with "active"-class.

[2016-03-18 21:07] jcebel commented on #31
You can find the package at npm under the name 'gotdailysentiment'. Documentation will come. As long it is still missing consult our Readme in the Repository.
Please be aware of the fact, that the functions are not implemented yet. But they return some dummy data to play. Enjoy :-)
I will close this issue as Project D5 does not expect that they have to change the functions anymore- still: feature

[2016-03-18 21:13] AlexBeischl commented on #17
If you want, we  (@mbandle @tPiffrader & myself) can have a skype meeting with you tomorrow, to answer some of your questions regarding the integration of our map

[2016-03-18 21:30] yashha commented on #17
I have time
Do you have already a time?

[2016-03-18 21:42] bandle commented on #17
Do you have any suggestions? As long as not before 10am its fine :)

[2016-03-18 21:46] yashha commented on #17
maybe 10am :D

[2016-03-18 21:49] jorjo1 commented on #17
It works for me at anytime also not earlier than 10am (_pls_). So 10 or 10:30 will do. Vote!

[2016-03-18 21:49] AlexBeischl commented on #17
I can't join the meeting earlier than 11:30, because I have a appointment.

Therefore I would suggest we can start at this time.

[2016-03-18 21:49] jorjo1 commented on #17
12 o'clock it is then

[2016-03-18 23:54] jorjo1 commented on #41
Or Hodor. More like it, right. :wink:

[2016-03-19 01:39] jorjo1 commented on #54
Here is also a bug, I am just organizing stuff we should probably debug at some time.

![image](https://cloud.githubusercontent.com/assets/2246472/13895942/b1646d04-ed7b-11e5-99f2-4824c444fe80.png)

[2016-03-19 02:50] jorjo1 commented on #42
http://schema.org/docs/gs.html

Testing tools:
https://dev.twitter.com/docs/cards/validation/validator
https://developers.facebook.com/tools/debug/
http://www.google.com/webmasters/tools/richsnippets
http://developers.pinterest.com/rich_pins/validator/

And also very important (SEO):
https://moz.com/blog/seo-cheat-sheet

:muscle:

[2016-03-19 06:12] #35 closed

[2016-03-19 06:12] mina-zaki opened #59 "Api call for character"

[2016-03-19 06:47] mina-zaki opened #61 "Api call for top PLOD"

[2016-03-19 09:21] #5 closed

[2016-03-19 09:28] yashha opened #63 "Navbar transparency"
Navbar isn't transparent in branch 404

[2016-03-19 10:49] yashha opened #64 "Attribution of mediaWiki"
@sacdallago wrote:
can you make it very, very clear somewhere on the webpage that the more people contribute to the (media)wiki, the better the data will be for those who scrape the wiki the first time?

We could throw it in the footer if it is very important, otherwise also in the about page?

[2016-03-19 10:55] yashha opened #65 "Attribution"
We have to collect here who _externals_ have to be attributed:
 - ~~Project Member~~
 - ~~Tutors~~
 - [MediaWiki](http://gameofthrones.wikia.com/)
 - [Westeros Wiki](http://awoiaf.westeros.org/)
 - [404img](http://vignette4.wikia.nocookie.net/hieloyfuego/images/4/43/Hodor_HBO.jpg/revision/latest?cb=20130815031401)

@Andrew094 Your are responsible for static content don't you?

[2016-03-19 11:00] #54 closed

[2016-03-19 11:01] bandle commented on #17
how are you called on Skype? I'm maxiban

[2016-03-19 12:22] jorjo1 commented on #65
I assume we are just posting every single source we have used. I have used for now this picture
http://vignette4.wikia.nocookie.net/hieloyfuego/images/4/43/Hodor_HBO.jpg/revision/latest?cb=20130815031401

[2016-03-19 14:41] bandle commented on #17
@yashha
Focussing the zoom on characters works now
 `map.focusOnCharacter(id)`
and the map will zoom In. This is automatically performed when adding a new character.

Also we added the 2 helpers `showAllCharacters` and `hideAllCharacters`

[2016-03-19 14:49] jorjo1 commented on #20
Come on!
**Somebody** has to do this. Just do a pull request so we can put it right in place. Otherwise the task will be assigned to somebody else. :see_no_evil: :sweat:

[2016-03-19 14:52] #41 closed

[2016-03-19 14:52] jorjo1 commented on #63
This one is fixed with #66

[2016-03-19 14:52] #63 closed

[2016-03-19 14:59] Andrew094 commented on #20
Yes, I am looking at it right now

[2016-03-19 15:56] Andrew094 commented on #65
yes, thank your for opening the issue. Everything that should appear on the attributions on the about page, can be listed here.

[2016-03-19 16:58] yashha commented on #20
@Andrew094 Looks really good on desktop, but [mobile](http://tinypic.com/r/29fpag0/9) ;)

[2016-03-19 18:39] AlexMoroz commented on #17
Integrated.

main.jsx

[code]

MapComp.jsx

[code]

@yashha
![screen shot 2016-03-19 at 19 24 20](https://cloud.githubusercontent.com/assets/5850187/13900603/4fd010d6-ee0a-11e5-9ace-b48d9f2ce00d.png)

[2016-03-19 18:41] AlexMoroz commented on #17
It has slider error, but it works fine, I've already ask C10 about slider.
And time line doesn't appears. But it's not an integration problem.

[2016-03-19 19:03] AlexMoroz commented on #17
@yashha

fix for the timeline:
add jquery-ui package

[code]

[2016-03-19 19:19] AlexMoroz commented on #17
`gotmap@0.1.0` published, should work now

[2016-03-19 20:38] bandle commented on #17
Docs for our API  are online:
https://github.com/Rostlab/JS16_ProjectC_Group10/wiki

[2016-03-19 21:24] #20 closed

[2016-03-19 23:29] jorjo1 commented on #59
@mina-zaki we need also getCharacters() with a possibility to return an array of GoT-characters according to a pagination.
For example: assume we display 20 profiles per page (n)
first page: 0-19 (n=0)
second page: 20-39 (n=1)
and so on..
:eyes:

[2016-03-19 23:58] mammuth commented on #64
closing in favor of #65

[2016-03-19 23:58] #64 closed

[2016-03-19 23:59] mammuth commented on #19
ToDo:
- [ ] Descriptions
- [ ] Attributions (s. #65 )
- [ ] Contributors data (make them send their data in our schema so we can copy it in)

Contributor-Schema:

[code]

[2016-03-20 00:13] mammuth opened #73 "Characters-Listing: Pagination"
Loading almost 2K characters is nonsense and takes a lot of time :-1:

@mina-zaki for the logic part, @yashha for the represnation :kissing_heart:

[2016-03-20 01:06] mammuth opened #74 "Mobile: Close menu on item selection"
Right now:
- open toggle menu on the top right on a phone
- select another page like about
The target page will load, but the navigation drop down stays "open"  and overlays the content

Should be:
- navigation should toggle invisible after selecting a page

[2016-03-20 07:14] mina-kleid commented on #73
exactly, i was fighting with project A over it.
https://github.com/Rostlab/JS16_ProjectA/issues/89

[2016-03-20 09:53] yashha opened #77 "Fix router error"
Warning: [react-router] It appears you have provided a deprecated history object to `<Router/>`, please use a history provided by React Router with `import { browserHistory } from 'react-router'` or `import { hashHistory } from 'react-router'`. If you are using a custom history please create it with `useRouterHistory`, see http://tiny.cc/router-usinghistory for details.

[2016-03-20 09:53] yashha commented on #38
#77

[2016-03-20 10:20] sacdallago commented on #23
Hey, I saw the draft page, looks nice!
a few suggestions:
- add some color for the number in PLOD (red > 60, gray 60 < < 40, green < 40 , or similar) in general, make features like sentiment and PLOD stick out more, that's what differentiates _us_ from everyone else.
- will you also display some graphs on the page? If I don't remember incorrectly one of the twitter groups has implemented an impres

[2016-03-20 10:34] sacdallago commented on #59
@jorjo1 already been discussed here https://github.com/Rostlab/JS16_ProjectA/issues/89

Btw I noticed that you are loading all char + their pictures when opening /characters (p.s.: the page is called `character` but the link is `characters`, stay consistent).
Are the calls to get the images and the data separate? Because if that is the case: first get the "soft data", then get the images. This way

[2016-03-20 10:35] yashha opened #78 "Sorting, Filtering"
SortBy
 - Name
 - Populatity?
 - **PLOD**

Filter by
 - House
 - Gender

[2016-03-20 10:37] sacdallago commented on #73
I don't recall exactly how the calls are implemented, but if the images are separated from the soft data, even loading 2K entries shouldn't take > than 3 seconds. I discussed [here](https://github.com/Rostlab/JS16_ProjectF/issues/59#issuecomment-198806107) how you could avoid delays

[2016-03-20 11:20] sacdallago commented on #42
Btw: https://www.facebook.com/aSongOfIceAndData
@Rostlab/js_cs_sose_2016_students please:
1. Like the page
2. Tell me who wants to be added as moderator/editor/admin

[2016-03-20 12:21] mina-kleid commented on #78
getCharacters: function(page, sort, filter)
sort = {field: Constants.SORT_FIELD_NAME, type: Constants.SORT_TYPE_ASC};
filter = {field: Constants.FILTER_FIELD_NAME ,value: "LyRI"};

[2016-03-20 13:40] mammuth commented on #42
Cool! :+1:
You can add me to the page if you still need some mods/admins - I'm used to
managing pages ;-)
(I wrote to the page on FB - so you know my account)

On Sun, Mar 20, 2016 at 12:20 PM Christian Dallago notifications@github.com
wrote:

[2016-03-20 13:42] jorjo1 commented on #42
I can be a mod/admin too :monkey: .

Although, we think that the Facebook page should be named "A song of ice and data" just like in the URL because GoTShow is not self-explanatory. :question:

[2016-03-20 13:45] yashha commented on #42
Me too :point_up:

[2016-03-20 13:46] ghost commented on #42
I already asked for on facebook ;)
Still available. :P

[2016-03-20 13:53] mammuth opened #79 "Twitter Live-Tweets on all(?) pages"
By @sacdallago :
_"Implement a twitter widget/live feed at the bottom of the page / at the bottom of every page (even the home, with search query gotshow) :D you style a widget via the [twitter widget page](https://twitter.com/settings/widgets) and then in every page you just need to make sure you change the search term, aka:"_
[code]

_"Where you see got you change it to your URL-ENCODED search t

[2016-03-20 13:54] mammuth commented on #23
Thx for the feedback, as you said - that's a really rough draft.
- Header-Background: Originally we were planning to add big background images of the character. However, I'm afraid we don't find a lot of good images we can use for that, so another idea was to add the map as a background there with the characters last-known-location.
- We wanted to display character-specific tweets on the char-deta

[2016-03-20 13:54] jorjo1 commented on #79
I had this also in mind, thanks for the reminder ^^

[2016-03-20 14:24] mammuth commented on #17
The map is really sexy guys!
You did an **absolutely great job** on that! :heart_eyes:

[2016-03-20 14:26] mammuth opened #80 "Map: Link "more Info" to our detail-page"
Should we link the "More Info" link on the map to our detail-page?

[2016-03-20 14:58] sacdallago commented on #42
I'll add you all, just write me a PM on the fb page.
Yeah, I would rename it, if only I found the DAMN setting somewhere.

EDIT: write me on fb with the email you have associated with it. I can't add you my link, name, or anything on that shit

EDIT 2: Nah. Was able to do it somehow. Fuck facebook

[2016-03-20 15:01] jorjo1 commented on #42
info/?tab=page_info is where you find and change page name :)

[2016-03-20 15:22] jorjo1 commented on #59
@sacdallago we have observed already that the page names may cause some problems, we are changing their names some time soon.

The `/characters` page you see loads all at once, but we did the pagination yesterday (and display only max. 20 characters per page), which makes it a lot faster to render. One problem we still have is that we get the whole JSON info at once (~600kb), instead of small chun

[2016-03-20 15:35] yashha opened #82 "Fix issue that fonts are not imported in the characters/:id route"

[2016-03-20 15:51] gyachdav commented on #73
Sorry but project A has nothing to do with the pagination. They serve data not representation. Representation is your territory.

What you should be doing here is create the logic that would tell you how many characters you can fit in one page. Let's say it's 20. Then you find out what sorting scheme you're using. Let's say it's alphabetical ascending. Then you check what filtering is used. Let's

[2016-03-20 16:02] gyachdav commented on #59
-1 for loader.

@sacdallago I think it's time to open an issue describing what goes in the character portal page.

It should be (in my opinion):
1. a few blocks of top 5s. Top loved on Twitter top hated top survivors top most likely to die . Top popular (using the upcoming pageRank).
2. A big autocomplete text box that allows you to search your favorite character. With advanced controls for sortin

[2016-03-20 16:09] jorjo1 commented on #78
I am not opening a new issue for that, but @mina-zaki please take this into account:
In favor of #59 we should add a search-field where names are autocomplete.

[2016-03-20 16:11] gyachdav commented on #79
Cool! But I think that having Thai on the home page is enough. No need to saddle the inside pages with too much unrelated info.

Sent from my iPhone

[2016-03-20 16:17] jorjo1 commented on #59
Thank you for the feedback. Ok, no loading bar.

We are filtering and sorting the character-list in #78, a search field is to be added.
Results are also to be shown dynamically.

Furthermore (Ranking page):
- I am doing a field with the two most controversial characters ( 1 vs. 1 ) which data comes from PLOD.

[2016-03-20 17:16] jorjo1 commented on #80
Yes, we should most definitely do it!
Any idea if we should edit the map or open an issue at Project C?

[2016-03-20 19:14] mammuth commented on #33
ToDo:
- [x] Searching by (at least) name

[2016-03-20 19:16] mammuth commented on #23
Main-ToDo:
- [ ] What to do with the big header?
- [ ] Query actual data
- [x] Highlight PLOD & Sentiment section
- [x] color for the number in PLOD (red > 60, gray 60 < < 40, green < 40 , or similar)
- [x] Show character on the already integrated map

[2016-03-20 19:52] yashha commented on #80
https://github.com/Rostlab/JS16_ProjectC_Group10/issues/180

[2016-03-20 20:20] jorjo1 commented on #74
Also: set header z-index so that it's not overlayed by the page content

:+1: ready

[2016-03-20 21:25] yashha opened #89 "CharacterStore uses the API wrong"
Update getCharacter in model
e.g.
wrong: `https://got-api.bruck.me/api/characters/56ea4cff8c27d7c637505db5`
right: `https://got-api.bruck.me/api/characters/byID/56ea4cff8c27d7c637505db5`

[2016-03-20 21:59] mammuth commented on #89
afaik @mina-zaki discussed with the guys from A, that id'd be the best solution to query by name. Furthermore then we can use the names to identify the characters which is also more SEO-friendly.

[2016-03-20 22:40] bandle commented on #17
Map looks good on your page :+1:

@yashha
What do you think about changing the CSS property `height` in .gotmap-dropdown to `max-height`

This would fix this minor issue
![bildschirmfoto 2016-03-20 um 23 40 21](https://cloud.githubusercontent.com/assets/11232638/13907717/204900f2-eef5-11e5-9398-2c02a70dd1df.png)

[2016-03-20 22:54] yashha commented on #89
Already in branch character-page-georgi fixed

[2016-03-20 22:56] #89 closed

[2016-03-20 22:58] yashha opened #91 "Change API queries by id to queries by name"

[2016-03-21 02:34] yashha commented on #77
Todo: hash routing to normal routing

[2016-03-21 02:34] #73 closed

[2016-03-21 04:00] #82 closed

[2016-03-21 04:00] mammuth commented on #82
Old / Gone / not reproducible.

[2016-03-21 04:02] mammuth opened #99 "Character-Listing: Search not only by name"
But also by culture and house.

so the internal filterCharacters() function needs to be updated.

[2016-03-21 04:03] mammuth commented on #78
Closing in favor of #99

(Also autocomplete is probably not needed because we have instant feedback / filtering :sunglasses: )

[2016-03-21 04:03] #78 closed

[2016-03-21 04:11] mammuth commented on #30
Guess this meta-like issue can be closed. If there's something else, feel free to open a specific issue.

[2016-03-21 04:11] #30 closed

[2016-03-21 04:11] mammuth commented on #33
Done by #96

[2016-03-21 04:13] #3 closed

[2016-03-21 06:28] TheZoker opened #100 "Show loading animation until characters loaded"
On the [characters page](https://got-stats.herokuapp.com/#/characters) it takes some time for the characters to show. So until this is done, there should be a loading animation, which tells people (especially with slow internet), that there is still something loading.

Good animations can be generated [here](http://loading.io/) or samples can be found [here](http://preloaders.net/en/circular)

One

[2016-03-21 07:40] jcebel commented on #31
Hey I'm sorry to bother you again. We had to change the configuration part of Project_D-5.
It is explained in the Readme or at the [npm page](https://www.npmjs.com/package/gotdailysentiment) in the section **Usage**.
You may close this issue, if there are no other questions :)

[2016-03-21 08:21] mammuth opened #101 "Implement Twitter Sentiments"
NPM Package: https://github.com/Rostlab/JS16_ProjectF/issues/31
https://www.npmjs.com/package/gotdailysentiment

ToDo (Implementation):
- [ ] Character-Detail Page
- [ ] Rankings
- [ ] ? Home ?

[2016-03-21 08:27] mammuth commented on #31
Thx @jonny3576.

Questions:
- On npm in the configuration of the package it says something like: _"database -> This is the access to the database, where the tweets are stored by the package "_ I don't quite get this; we're not running an own database for the page, we just query our stuff from A.
- Something different: Could you remind me how the other Twitter-Group is providing their data to us? D

[2016-03-21 08:31] kajo404 commented on #31
Hi @mammuth , I am from Group 5. Don't worry about the configuaration. We will provide you with everything you need to run the package.

I do not know what the other group is doing though :/

[2016-03-21 09:32] mina-kleid commented on #91
Right now the calls to API is by name, it UI who is sending the ID.
@mammuth @jorjo1 should be assigned to it and send the Name instead of ID to the getCharacter(name)

[2016-03-21 09:41] sacdallago commented on #31
The other group is one step behind you @kajo404 , https://github.com/Rostlab/JS16_ProjectD_Group4/issues/44

[2016-03-21 10:14] sacdallago commented on #80
Quick update: I has been ruled that **F** should do this ;)
Who was that static content responsible of yours? :P :P

[2016-03-21 10:15] sacdallago commented on #74
I also submitted an issue to **C10** to see if they can implement something similar for the right bar on the map. I know there's another issue somewhere in your repo discussing something similar, so: heads up

[2016-03-21 10:15] jorjo1 commented on #80
@sacdallago @Andrew094

[2016-03-21 10:25] sacdallago commented on #89
Guys, also for you! Set up a config point where by changing just 1 LOC I can change from bruck's server to localhost:12345.

I'm gonna personally take down Bruck's server to make sure your babies (aka projects) can survive without their mama

[2016-03-21 10:32] sacdallago commented on #100
There's a discussion EVEN between me and @gyachdav .

Loading animations can be **SHIT** if you implement them obtrusively, but they can be made very nicely. Like: http://nanobar.micronube.com

But @gyachdav said no :( so, no?

[2016-03-21 10:32] #100 closed

[2016-03-21 10:41] mammuth commented on #50
More settings:
- Database host (for switching bruck-server with localhost-db-server)

[2016-03-21 10:43] jorjo1 commented on #19
@Rostlab/js_cs_sose_2016_students please have a look, let's add all your data here by editing this comment:
(link is optional)

[code]

:exclamation: if you cannot edit this comment, just post your details on this thread :) If you have no webpage or do not want us to show your github acc, just leave it blank. We have got this covered ^^

[2016-03-21 10:50] sacdallago commented on #19
Which team should I put? :laughing: `ABCDEF`

[2016-03-21 10:57] jorjo1 commented on #19
@sacdallago there is a special place for you!

[2016-03-21 10:57] mammuth commented on #19
Hm... I'm not sure how I implemented it.
Maybe It will be like Schrödingers Cat: Either @sacdallago is in the about page, or not. We can't tell right now :wink:

[2016-03-21 11:04] sacdallago commented on #19
@jorjo1 I hope that's not a threat :laughing: :smiling_imp:

[2016-03-21 12:11] jorjo1 commented on #23
**The big header**
For now we are displaying only a background picture which is common for every character in the page.

**Query actual data**
We are actually doing this: we display image, name, some other details that are stable on the API. We do [this](http://m.xkcd.com/1658/) now.

[2016-03-21 12:19] jorjo1 commented on #101
I think that @mina-zaki should help us out here and connect this with the package on our side.

[2016-03-21 12:39] kordianbruck commented on #19
Can't edit it, as I'm not a collaborator in this project #fail

[2016-03-21 12:46] jorjo1 commented on #19
@kordianbruck just put your details as a comment on this issue and I carry about that ^^

[2016-03-21 12:47] kordianbruck commented on #19
[code]

[2016-03-21 12:48] julienschmidt commented on #19
[code]

D4, in case that matters :wink:

[2016-03-21 13:09] jorjo1 commented on #100
#46

[2016-03-21 13:10] jorjo1 commented on #46
#100. I close this too.

[2016-03-21 13:10] #46 closed

[2016-03-21 13:34] kajo404 commented on #19
[code]

[2016-03-21 13:36] #91 closed

[2016-03-21 13:38] jorjo1 opened #103 "Fix buggy popovers on Rankings page"

[2016-03-21 14:00] marcusnovotny commented on #19
[code]

D4

[2016-03-21 15:28] ghost commented on #19
[code]

[2016-03-21 15:48] gyachdav opened #105 "Enable a web api for the map"
I forgot who is the router person for F so I'm just assigning this to @mammuth feel free to re-assign.

We would probably want to distribute links that will load the map + some characters + paths.

for instance I would like to show that Stannis Baratheon and Renly Baratheon meeting in S2E8 resulted in Renly's death (see screen shot). I would encode this into the URL such that we would have the fol

[2016-03-21 15:53] bandle commented on #105
@yashha
You can use our API functions to accomplish that. When something is missing, just tell us

[2016-03-21 15:54] sacdallago commented on #105
@gyachdav too much API here. It's just a _route_ with url-encoded queries :D

[2016-03-21 15:56] gyachdav commented on #105
yup should've been "expose the map's API" but okay I think they got the message

On Mar 21, 2016, at 11:54 AM, Christian Dallago notifications@github.com wrote:

[2016-03-21 15:56] yashha commented on #105
Looks doable ;)

[2016-03-21 15:57] gyachdav opened #106 "Title of web app is A Song of Ice and Data"
Currently  just says "of Ice and Data"

[2016-03-21 15:58] sacdallago commented on #106
@gyachdav I was waiting if they would eventually realize this :D :D :D You just had to take the fun away :laughing: :laughing: :laughing: :laughing:

[2016-03-21 15:59] gyachdav commented on #106
hey if it's not on the issue list its not a bug :p

On Mar 21, 2016, at 11:58 AM, Christian Dallago notifications@github.com wrote:

[2016-03-21 16:00] #106 closed

[2016-03-21 16:08] gyachdav opened #107 "Don't show PLOD for dead characters"
while amusing, showing PLOD for dead characters doesn't make us look good. please enable a check for that.

[2016-03-21 16:34] Hack3l commented on #19
[code]

[2016-03-21 16:54] AlexBeischl commented on #19
{
  name: "Alexander Beischl",
  link: "https://github.com/AlexBeischl",
  team: "C"
}

and my team members:

{
  name: "Maximilian Bandle",
  link: "https://github.com/mbandle",
  team: "C"
}

{
  name: "Tobias Piffrader",
  link: "https://github.com/tPiffrader",
  team: "C"
}

[2016-03-21 17:08] yashha commented on #19
{
name: "Yasar Kücükkaya"
link: "http://www.yk-code.de"
team: "F"
}

[2016-03-21 18:00] Logarythms commented on #19
{
name: "Camille Mainz",
link : "https://github.com/Logarythms",
team : "D"
}

[2016-03-21 18:48] gyachdav opened #110 "Static content editing"
We would like to be able to edit static content on the site without hardcoding the text into your source.

We propose you implement one of the following two solutions:

1. create a db (relational would be better/faster than NoSQL) and pull the content from there. We will just use our credentials (which you will share with us) to publish static content.

1.  create a separate branch for static cont

[2016-03-21 19:10] gyachdav commented on #100
Why is loading 20 characters taking time?

is this because the images are taking time to load? put a place holder, set a promise to switch to the actual image once its there and you're done.

Is this because you are loading char data from A for 20 characters? you should not be loading data for 20  characters, this is not needed.

Since we're all professionals here, I want to understand if this ani

[2016-03-21 19:41] AlexMoroz commented on #19
{
name: "Oleksii Moroz",
link: "https://github.com/AlexMoroz",
team: "E"
}

[2016-03-21 19:46] jorjo1 commented on #101
@yashha can you please help us out here?

[2016-03-21 21:16] yashha commented on #110
I would try this one ;)
https://github.com/osnr/react-markdown-loader

[2016-03-21 21:18] gyachdav commented on #37
We decided to keep this issue open and invite @Rostlab/js_cs_sose_2016_students to contribute.

(@Rostlab/js_cs_sose_2016_students check out [staging on heroku](got-stats.herokuapp.com) to see the current state of the web app)

basically this should serve as a wish list for features we would like to see on the website. Remember this is **not a base requirement list *\* for alpha but instead more o

[2016-03-21 21:34] subburamr commented on #19
{
name : "Subburam Rajaram",
link : "https://github.com/subburamr",
team : "B"
}

[2016-03-21 21:36] jcebel commented on #31
This is something You can ask @CavidSalahov. He is responsible for integrating D4.

[2016-03-21 21:53] #103 closed

[2016-03-21 21:56] asesselmann commented on #19
{
name: "Anna Sesselmann",
link: "https://github.com/asesselmann",
team: "B"
}

[2016-03-21 21:58] sacdallago commented on #19
I'm loving this. This is like the perfect method to know: who reads github issues and when :dancer:

[2016-03-21 23:20] #77 closed

[2016-03-21 23:35] ghost commented on #19
{
name: "Santanu Mohanta",
link: "https://github.com/santanumohanta",
team: "D"
}

[2016-03-21 23:48] docjag commented on #19
{
name: "Sohel Mahmud",
link: "https://github.com/docjag",
team: "A"
}

[2016-03-22 06:21] #61 closed

[2016-03-22 06:22] mina-kleid commented on #107
@gyachdav Isnt this related to the guys implementing PLOD, we are just presenting what they provide us with ?

[2016-03-22 06:40] mina-kleid commented on #99
i have added the house and culture to the filter constants
@mammuth @jorjo1 sort and filter have to be in the following format, otherwise they will be ignored
filter has to have field and value, sort has to have field and type
 sort = {field: Constants.SORT_FIELD_NAME, type: Constants.SORT_TYPE_ASC};
 filter = {field: Constants.FILTER_FIELD_NAME ,value: "LyRI"};

[2016-03-22 07:04] mammuth commented on #99
I haven't looked into the code, however this sounds like we can search for either name OR house right?

However atm we only have one big search bar that should be able to search for everything you throw into it, so the user doesn't need to hassle around with filters.

When the user enters a term, we can't provide your function with the information whether it's a name or a house. Your function shou

[2016-03-22 07:06] mammuth commented on #99
Edit: to let the possibility for strict filters there, maybe just add a parameter "search" or "term" which is searched in all characters names, cultures and houses?

[2016-03-22 07:08] mina-kleid commented on #99
@mammuth ok makes sense, will fix it

[2016-03-22 07:10] mammuth commented on #99
:heart_eyes:

[2016-03-22 07:21] mina-kleid commented on #99
So now here are how the filter and sort look like
sort = {field: Constants.SORT_FIELD_NAME, type: Constants.SORT_TYPE_ASC};
filter = {value: "LyRI"};

if you want to skip any of them (i.e. no filter or sort), please provide empty objects {}

[2016-03-22 08:23] jsalahov commented on #19
[code]

[2016-03-22 08:44] nicoladesocio commented on #19
`{name: "Nicola De Socio",
link: "https://github.com/nicoladesocio",
team: "B"}`

[2016-03-22 10:37] ThuyNganTran commented on #19
{
    name: "Thuy Tran",
    link: "https://github.com/ThuyNganTran",
    team: "B"
}

[2016-03-22 10:43] goldbergtatyana commented on #19
{
name: "Tatyana Goldberg",
link: "https://rostlab.org/~goldberg/",
team: "Mentor"
}

[2016-03-22 12:42] nicoladesocio commented on #107
in the json file there is a field for the current status ("status") and a field for the predicted status ("status_pred").

edti: since you use the functions and not the json file, we'll need t provide functions for that,and maybe a field in the database?

[2016-03-22 12:59] mina-kleid commented on #107
@nicoladesocio currenty the call to the api (https://got-api.bruck.me/api/characters/plod/:count) returns me only characters.
Yes providing an api to get PLOD without the dead should work.

[2016-03-22 12:59] jcebel commented on #19
{
name: "Jonas Ebel",
link: "https://github.com/jonny3576"
team: "E"
}

[2016-03-22 13:09] vanp33 commented on #19
{
name:"Dat Nguyen",
link:"https://github.com/vanp33",
team:"D"
}

[2016-03-22 13:18] nicoladesocio commented on #107
Done, now I'll create an issue in project A, to ask if they can provide the API

[2016-03-22 13:32] gyachdav opened #117 "Presenting PLODs"
Maybe this has been discussed in other issues but I couldn't find any ref.

1. We need ideas on how to present PLODs. Whatever you suggest think intuitive, colorful, entertaining.

1. When presenting PLOD you should have some text (either on the page or in a pop hint) that explains that predictions are based on data from the books **and not the show **. then make a reference to the description of

[2016-03-22 13:36] mammuth commented on #107
So this can be closed, since as soon as A implemented that feature we will get PLOD's only for alive characters, right?
https://github.com/Rostlab/JS16_ProjectA/issues/106

[2016-03-22 13:36] #107 closed

[2016-03-22 13:48] gyachdav commented on #80
@Andrew094, any updates here? the map landmark pop ups still load with an error message instead of content.

@AlexBeischl @mbandle @tPiffrader

[2016-03-22 13:54] gyachdav commented on #79
Honestly this doesn't look good and im not even sure why it's there. What do we get from distracting our users with a feed of tweets? [#toomanywidgets](https://twitter.com/hashtag/toomanywidgets?src=hash)

I vote to remove this all together.

[2016-03-22 14:54] mammuth opened #118 "Twitter D4 Integration"
@CavidSalahov we have been told, you are responsible for integrating D4.
Could you please show us how to integrate the twitter sentiments of D4?

(Integration of the other twitter group D5 is discussed in #31, current dev-status of both implementations is tracked in #101)

[2016-03-22 15:49] julienschmidt commented on #101
Here is Group 4's API draft: https://github.com/Rostlab/JS16_ProjectD_Group4/issues/25#issuecomment-199776355

Please comment on it!

[2016-03-22 16:35] gyachdav opened #119 "Footer"
- [x] Show version number (take automatically from build)

- [x] show CC4 license(and link to [CC4](https://creativecommons.org/licenses/by/4.0/))

[2016-03-22 17:11] jsalahov commented on #118
As pointed out by @julienschmidt see [here](https://github.com/Rostlab/JS16_ProjectD_Group4/issues/25#issuecomment-199776355)

[2016-03-22 17:15] julienschmidt commented on #118
AFAIK no npm package exists yet. I'll implement mocks of those API functions later.

[2016-03-22 17:25] yashha commented on #79
I don't like it too, especially it's not mobile friendly.
We could put it in sth. like a sidebar on big desktops but not in middle of the page and not on mobile devices.

[2016-03-22 17:27] jsalahov commented on #118
Package publishing is one command away, https://www.npmjs.com/package/gotsentimental
This one is old however

[2016-03-22 17:41] Andrew094 commented on #119
as for the version number we haven't used any tags so far to generate a verion string like "v1.0", instead
when running
git describe --all --long
on develop you would get something like:
heads/develop-0-g1506382

so I think this is more a configuration thing in the build system

[2016-03-22 17:43] gyachdav commented on #119
cool do whatever you need to make it work then :+1:

[2016-03-22 18:08] yashha commented on #119
https://api.github.com/repos/Rostlab/JS16_ProjectF/tags

[2016-03-22 18:17] Andrew094 commented on #119
and how is this version number increasing ?

[2016-03-22 18:51] yashha commented on #119
Look again, I made a new label. :)

[2016-03-22 19:34] sacdallago commented on #119
@gyachdav the licence in most repos is CC3

[2016-03-22 19:54] sacdallago commented on #79
Well. Life is about mistakes and I made yet another one. Sorry for this guy's, if you think it has to go, let it go. :(

[2016-03-22 22:48] yashha opened #120 "Loading image"
I have a suggestion for a character list loading image:
http://all-free-download.com/free-vector/download/set_of_realistic_swords_and_knifes_311832.html

one sword + circle animation ;)

[2016-03-23 00:15] jorjo1 commented on #120
Assign me! We will discuss on it later.

[2016-03-23 03:05] gyachdav commented on #119
CC3 it is then.

[2016-03-23 03:06] gyachdav commented on #110
Status? who should be assigned here? don't let this issue drag for too long.

[2016-03-23 03:17] gyachdav commented on #110
We need a blog like capabilities the react-markdown-loader may be a nice alternative although seems to be a bit immature.
another example i found is https://github.com/misterfresh/react-drive-cms although also not clear how far into development it is.

Does react have a registry of recommended add-ons?

p.s.
another interesting options:
1.  http://moox.io/statinamic/
2. http://braddenver.com/blog/

[2016-03-23 03:36] yashha commented on #110
It looks cool http://misterfresh.github.io/react-drive-cms/#!/home
But i think it's difficult to setup

Maybe thats more easy http://moox.io/statinamic/

[2016-03-23 03:50] yashha commented on #110
Drive based cm would be really interesting though

[2016-03-23 09:49] jcebel commented on #31
We concluded yesterday, that no external database will be needed at this point of time. So configuration will be slightly changed. I will update the readme as soon as [this](https://github.com/Rostlab/JS16_ProjectE/issues/17) has been solved.

[2016-03-23 10:21] yashha opened #122 "Integration of D5 on server"
Todo:

- [x] Add package gotdailysentiment
- [x] execute it inside server.js
- [x] make routes for the functions

[2016-03-23 10:33] yashha commented on #122
Routes:
base route = `/d5/` ?
- [ ] `/gotdailysentiment?characterName=Jon Snow&date=2016-03-18T`
- [ ] `/getSentimentForNameTimeframe?name=Some Name&startDate=ISODate&endDate=ISODate`
ISODATE = `<JJJJ-MM-DD>T<hh:mm:ss>`
- [ ]  `/topSentiment?name=Some Name&startDate=ISODate&endDate=ISODate`
- [ ]  `/topSentiment?name=Some Name&startDate=ISODate&endDate=ISODate`

[2016-03-23 10:55] yashha opened #123 "Integration of D4"
- [ ] install package `gotsentimental`
- [ ] Instructions come here

salahov is still working on the integration part so we can't fully integrate it yet

https://github.com/Rostlab/JS16_ProjectD_Group4

[2016-03-23 11:01] yashha commented on #105
done

[2016-03-23 11:01] #105 closed

[2016-03-23 11:02] yashha commented on #101
#122

[2016-03-23 11:02] #101 closed

[2016-03-23 11:03] jcebel commented on #122
The wiki will change slightly: Here is the draft: [Readme.md](https://github.com/Rostlab/JS16_ProjectD_Group5/blob/documentation/README.md)

Especially runTwitterREST and STREAM.

[2016-03-23 11:03] #59 closed

[2016-03-23 11:04] julienschmidt commented on #118
Version 0.0.2 has an early version of the API (no CSV yet). I'll update the README and publish an example later.

[2016-03-23 11:05] yashha commented on #50
More: https://github.com/Rostlab/JS16_ProjectD_Group5/blob/documentation/README.md

[2016-03-23 11:07] yashha commented on #123
#118 already existing

[2016-03-23 11:07] #123 closed

[2016-03-23 11:09] #38 closed

[2016-03-23 11:12] #17 closed

[2016-03-23 11:16] yashha opened #124 "Fix map design issues"
- [x] hide characters bar on mobile devices
- [x] fix width of map on detail page
- [x]  #17

#17

![bildschirmfoto 2016-03-20 um 23 40 21](https://cloud.githubusercontent.com/assets/11232638/13907717/204900f2-eef5-11e5-9398-2c02a70dd1df.png)

[2016-03-23 11:18] yashha commented on #17
Thanks @mbandle

[2016-03-23 11:39] gyachdav commented on #38
Can you give us access to analytics? Thanks

Sent from my iPhone

[2016-03-23 13:10] julienschmidt commented on #118
You can find our example app (which we use for testing & dev) here: https://github.com/Rostlab/JS16_ProjectD_Group4/tree/develop/example/app

Doc in README and CSV generation still missing, otherwise the API should be more or less complete now.

[2016-03-23 13:27] yashha commented on #105
https://got-stats.herokuapp.com/map?character=Renly%20Baratheon&character=Stannis%20Baratheon&begin_time_line=s1e1&end_time_line=s2e8

[2016-03-23 13:35] yashha opened #125 "Integration of D5 on client"

[2016-03-23 13:42] sacdallago commented on #38
thx @yashha

we are gonna put anyway another analytics code for production @gyachdav
I have it read already and it's been running on the dummy got.show website!

Also, latest update: I got SSL working, we'll see if I can set it up again for the real thing.

[2016-03-23 14:04] gyachdav commented on #105
Nice, thanks @yashha!

Minor bug: https://got-stats.herokuapp.com/characters/Walder%20Frey
brings up Walder Frey (son...) in the map and not the original Lord of the Crossing.

@mbandle @AlexBeischl can you also take a look?

[2016-03-23 14:19] sacdallago commented on #34
Not gonna be done? Closing!

[2016-03-23 14:19] #34 closed

[2016-03-23 14:20] yashha commented on #105
The problem is there is no lord
https://got-stats.herokuapp.com/characters/?search=Walder%20Frey&page=1
Or not the right image

[2016-03-23 14:29] gyachdav commented on #110
Oh man this task should've been picked up by the person who is suppose to pick it up so.... @Andrew094 you're it! this one is URGENT!

[2016-03-23 14:32] gyachdav commented on #110
@yashha very nice of you to pick up tasks, but there are other members in this group and we expect everyone to pull their weight. Reassigned to @Andrew094

[2016-03-23 14:40] gyachdav commented on #80
C'mon guys.. why is this not handled?

[2016-03-23 14:44] gyachdav commented on #105
i think that the map' API will load with the first Walder Frey it find if there are many chars that start with this name. @mbandle please change to first look up exact match and then fall back to string expansions.

[2016-03-23 15:42] sacdallago commented on #42
We also have a google page:
- https://plus.google.com/116097558064950719723

It can be also used to post videos on youtube! So, if you want access gimme your google credentials.

We have twitter:
- https://twitter.com/asoiad

Ask me for the password (it's a community effort, afterall :D )

Anything else? Close this?

[2016-03-23 15:50] sacdallago commented on #105
The guys from A should have implemented a strict attribute that you can pass to the call... @Adiolis ?

[2016-03-23 15:56] gyachdav commented on #42
@sacdallago you rock man!

On Mar 23, 2016, at 11:42 AM, Christian Dallago notifications@github.com wrote:

[2016-03-23 16:41] sacdallago commented on #117
https://github.com/Rostlab/JS16_ProjectB_Group7/issues/5

[2016-03-23 17:57] sacdallago commented on #42
@Andrew094 https://builtvisible.com/react-js-seo

[2016-03-23 17:57] jorjo1 commented on #99
perfect! Can we close this one?

[2016-03-23 18:00] jorjo1 commented on #119
@gyachdav @sacdallago are third parties allowed to use our projects for commercial purposes? This is an important milestone while including the license.

[2016-03-23 18:24] sacdallago commented on #119
There's a cascade of licenses which gives me the impression that being in CC3 saves us from violating other licenses and also gives us enough accountability in case people reuse our stuff. Commercial purposes goes back to the cascade of licenses :D

[2016-03-23 20:52] #80 closed

[2016-03-23 21:09] jorjo1 opened #127 "Create fallback page for No-JS users"
Title says it all. We should have this case covered, when someone has forbidden JS on his browser.

Maybe this: http://reactjs.net/guides/server-side-rendering.html

[2016-03-23 21:10] yashha commented on #127
I thought about integrating server-side rendering if it works, that would be seo friendly, too.

[2016-03-23 21:30] yashha commented on #127
But now I think even with serverside rendering we still need to think about non js users.

[2016-03-23 21:32] mammuth commented on #127
I'd suggest just making a simple note saying "to use this page please enable Javascript in your browser"...

[2016-03-23 22:06] jcebel commented on #31
Ok you may get the first (hopefully) working package at npmjs. Use it but please keep in mind that it only contains dummie data and functionality, which will be implemented in the upcoming days.

[2016-03-23 22:13] julienschmidt commented on #118
Documentation is ready: https://github.com/Rostlab/JS16_ProjectD_Group4#usage

Please let us know in case you find any problems or miss some feature.

[2016-03-23 23:04] jorjo1 commented on #23
Characters catalog small thumbnails should make the text look nicer.
- [ ] add padding
- [ ] word wrapping via css

![image](https://cloud.githubusercontent.com/assets/2246472/14003556/e1dbec4c-f153-11e5-8264-873e4f4067fc.png)

[2016-03-23 23:07] jorjo1 commented on #99
@yashha
I found a bug when I search for names which contain special characters!
https://got-stats.herokuapp.com/characters/Rhaena%20Targaryen%20(daughter%20of%20Daemon)
For example search for ( .. or sth else.

:exclamation: :exclamation: :exclamation: really important

[2016-03-23 23:09] yashha commented on #99
https://github.com/Rostlab/JS16_ProjectA/issues/111

[2016-03-24 01:38] gyachdav commented on #79
was this removed?

[2016-03-24 06:54] mina-kleid commented on #122
How about making it a bit RESTful
for example :
GET: /sentiment?name=jon
GET: /sentiment?name=jon&startDate=ISODate&endDate=ISODate
GET: /sentiment/top?startDate=ISODate&endDate=ISODate
GET : /controversial/top
and so on ?

[2016-03-24 10:48] sacdallago commented on #127
@mammuth is right. Com'on, even opera mini on my phone is semi-js compatible :D

[2016-03-24 10:48] #127 closed

[2016-03-24 11:04] sacdallago opened #129 "Link page to the official social channels"
Hey guys,

please link the real [social media pages](https://github.com/Rostlab/JS16_ProjectE/issues/18) in the footer now :)

[2016-03-24 11:50] Andrew094 commented on #129
I have already done this as part of #119

[2016-03-24 11:50] #129 closed

[2016-03-24 11:57] Andrew094 commented on #110
@gyachdav Can you explain which static content you mean?
at the moment I only consider the about page and the about section in the footer as static.

[2016-03-24 13:26] yashha commented on #122
like this?
- [x] `/sentiment?name=Jon Snow&date=2016-03-18T`
- [x] `/sentiment?name=Jon Snow&startDate=ISODate&endDate=ISODate`
- [x]  `/sentiment?name=Jon Snow&season=1&episode=1`
- [x]  `/sentiment/top?number=3&startDate=ISODate&endDate=ISODate`
- [x]  `/sentiment/worst?number=3&startDate=ISODate&endDate=ISODate`
- [x]  `/sentiment/talked?number=3&startDate=ISODate&endDate=ISODate`
- [x]  `/sent

[2016-03-24 14:45] mina-kleid commented on #122
@yashha yea sounds great, i will change them in my branch to match these calls.
Is there a way for other date format? maybe timestamp ?

[2016-03-24 14:52] yashha commented on #122
The problem is i have to parse it and give it in this format to the function
And  ISODate is a timestamp format

[2016-03-24 14:59] jcebel commented on #122
Yeah this was a design decision made by Project D5. Can't remember why, but there was a good reason.

[2016-03-24 15:05] mina-kleid commented on #122
@yashha then let it be ISODATE if its easier for everybody :+1:

[2016-03-24 15:22] yashha commented on #122
Base route is "d5" or do you think base route can be also "/"?

[2016-03-24 15:24] mina-kleid commented on #122
Well the question is, are we showing sentiments from both ? like PLOD? or we integrate them to one ?
I believe in the ui design we only show one source
@mammuth @jorjo1

[2016-03-24 15:27] yashha commented on #122
D4 will have to run also on the server

[2016-03-24 15:29] mina-kleid commented on #122
@yashha yea but i mean if we have routes for D4 and D5, how we gonna show them on the UI ? we gonna show 2 sources for sentiements like we do the PLOD ? if we only show one then we make routes only for the one we choose or somehow merge them. Its a UI decision i believe

[2016-03-24 15:31] gyachdav opened #131 "Deployment"
Trying to deploy on my box (node v0.10.33, npm 1.4.28)

npm install works

after npm start I get the nastiness below (scroll down for errors) as well as an empty screen on localhost:8080. please advise.

guyyachdav$ npm start

 70% 1/1 build moduleshttp://localhost:8080/
webpack result is served from /
content is served from /Users/guyyachdav/Sites/JS16_ProjectF/public
404s will fallback to /index

[2016-03-24 15:33] yashha commented on #122
Well d4 provides only

[code]

But each character has attributes like

[code]

[2016-03-24 15:33] jcebel commented on #122
It was already discussed [here](https://github.com/Rostlab/JS16_ProjectF/issues/30).. Apparently you should integrate both. At least back in the days...

[2016-03-24 15:34] jcebel commented on #122
but they are very different those tools now.. Maybe this is not uptodate anymore

[2016-03-24 15:39] mina-kleid commented on #122
Ok now i get it, i believe some of them overlap(i.e. d5 top and d4 most popular), so its better to make d5/ and d4/

[2016-03-24 15:41] yashha commented on #131
Pastebin would be more suitable for the errorlog ;)
It seems like a problem with the css files,
What happens when you run
`npm run build`?

[2016-03-24 15:43] yashha commented on #122
Yea probably :)

[2016-03-24 15:44] gyachdav commented on #131
thanks for the quick response! here you go http://pastebin.com/JmJ3Gyhc

btw, trying to run this on develop

[2016-03-24 15:53] yashha commented on #131
I found an issue online
https://github.com/postcss/postcss-nested/issues/30

two options:
1. Update node, which i can recommend
2. Add to top of main.js: `require('es6-promise').polyfill();`

[2016-03-24 15:54] yashha commented on #131
for upgrading node, I like this snippet (ubuntu):

[code]

[2016-03-24 16:27] yashha commented on #118
@julienschmidt
Is this just demo data?
All three functions outputs the same
mostPopular, mostHated,mostDiscussed

[2016-03-24 16:39] gyachdav commented on #131
Cool that worked, thanks a lot!

btw the version on develop seems to be pretty much what is currently on heroku. I actually thought that issue #80  was fixed and merged but on the rev I just pulled form your develop branch i still see this:

![screen shot 2016-03-24 at 12 38 39 pm](https://cloud.githubusercontent.com/assets/4074881/14023957/58d92e68-f1bd-11e5-931a-6416ce6f5ec4.png)

I really need

[2016-03-24 16:42] yashha commented on #131
Oh I see the problem, its the city modal
Thats a quick patch

[2016-03-24 16:47] gyachdav commented on #131
Thanks!

Also seems like the version of the map being loaded by the website is older than current.

For instance, this is what i get running the the local instance from projectF develop

![screen shot 2016-03-24 at 12 44 33 pm](https://cloud.githubusercontent.com/assets/4074881/14024167/638da3ec-f1be-11e5-9a13-f6d939efe9e4.png)

and this is what i get when running from the map's staging site http:

[2016-03-24 16:54] yashha opened #132 "City modal"
Should the city modal in the map contain any information?
or an image?

[2016-03-24 16:56] yashha commented on #132
maybe sth like this?
http://awoiaf.westeros.org/index.php?title=Raventree_Hall&printable=yes

[2016-03-24 16:57] gyachdav commented on #132
yeah, although we havent seen this functionality in a while now it should show information pulled from the wiki. this was thoroughly discussed here https://github.com/Rostlab/JS16_ProjectC_Group10/issues/186

@mbandle @AlexBeischl @tPiffrader please chime in

[2016-03-24 16:58] gyachdav commented on #79
@jorjo1  please remove this. really burns my eyes :stuck_out_tongue_closed_eyes:

[2016-03-24 17:03] yashha commented on #132
Inclusion of wiki works for me

[2016-03-24 17:06] gyachdav commented on #132
as in you fixed it? or it just works for you as is?

[2016-03-24 17:09] yashha commented on #132
http://tinypic.com/r/2lvxw28/9

[2016-03-24 17:10] gyachdav commented on #132
looks awful :smile: I remember @mbandle showing a much nicer integration with the wiki.

[2016-03-24 17:14] gyachdav commented on #132
I really think there was just a callback that you needed to use to get the correct content pulled into this div and laid out nicely. @mbandle said the callbacks are described here https://github.com/Rostlab/JS16_ProjectC_Group10/wiki/Init-New-GoT-Map-and-Options

[2016-03-24 17:16] yashha commented on #132
I just wanted to show the functionality

Shell we make a completly new ui with the information given in the in the callback?

[2016-03-24 17:18] gyachdav commented on #132
no no, I remember they actually pulled in content from the wiki and showed it in the modal. Let's wait for them to respond before you start making new UIs. The solution to this should be very very simple.

[2016-03-24 17:44] sacdallago commented on #79
![](http://vignette2.wikia.nocookie.net/adventuretimewithfinnandjake/images/2/2b/Apply_cold_water_to_burned_area.jpeg/revision/latest?cb=20121007165231)

:D

[2016-03-24 17:46] sacdallago commented on #131
That's because it has not been republished. The guys are waiting to integrate their map back with A's data and will then publish. Patience guy :D

[2016-03-24 17:48] gyachdav commented on #131
fine

[2016-03-24 17:51] sacdallago commented on #122
Yes. They have differences in the implementation which is very good.
You can either present the data on separate pages or create one view where it all comes together (like if they have really orthogonal approaches).
Up to you!
But try to _exploit_ the advantages that the different approaches offer

[2016-03-24 17:53] sacdallago commented on #131
But in theory a simple package update on NPM will not change the functionality in the project (F). Meaning the map is modular (enough) and their changes shouldn't break the dependency.

[2016-03-24 18:02] jorjo1 commented on #79
Will do!

On Thu, Mar 24, 2016, 18:44 Christian Dallago notifications@github.com
wrote:

[2016-03-24 18:17] jorjo1 commented on #79
Done! Now I finally can close this one here. :surfer:

[2016-03-24 18:17] #79 closed

[2016-03-24 18:25] jorjo1 commented on #132
Hey!
Project C had a very nice representation of the wiki for each character when opened on the map. As far as I can tell they used a simple iframe, am I right?

[2016-03-24 19:05] julienschmidt commented on #118
That's because all values are still `0`. Expect the missing code for the actual analysis tomorrow or even later today.

[2016-03-24 19:42] gyachdav commented on #110
We would wanna have a block of text on the:
- homepage (maybe even two block of texts)
- about page
- character pages (optional)
- footer

[2016-03-24 19:43] gyachdav commented on #119
Currently the footer says " 2016 Game of Thrones" note that the name Game of Thrones is copyrigthed and we cannot use it.

It should really say  "2016 A Song of Ice and Data" instead

[2016-03-24 19:45] yashha commented on #119
and version with spaces and an - seperated

[2016-03-24 19:54] gyachdav opened #135 "Create and install a favicon"
subject says it all

[2016-03-24 21:41] mammuth opened #136 "Character-Listing reset to page 1 when typing in new search"
- Browse to something like _/characters/?search=stark&page=3_
- Type in a new query like _wenda_.
- It won't show any results because it's querying _/characters/?search=wenda&page=3_, but for the query _wenda_ there are not 3 pages of results.

Expected:
- page attribute should reset to page=1 when typing in a new query

[2016-03-24 22:36] yashha commented on #118
Routes:
`/d4/csv/:slug.csv`
`/d4/chart.css`
`/d4/chart.js`

`/d4/sentiment/top?number=4`
`/d4/sentiment/worst?number=4`
`/d4/sentiment/discussed?number=4`

`/d4/character/:id` e.g. 56ea4cfe8c27d7c637505648

[2016-03-24 22:50] #122 closed

[2016-03-24 23:01] yashha opened #139 "D4 integration on client"

[2016-03-24 23:01] yashha commented on #118
Server part done, dummy data is provided
closed in favor of #139

[2016-03-24 23:01] #118 closed

[2016-03-24 23:02] #31 closed

[2016-03-25 00:07] #131 closed

[2016-03-25 08:07] sacdallago commented on #132
Yes. That was the case. @AlexBeischl @mbandle some yelp here?

[2016-03-25 09:22] bandle commented on #132
We have used an Ajax request to the wiki page and parsed the outcome via jQuery to get only the relevant parts and include them into the modal. This doesn't work online because the wiki guys prohibited that their site is used via Ajax Requests by setting the CORS Headers: https://en.wikipedia.org/wiki/Cross-origin_resource_sharing

So iframe would possibly work in the modal. If you want to have a

[2016-03-25 12:58] AlexMoroz opened #141 "Why don't you use "latest" for npm packages?"
Update the gotmap package and, please, use word "latest" for package version.

[2016-03-25 13:50] mammuth commented on #136
Follow-Up-Problem:
Now the page parameter is more or less just ignored.
Hard browse something like http://localhost:8080/characters/?search=stark&page=3 and it will show search results for stark on page 1.

[2016-03-25 14:03] gyachdav opened #144 "Character search - sort by importance"
A has now fully integrated "pageRank" into the character model. Make sure that all listings and search results are sorted (desc) using the pageRank measure.

[2016-03-25 14:18] mammuth commented on #141
You're right, for our "internal" packages like the map, this absolutely makes sense! :+1:

[2016-03-25 14:46] #141 closed

[2016-03-25 14:46] #136 closed

[2016-03-25 14:53] sacdallago commented on #141
Also don't forget to npm update from time to time on your local copy of the repo ;)

[2016-03-25 15:00] yashha opened #147 "Not stagable"
I made a mistake and pulled in my currently not stagable server.js to develop
I'm still waiting for https://github.com/Rostlab/JS16_ProjectD_Group5/issues/60
I'll probably tweak the server.js in the next hour, so we can stage with own dummy d5 data.

[2016-03-25 15:26] gyachdav commented on #132
@yashha given the info we now have from @mbandle when do you expect this issue to be resolved? we also have #124 to finish here before we can call the map component fully integrated. Please assign someone from your team to take care of this ASAP. This is now high priority.

[2016-03-25 15:28] gyachdav commented on #132
@AlexBeischl @mbandle @tPiffrader please see this to completion (i.e. make sure that you get all the functionality actually working on the web app as expected).

[2016-03-25 15:30] yashha commented on #147
I thought about all this and there is another problem
We have no local mongodb on our heroku
And d4 requires one

[2016-03-25 15:41] gyachdav opened #148 "Character listing"
I'm still confused as to why this page needs a loader or why rendering a table with the names and place holders for images takes longs. please explain and/or better yet come up with a way to optimize loading of this page.

[2016-03-25 15:46] yashha commented on #148
The thing because there is a loader is that the images are not lazily loaded into the page, so it doesn't render the list component before the images has been loaded.
Your right it's improvable

[2016-03-25 15:50] gyachdav commented on #147
do they really need the db? @kajo404, I thought you said you just got rid of your mongodb. if not then you'll have to stage this on mlab. Heroku charges for mongo.

[2016-03-25 15:53] gyachdav commented on #147
oops @kajo404 is actually D4. never mind then @kajo404 you were dragged into this by accident :laughing:

okay @yashha just ask the E rep for D5 to deploy their mongo to mlab then.

[2016-03-25 15:54] kajo404 commented on #147
you still got something mixed up ;) I am D5 but we do not use mongodb anymore

[2016-03-25 15:55] gyachdav commented on #147
right whatever @kajo404 said :laughing:

[2016-03-25 15:56] yashha commented on #147
not @kajo404  but @julienschmidt :)

[2016-03-25 15:59] julienschmidt commented on #147
Yes. We store our tweets there and we never wanted to get rid of that. You really don't want a full re-crawl every time again. It takes a few hours...
Where you host this is up to you / project E. We just write the code :wink:

[2016-03-25 16:02] julienschmidt commented on #147
Does heroku charge for CPU time or (outgoing) HTTP requests too?

[2016-03-25 16:03] yashha commented on #147
Heroku needs a credit card, that is what I noticed.

Ok then, @CavidSalahov  can you provide a patch for your package to give us the abillity to provide a db in the config?

[2016-03-25 16:05] julienschmidt commented on #147
Take a look at [`defaults.json`](https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/defaults.json). There is already an URI for the MongoDB. You can overwrite every value by passing an object with that attribute to [`cfg.extend(obj)`](https://github.com/Rostlab/JS16_ProjectD_Group4#gotsentimental.cfg.extend).

[2016-03-25 16:08] yashha commented on #147
Ah awesome! Thanks :)
It should be described in the docs though ;) @CavidSalahov

[2016-03-25 16:10] julienschmidt commented on #147
Well.. it is already in the docs :wink:

I'm currently running a full crawl (it will take a few hours more...). I can provide you a dump of all tweets for testing purposes. Maybe you can also dump it in the MLab DB somehow.

Just write me an email to ihatemongodb at js-web dot eu and I'll reply with a link later.

[2016-03-25 16:11] yashha commented on #147
Your right, I just needed this :)
`mongodb://username:password@host:port/db`

OK, thanks

[2016-03-25 16:11] #147 closed

[2016-03-25 16:37] gyachdav commented on #148
see suggestion how to improve here #100

[2016-03-25 16:44] julienschmidt commented on #144
An option to sort alphabetically by name would also be nice.

[2016-03-25 16:55] julienschmidt opened #150 "character search - pagination"
The pagination currently shows only 3 pages [prev, current, next]. It should Also provide a link to the first and last page:

[1] .... [41] **[42]** [43] ... [1337]

[2016-03-25 17:06] marcusnovotny opened #151 "SEO Performance"
Hey Project F!

I’ve volunteered to oversee our SEO performance and was asked by @gyachdav to open an issue here to set quantifieable & trackable goals for ourselves. I’ll keep this issue up to date.

#### Overall recommendations (specific goals to be set)
* Minimize page loading time
* Avoid long URL parameters
* Be mobile ready: See https://developers.google.com/webmasters/mobile-sites/mobile-se

[2016-03-25 17:32] julienschmidt commented on #147
Is it possible to write files on Heroku? (which then are read & served again)

Currently we're generating static CSV files. If it isn't possible on Heroku, we'd have to write the CSV data to MongoDB too

[2016-03-25 17:34] yashha commented on #147
I think it is possible.
I try it today
Are they numered from 0 to x ?

[2016-03-25 17:35] jorjo1 commented on #150
We did assume it is not necessary to put the first and the last page.
We will think this through, again, tho.

[2016-03-25 17:35] julienschmidt commented on #147
nope.
episodes.csv
ramsay-snow.csv etc

Probably we would also need subfolders for each character where we store more precise data per month or even day

[2016-03-25 17:36] julienschmidt commented on #147
https://github.com/Rostlab/JS16_ProjectD_Group4/pull/70

[2016-03-25 17:37] yashha commented on #150
I would like to have a first and last page button, its currently really empty :)

[2016-03-25 17:38] julienschmidt commented on #150
And impractical. Let's say you have the ranking implemented and I'm looking for the least popular character. I certainly would stop clicking the next page after 2-3 pages when I don't even know how many pages there are.

[2016-03-25 17:41] jorjo1 commented on #151
Hi and thanks for this nice issue.

Do you think we should put highest priority on keywords like "game of thrones" and "got" - simply because the chance we get among the first results on Google right after we publish the site is small. I would personally experiment with some combinations with character names and cities and so on.
What do you think about this?

[2016-03-25 17:52] julienschmidt commented on #147
https://devcenter.heroku.com/articles/how-heroku-works#dyno-manager

It takes some time to generate all the files. Is it OK to generate them on each start?

[2016-03-25 17:53] yashha commented on #147
Yea no problem, and we use one dyno

[2016-03-25 18:22] marcusnovotny commented on #151
Hey! Yeah, that's also my biggest concern, competition and that we only have very limited time to get us ranked. I think we should still try to optimize for game of thrones and got because those terms are gonna end up in a lot of long tail keywords anway.

Character names & cities is a good suggestion. I personally put a lot of hope into our [landing pages](https://groups.google.com/forum/#!topic/

[2016-03-25 19:15] gyachdav commented on #151
I observed that the awoiaf wiki is pretty popular mostly because of the nature of the search terms i.e. there’s not too many pages out there titled `Tybolt Lannister` or `Salladhor Saan`. Is it correct to assume that by just titling a page with a unique name we’ll get first page listing on google? If so then we should definitely make sure that all the character pages are crawled and that the title

[2016-03-25 22:15] marcusnovotny commented on #151
I think SEO is always part witchcraft at some point - you can never really tell how high you'll get. But I agree that there's a good chance. Let's put a bit more crawlable text on the character pages (at least alt text for the tools), there's no serious competition for those less known characters, could be a cheap catch!

[2016-03-26 11:53] mammuth commented on #132
So beside the iFrame solution there would be a hacky one aswell I guess. The iframe solution should be straight forward, but well... then we have iframes.

The hacky solution:
CORS is just a security method in the browsers. So what should work is to query some script that is executed by our webserver on the modals-callback, like:

[code]

Where the script at /wikirequest/ might be eg. a php script

[2016-03-26 11:57] sacdallago commented on #132
I like no iframes :D :D :D let's see how much this can be done.

Last resort is to redirect on a new tab to the corresponding wiki page. Ugly AF. Again: **LAST RESORT**

[2016-03-26 12:34] sacdallago commented on #151
Of course pagerank does it's thing, so having many different in- and out-going links will do a lot for visibility toohohoho

**EDIT**: which means, on our page: Links to HBO, to GoT home, to GoT official FB,...

[2016-03-26 12:40] sacdallago commented on #150
Thanks for noticing this. The way it is now is also kind of misleading :D I thought there would only be 3 pages :P I was like *woah, they really rationed well and 2000 chars fit sooooo nicely into three pages" :sun_with_face:

[2016-03-26 12:42] sacdallago commented on #144
I remember an issue somewhere were you were discussing various sorting mechanisms?

[2016-03-26 12:45] sacdallago commented on #148
Well. Lazy loading **is** the way to solve this, @yashha already knows the solution :) And I discussed this in some issue in the past also.
Would be nice if someone could take care of improving this, someone != @yashha or @jorjo1 :D

[2016-03-26 12:45] julienschmidt commented on #151
AFAIK Google & co completely ignore keywords in the meta tags since several years already.
You should use certain keywords (and related words / variations) in the visible text instead.

Edit: nvm, you already said

[2016-03-26 12:46] sacdallago commented on #151
Yeah.. that becomes a problem with js rendered pages ;)

[2016-03-26 12:50] julienschmidt commented on #151
Google works well with js rendered pages.

You should however set a canonical URL tag on each page: https://moz.com/blog/canonical-url-tag-the-most-important-advancement-in-seo-practices-since-sitemaps

[2016-03-26 14:18] mammuth commented on #132
I got it running by using my suggestion above. :+1:
Will create a PR later when I was able to ask some questions about our server-component and the webpack-setup that are related to my implementation.

<img width="1680" alt="screen shot 2016-03-26 at 15 11 15" src="https://cloud.githubusercontent.com/assets/3121306/14060483/ad7f0ad8-f365-11e5-919e-94875b3b4b00.png">

[2016-03-26 14:36] mammuth commented on #124
_hide characters bar on mobile devices_
at least the search bar should probably stay there (maybe moved above the map itself).

[2016-03-26 15:14] #110 closed

[2016-03-26 19:41] sacdallago commented on #132
Might not look as fancy, but for me it works. @gyachdav ?

[2016-03-26 19:46] sacdallago commented on #124
@mammuth https://github.com/Rostlab/JS16_ProjectC_Group10/issues/181

[2016-03-26 19:48] sacdallago commented on #124
P.S.: that _is_ working: http://map.got.show
Don't know if the package is at its last update though.

[2016-03-26 19:51] mammuth commented on #124
Nice that we have duplicate issues...
<img width="362" alt="screen shot 2016-03-26 at 20 06 54" src="https://cloud.githubusercontent.com/assets/3121306/14062123/13eb9c04-f394-11e5-8311-c2331543b647.png">
PS: In the latest map package I pulled today when I started working on this, the map wasn't mobile friendly yet.

[2016-03-26 19:54] sacdallago commented on #124
:D My bad, I was watching this issue and was convinced you were having other responsive problems. Should have pulled out that issue earlier... I'm a terrible, terrible procast... **Project Manager**! :laughing:
Anyway according to npm the version on npm is up to date (9h ago): https://www.npmjs.com/package/gotmap

sure you `npm update`ed?

[2016-03-26 19:55] mammuth commented on #124
Jep. I started this morning before that version was released :stuck_out_tongue_winking_eye:

[2016-03-26 19:58] #124 closed

[2016-03-26 19:59] sacdallago commented on #124
fififi I feel so guilty now :eyes:

[2016-03-26 20:03] gyachdav commented on #132
which branch should i switch to, to see this working?

[2016-03-26 20:05] mammuth commented on #132
city-modal.
Since the dev-server seems to be broken, you need to build and serve it: npm run build, npm run serve.

[2016-03-26 20:06] gyachdav commented on #132
btw, @mbandle in the version we saw a week+ ago the modal was showing the details from the wiki plus an image of a map from the wiki. did you guys pulled any specific divs, images from the awoiaf wiki when showing this modal?

[2016-03-26 20:07] mammuth commented on #132
In the modal that is working now, I removed all images from the pulled wiki-page, because the browser won't be able to show them due to the wiki's CORS-Headers.

[2016-03-26 20:36] #150 closed

[2016-03-26 20:46] mammuth commented on #148
It doesn't look like the long delay is due to the loading of the images. I think on the first opening of the characters page the client requests the server to load all characters from A's database, then the server gives the client the first 20 to render. ( @mina-zaki might complain here, if that's not correct, please :wink: ).

So there are two solutions:
- A implements something like an offset /

[2016-03-26 21:18] gyachdav commented on #132
Doesn't work on my local instance :worried:
![screen shot 2016-03-26 at 5 15 25 pm](https://cloud.githubusercontent.com/assets/4074881/14062468/860705e4-f376-11e5-8db3-8d459e3138b8.png)

also clicking on the Show in Wiki button generates this url http://awoiaf.westeros.org/index.php/[object%20Object] which is clearly malformed

[2016-03-26 21:18] gyachdav commented on #132
oops clicked wrong button- reopenning

[2016-03-26 21:21] gyachdav commented on #132
btw i did:
1. npm install
2. npm start

as @yashha  suggested.

[2016-03-26 21:42] gyachdav commented on #117
Status? only 3 days overdue :laughing:

[2016-03-26 21:46] mammuth commented on #132
@gyachdav I guess you overlooked my note above, that the dev-server seems not to work right now.

You can test the modal by building the app:
- npm run build
- npm run serve

The link to the wiki was a bug, thanks :+1:

[2016-03-26 22:02] gyachdav commented on #132
yup I did try the build procedure you suggested but got this:

http://pastebin.com/4vHiBuMH

seems that the build process fails on:

 Twit config must include `consumer_key` when using user auth.

[2016-03-26 22:06] gyachdav opened #156 "MODULE_NOT_FOUND error"
$ npm start

{ [Error: Cannot find module './config/config.json'] code: 'MODULE_NOT_FOUND' }

Is that critical?

[2016-03-26 22:06] yashha commented on #132
You still have to
1. duplicate the config.default.json to config.json
2. add twitter access keys to gotsent in the config
3. add mongodb access url to gotsent.mongo.uri  in the config (I will send it to you by email)

Or wait untill we stage.
It is currently stageable.

[2016-03-26 22:08] gyachdav commented on #132
k ill wait then. thanks!

On Mar 26, 2016, at 6:06 PM, yashha notifications@github.com wrote:

[2016-03-26 22:08] yashha commented on #132
No problem :)
Ill probably have to explain the steps in more detail in the readme

[2016-03-26 22:09] yashha commented on #156
Its because from now on you need a config file to contribute. :)

[2016-03-26 22:09] #156 closed

[2016-03-26 22:30] yashha opened #157 "Add url from API A to config file"
We need to be aware that the we want to have the api in the future local, so lets put it into the config.

[2016-03-26 22:33] yashha opened #158 "Make webpack-dev-server runnable combined with the server"
At the moment the webpack-dev-server wont start the server.js
So we wanna integrate it into the server.js so it starts the dev server in the background and we have all route available while developing.

[2016-03-26 22:38] yashha commented on #157
Oh I see its already in the config under gotsent
We don't need it two times

[2016-03-26 22:38] #157 closed

[2016-03-26 22:41] mammuth commented on #132
Merged into dev

[2016-03-26 22:41] #132 closed

[2016-03-26 22:45] gyachdav commented on #132
Thanks. please stage.

[2016-03-26 22:47] yashha opened #159 "Caching of characters"
Sounds like a good thing to do, it would reduce the loading time by a lot and additionally shinks the bytes getting loaded from the api from 700kb to 1kb

[2016-03-26 22:47] yashha commented on #148
Closed in favor of #159

[2016-03-26 22:47] #148 closed

[2016-03-26 22:49] #144 closed

[2016-03-26 23:02] gyachdav opened #160 "Heading for map in character page"
The map view is missing a heading.

Should say something like:

Places associated with Character_Name

[2016-03-26 23:20] yashha opened #161 "Fix map issues"
https://github.com/Rostlab/JS16_ProjectC_Group10/issues/214

[2016-03-26 23:44] gyachdav commented on #42
Are all requirements from this and #151satisfied? can this be closed?

[2016-03-27 00:30] #161 closed

[2016-03-27 09:55] sacdallago commented on #158
Maybe an **E** person can help? They are experts in webpack by now :D @TheZoker @Emiliyana

CC @AlexMoroz @CavidSalahov @jonny3576 @AngeKouemo

[2016-03-27 10:00] sacdallago commented on #159
MMMHHHHHHHH you can implement a cache, yes. But set a reasonable TTL. Maybe configurable ;)

[2016-03-27 10:01] sacdallago commented on #159
P.S.: have you considered using [Redis](http://redis.io/) for this? :)

[2016-03-27 10:02] yashha commented on #158
Is done already :)
I worked on it in the night :D
#158

[2016-03-27 10:04] sacdallago commented on #158
:D and sleep, sometime? :D

[2016-03-27 10:07] yashha commented on #158
Or woke up right now :D

[2016-03-27 11:00] mammuth commented on #159
We have three layers we can cache:
- Database (by the A guys)
- Application / views (by @mina-zaki )
- http caching (by @sacdallago )

With those three we could probably handle multiple thousand requests per second.
So no, we didn't consider adding yet another layer just for the purpose of adding more complexity. :wink:
(imho)

[2016-03-27 11:23] mammuth commented on #159
@kordianbruck said they will run the scrappers probably once a day.
Actually someone could say, the whole app is more or less 'static'.

So there is no need to hit the database on every request. Actually their isn't a reason for hitting node / react on every request either, I think.

We could go and add a varnish in front of the most things. Even the TTL can be pretty high probably.

My experience

[2016-03-27 12:11] yashha commented on #159
We could just make an one day save the characters to an local json file and make a custom route for it.
http://merencia.com/node-cron/
We could even make it variable.

[2016-03-27 12:35] jorjo1 commented on #160
@gyachdav sorry for asking but I got a bit confused: What should "Places associated with" stay for? Is it some kind of an area we need to pull in?

[2016-03-27 12:55] gyachdav commented on #160
Edited the issues. This is just the heading that should come above the map. Should say Places associated with character_name where character_name is the character entry you are shown great on the page e.g on Jon snow page you will show

Places associated with Jon Snow

Sent from my iPhone

[2016-03-27 13:05] jorjo1 commented on #160
All right. There was actually some title, but it was never to be seen because of the map positioning. This is now a fact in #164

[2016-03-27 13:37] sacdallago opened #165 "Overlapping text in About"
![screen shot 2016-03-27 at 3 36 06 pm](https://cloud.githubusercontent.com/assets/6240943/14065626/b74a3368-f431-11e5-9e28-0043d2d85005.png)

It's platform independent ;)

[2016-03-27 13:38] gyachdav commented on #165
Don't worry about that. It'll be completely redesigned.

Sent from my iPhone

[2016-03-27 13:59] gyachdav opened #166 "Map on dev server still looks funny on mobile."

[2016-03-27 14:10] gyachdav commented on #139
Where does this stand?

[2016-03-27 14:10] gyachdav commented on #125
Where does this stand?

[2016-03-27 14:25] mammuth commented on #166
There is an issue in the map repo for that.

I reverted the commit that did some optimizations for the map on mobile because the map-guys did some more advanced stuff. Probably they didn't yet published it when we delayed yesterday evening.

So probably the "funnyness" is going to resolved in future gotmap versions.

[2016-03-27 14:31] gyachdav commented on #166
Cool please reference the issue here so we won't forget about it. Thanks.

Sent from my iPhone

[2016-03-27 14:44] mammuth commented on #166
Was on mobile before, otherwise I had linked the issue. :+1:

https://github.com/Rostlab/JS16_ProjectC_Group10/issues/181

[2016-03-27 14:48] #158 closed

[2016-03-27 14:56] jorjo1 commented on #165
Hello @gyachdav, do you have something in mind? Some mockups maybe? What I understand from your comment is that either you will share some ideas or we are responsible for this.

[2016-03-27 15:40] gyachdav commented on #165
Hey yes sorry for not elaborating. Tomorrow we want to have a website design meeting and we want representative  from F to participate. In the meeting we will all decide on website structure (sections sub sections etc ) and how would pages look like. Currently we plan to talk around 9pm Munich time but this may shirt. Stay tuned.

[2016-03-27 15:57] jorjo1 commented on #165
I'm in.

I'm also available in the afternoon, so you can choose the most convenient time. :alarm_clock:

[2016-03-27 15:58] #160 closed

[2016-03-27 20:43] mammuth commented on #166
As discussed in the other issue, the responsiveness won't be included in the map-package itself. I'm on it to add it to our map-component.

[2016-03-27 21:39] #166 closed

[2016-03-27 22:30] marcusnovotny opened #169 "Landing Pages Discussions"
Hey Project F!

As promised, here's my next issue. I'm creating at least 5 landing pages from [this idea pool over here](https://groups.google.com/forum/#!topic/javascript-technology-2016/ziXPdSGQjqE) and need someone to help out with design & actual implementation!

### What's gonna be on those pages?
- SEO text
- Pictures / statistics / graphics
- views from our tools

I'll provide you with cont

[2016-03-28 10:22] sacdallago commented on #169
CC @Rostlab/js_cs_sose_2016_students

[2016-03-28 13:17] mammuth commented on #169
Wanna have a hangout this evening to discuss your plans?
Maybe with some other guys from F (@jorjo1)?

Furthermore plain html drafts won't make anything easier for us I'm afraid, because we need to "translate" them in react components :wink:
Or we serve those landing pages without react, but this obviously only works if we're not using any of our existing components.
But let's discuss those stuff

[2016-03-28 13:18] marcusnovotny commented on #169
Sure I'm home today

[2016-03-28 13:18] jorjo1 commented on #169
I am there!

On Mon, Mar 28, 2016, 15:17 Max Muth notifications@github.com wrote:

[2016-03-28 13:27] togiberlin commented on #169
Hello all, as I've written [here](https://github.com/Rostlab/JS16_ProjectA/issues/77), I'm also part of this task. However I have 3 exams (on 31st, 1st and 6th.)
After the 1st April I should be there for support regarding the statistics visualization.

[2016-03-28 13:34] marcusnovotny commented on #169
@togiberlin sorry for not getting in touch with you again until now, I'll send you the first page these days so you can have a look after the 1st and we can discuss what graphic to use together! Focus on your exams first :)
@mammuth @jorjo1 Would 7 PM be convenient for you? If there are no objections I'll post a hangout link shortly beforehand.

[2016-03-28 13:59] yashha commented on #169
I would be there too :)

Am 28. März 2016, 15:34, um 15:34, marcusnovotny notifications@github.com schrieb:

[2016-03-28 15:19] gyachdav commented on #165
We will have the meeting at 9pm CET. @jorjo1 what's your skype ID?

 @sacdallago @goldbergtatyana

[2016-03-28 15:21] jorjo1 commented on #165
I am jorjo.1 in skype :D

On Mon, Mar 28, 2016, 17:19 Guy notifications@github.com wrote:

[2016-03-28 15:39] jorjo1 commented on #165
But I think it'll be much more better if we take google hangouts or jitsi - we just share a link and anybody could join. Also the older versions of Skype don't allow screensharing or multi-cam.. :see_no_evil:

[2016-03-28 16:49] gyachdav commented on #165
yeah i know but hangouts already failed us once (the link didnt work) so we'll just use good old skype with its basic set of features

[2016-03-28 16:58] marcusnovotny commented on #169
[Be my guests!](https://hangouts.google.com/call/cpxgcpl4ircsffskkuvykaaykue)

@mammuth @jorjo1 @mammuth

[2016-03-28 17:28] mammuth commented on #169
Basic summary:
- Our "normal" website-pages probably suck in terms of SEO, due to the lack of meaningful text
- Essentiall: 2-3 Keywords per page. So we should focus the landing pages on Character/House + "Game Of Thrones"
- 300-400 words per landing-page
- We need catchy stuff like infographics to not lose the visitor due to boring SEO-text
- The 300 words need to be well structured and put into

[2016-03-28 17:48] mammuth commented on #135
This isn't closed, actually?!

[2016-03-28 18:35] #135 closed

[2016-03-28 18:37] mammuth commented on #120
If we cache the characters (or even better, @sacdallago puts an http cache in front of react) we probably don't need any loading images
See the caching issue: #159

[2016-03-28 18:37] #120 closed

[2016-03-28 18:40] mammuth commented on #165
I'm not sure I get it in time, I'll ping @jorjo1 to add me, as soon as I'm available. :blush:

[2016-03-28 18:46] julienschmidt commented on #19
The English name of TUM is "Technical University **of** Munich" btw
(See https://portal.mytum.de/corporatedesign/index_html/regeln/index_sprachregelung)

[2016-03-28 18:51] yashha commented on #165
skype: yasarkkk, I would like to attend, maybe I have some ideas

[2016-03-28 18:59] jorjo1 commented on #165
We are here, just testing: https://meet.jit.si/GoTJS

[2016-03-28 19:47] yashha opened #171 "Heroku demo site url change"
got-stats.herokuapp.com
->
got-show.herokuapp.com

[2016-03-28 19:49] mammuth opened #172 "Copyright of the header image?"

[2016-03-28 19:49] mammuth commented on #171
IMHO this doesn't make any sense - most people bookmarked / remembered the old url and after the initial deploy on got.show the heroku app won't be used by anoone else than the devs.

[2016-03-28 19:51] jorjo1 commented on #171
The page title was meant here! :D

On Mon, Mar 28, 2016, 21:49 Max Muth <notifications@github.com> wrote:

[2016-03-28 19:54] yashha opened #173 "Sorting renaming of options"

[2016-03-28 19:55] yashha opened #174 "Sorting options"
The options should be
Popularity
A to Z
Z to A

[2016-03-28 19:55] #173 closed

[2016-03-28 19:56] yashha commented on #171
Ah :D

[2016-03-28 19:57] mammuth commented on #171
Then this is closed in https://github.com/Rostlab/JS16_ProjectF/commit/3f14bf61eea43f9ee09ade425286b1324f32225c

[2016-03-28 19:57] #171 closed

[2016-03-28 19:57] mammuth commented on #174
If you mean "Name desc" should be named "Name Z to A" then this is closed in https://github.com/Rostlab/JS16_ProjectF/commit/68d1a5cd7a829a74a868b414bef5208a58964df5.

If not then the new final Sorting options are:
_Most popular (book) (default)_
Name A - Z
Name Z - A
Most liked (Twitter)
Most hated (Twitter)
Survival chance (comment: this is 100 - death_chance)
Death chance

As discussed in the m

[2016-03-28 19:58] yashha commented on #171
oh ok :D

[2016-03-28 21:07] mammuth opened #175 "Character-Detail: Info-Box"
Age
House
Title
Death (where) (kill the character if >100 years old)
Books
Episodes (if any)

Part of #23

[2016-03-28 21:10] mammuth opened #176 "Antagonists for homepage"
From our meeting:
_Rotation-Content:_
_2 characters (Arya vs Cersei, find out who are the main antagonists) have stats as on a ranking page (PLOD (with explanation), Sentiments) and one map under opposite images._

Please provide a list of antagonists we should display @sacdallago. We're not that into the show that we will find good ones :wink:

[2016-03-28 21:12] mammuth opened #177 "Homepage antagonists implementation"
_Rotation-Content:_
_2 characters (Arya vs Cersei, find out who are the main antagonists) have stats as on a ranking page (PLOD (with explanation), Sentiments) and one map under opposite images._

~~Take the list of #176.~~
Maybe fill their infos / image-link into a json file, so it'd be easy to change characters?

[2016-03-28 21:17] mammuth opened #178 "Character-Detail: PLOD Visualisation"
_To visualize the % of death from model 1 (better model) we can use an image similar to http://www.clker.com/cliparts/U/H/t/l/l/W/rip-tombstone.svg, progress bar in red_

[2016-03-28 21:19] mammuth opened #179 "Map: Show whole timeline by default"

[2016-03-28 21:22] sacdallago commented on #176
:D Neither am I. Never seen one episode, never read a book :D I think I am possibly the worst person to assign this to :laughing:

Assigned @gyachdav but he can delegate

[2016-03-28 21:43] mammuth commented on #179
Assigning this to @yashha because he already did some stuff regarding using url-params to share a episodeRange for the map.

[2016-03-28 21:52] yashha opened #180 "Map on map page is not flexible in height"
Map on map page is not flexible in height so the timeline is invisible on displays with a big width.

[2016-03-28 21:55] mammuth commented on #180
It more feels like it's the sidebare that prevents the timeline from moving up aswell on wide screens.

[2016-03-28 22:06] #180 closed

[2016-03-28 22:18] togiberlin commented on #19
{
name: "Togi Dashnyam",
link: "https://github.com/togiberlin"
team: "A"
}

[2016-03-28 22:34] julienschmidt commented on #118
Our API is now final and should soon be available in [v0.2.0](https://github.com/Rostlab/JS16_ProjectD_Group4/releases/tag/v0.2.0)

Your implementation should mostly look like our example app: https://github.com/Rostlab/JS16_ProjectD_Group4/blob/develop/example/app/app.js

Please notice that `gotsent.css` and `gotsent.js` do not provide an HTTP handler anymore, since it was just a dirty hack durin

[2016-03-29 08:58] mina-kleid commented on #125
@jorjo1 @mammuth How you sending the date for time frames for the twitter sentimetns?
String or date object ?

[2016-03-29 10:06] mina-zaki opened #182 "Character sorting"
From from latest discussion, character sorting should include twitter sentiments, plod, name, books.

The problem is there is no one place that provides all of this, we get basic character details from A, plod from a different request to A, and twitter sentiments from D4.
Its hard to sort on this scattered character data. One suggestion is to keep it simple for the first release and just sort on t

[2016-03-29 10:16] theocheslerean commented on #19
{
  name: "Theodor Cheslerean Boghiu",
  team: "A"
}

[2016-03-29 10:17] sacdallago commented on #182
You have a back-end now, right?
How about: You cache the chars you get from A, which is what you do anyway if I'm not mistaken, and simply store in the cache also some data like the PLOD and sentiment for the character. just for the sorting side. Sure, the data, especially the sentiment one, is not gonna be SUPER up to date, but if the cache has a 24h TTL, then you have a good enough aproximation

[2016-03-29 10:21] mina-kleid commented on #182
@sacdallago that means extra work and moving the sorting we have already implemented on client side to the backend and reimplementing it with merging and caching. Thats why add these extra sorting as a nice to have since we dont have the time on our side

[2016-03-29 10:25] sacdallago commented on #182
Good, this _could_ be done between FF and deadline.
My estimate is 2h work-work.
But do as you see fit!

[2016-03-29 11:11] kordianbruck commented on #159
What are we caching here? The HTTP requests to the API? The Wiki Pages? ???

You can hit the API any time, the API should do caching for any incoming requests if necessary.

[2016-03-29 12:25] #125 closed

[2016-03-29 12:25] #139 closed

[2016-03-29 12:26] mina-kleid commented on #99
Is this finished ?

[2016-03-29 13:05] mammuth commented on #99
I guess so. If not it makes sense to open more specific issues. :+1:

[2016-03-29 13:05] #99 closed

[2016-03-29 13:16] yashha opened #186 "Api calls not fully functional"
https://github.com/Rostlab/JS16_ProjectA/issues/111

[2016-03-29 13:33] boriside commented on #19
{
name: "Boris Idesman",
link: "https://github.com/boriside",
team: "A"
}

[2016-03-29 14:43] gyachdav commented on #177
@AlexBeischl @marcusnovotny  please help me out here. This is a list of possible interesting face offs:

Arya Stark vs Cersey Lannister
Ramsay Snow vs Sansa Stark
Stannis Baratheon vs. Joffrey Baratheon
Gregor Clegane vs. Oberyn Marttel
Jon Snow vs Ygritte
Theon Greyjoy vs Ramsey Snow
Ilyn Payne vs Bronn
Tryion Lannister vs Petyr Baelish
Mellisandre vs Davos Seawoth
Cersey Lannister vs. Margery Ty

[2016-03-29 14:51] gyachdav opened #187 "wrong character loaded"
https://got-stats.herokuapp.com/characters/Penny

Should have loaded a page for a character named Penny

Instead loads this

https://got-stats.herokuapp.com/characters/Arlan%20of%20Pennytree

[2016-03-29 14:52] yashha opened #188 "Images"
This is a very important question.
If we can't use the images from HBO, which image we are going to use for the website?
Especially regarding the homepage #177 we NEED images.
@gyachdav @sacdallago and members of project F

[2016-03-29 14:53] gyachdav commented on #188
why not use the images we already have from the awoiaf wiki?

[2016-03-29 15:00] sacdallago opened #189 "Link to the API and contributions"
Please put two links in the footer:
- To the API docs: api.got.show (will redirect)
- To contribute: contribute.got.show (will also redirect, for now to rostlab org on github)

Thx

[2016-03-29 15:01] sacdallago commented on #189
P.S.: stay tuned, I'm setting up the API on my side and kordian is gonna tear down his, sooo... Time someone asks me about the token :D

[2016-03-29 15:04] gyachdav commented on #188
@theocheslerean  @boriside:  if anyone is up for the challenge, then wikipedia shows images from the show that can be scraped and used under the fair-use license

e.g.
https://en.wikipedia.org/wiki/Brienne_of_Tarth
https://en.wikipedia.org/wiki/Joffrey_Baratheon

If anything I would recommend only trying characters that have been in show epsiodes

[2016-03-29 15:07] gyachdav commented on #189
@sacdallago we plan to have a Developers section. Is this in addition to that dev section?

[2016-03-29 15:15] sacdallago commented on #189
Yes. This is simply a link on the footer called "contribute" that redirects directly to where the repos are (maybe a different, dedicated org in the future)

[2016-03-29 15:20] yashha commented on #188
Ok, lets do this.
We still have to get rid of the big image on the landing page and have to replace it.

[2016-03-29 15:22] sacdallago commented on #188
Isn't that CC0? :D :D :D I was using that one as if it was CC0. Life is full of surprises :laughing:

[2016-03-29 15:23] sacdallago commented on #187
Use the `?strict=true` attribute of the API?

[2016-03-29 15:26] yashha commented on #187
I got it, thanks :)

[2016-03-29 15:28] yashha commented on #188
We have you read it is CC0 :O ^^

[2016-03-29 15:39] yashha opened #190 "Switch api server to https://api.got.show/doc/"

[2016-03-29 15:42] sacdallago commented on #190
send me an email for the token

[2016-03-29 15:42] sacdallago commented on #190
Also. no /doc :D /api

[2016-03-29 15:57] sacdallago commented on #165
The text before deviated a bit from the original purpose of this issue. After yesterday, where does this _issue_ stand?

[2016-03-29 16:06] sacdallago commented on #159
I also don't entirely get your HTTP caching? I hope you don't mean caching entire websites/routes because with JS I have no clue where to start with that and absolutely no time :D

[2016-03-29 17:03] gyachdav commented on #165
We will discuss this on Thursday in part 2 of the website design meeting

On Mar 29, 2016, at 11:57 AM, Christian Dallago notifications@github.com wrote:

[2016-03-29 17:38] sacdallago commented on #172
Apparently not CC0

[2016-03-29 17:43] gyachdav commented on #172
We can keep it. I'm taking an executive decision :D

Sent from my iPhone

[2016-03-29 18:27] #187 closed

[2016-03-29 18:27] #186 closed

[2016-03-29 18:29] #190 closed

[2016-03-29 20:34] AlexBeischl commented on #177
Well the only addition coming to my mind:
Tyrion vs Jaime (next meeting, as Jaime is thinking about killing him)

[2016-03-29 20:37] marcusnovotny commented on #177
You missed one

In all seriousness: @gyachdav provided an impressing list of combinations already which contains all the characters I can come up with on the fly. Some more ideas after googling GoT main characters
- Brienne of Tarth & Sandor Clegane (The Hound)
- Arya Stark & A Man (nameless assassin)
- Petyr Baelish & Lord Varys
- Jorah Mormont & Daenerys Targaryen
- Cersei Lannyster & The High S

[2016-03-30 01:13] jorjo1 commented on #151
I am just posting this link https://moz.com/researchtools/ose/ so we can pull important metrics about the page while debugging.

[2016-03-30 08:03] sacdallago commented on #177
This is already a good enough list.
Thanks all guy(s) :D You can implement this now

[2016-03-30 08:12] mammuth commented on #176
Since obviously all the listing and discussion went into the implementation issue, I'm gonna close this one.

[2016-03-30 08:12] #176 closed

[2016-03-30 08:13] sacdallago opened #198 "Suspicious requests"
Hey guys. Looking at the server logs (of the api) I see a bunch of:

[code]

Between 21:47 and 1:50. I don't know if this was you, the twitter groups, or someone else. I just wanted to report, in case you were having some issues or spontaneous exceptions in your code, this might be the reason!

[2016-03-30 08:34] sacdallago commented on #198
I'm still getting a lot of these right now:

[code]

If you are working on this, please let me now ASAP so we can pinpoint the problem

[2016-03-30 08:53] yashha commented on #198
The error comes probably from one of the sentiments packages, because I don't provide a token, but I think I think there is another bug
Locally when I deploy and set the env variables the urls are correct, on heroku the urls are https://got-stats.herokuapp.com/NaNcharacters
So there is still a problem with those

[2016-03-30 08:58] sacdallago commented on #198
I think I have this sorted out, thanks @yashha

[2016-03-30 08:58] #198 closed

[2016-03-30 09:59] sacdallago opened #199 "Search bar in character page + images + back"
Hi, I encountered three problems on the staging site (v0.0.8) right now:

1. If I navigate from characters to page three, I get the link https://got-stats.herokuapp.com/characters/?search=&page=3&sort=pageRank&order=-1
If I open the link directly though, I'm not on the same page
![screen shot 2016-03-30 at 11 57 25 am](https://cloud.githubusercontent.com/assets/6240943/14138636/9a75d3ca-f66e-11e5-

[2016-03-30 10:19] jorjo1 commented on #188
I say we make a picture of the initial letters of a characters name Forever Example -> FE, just in case we don't find some photos. I think we will have to deal with using awoiaf pictures and forget about them being ugly.

[2016-03-30 10:27] marcusnovotny opened #200 "Project D Visualization: Hangout with Groups 4 & 5"
Hey there!

Our Project D groups 4 & 5 were having a vivid discussion about our visualization [here](https://github.com/Rostlab/JS16_ProjectD_Group5/issues/73#issue) and need some input from you guys. It would be best if we could have a Hangout today with the relevant contact from your Project. I'd propose 7 PM, but I don't mind any other time, will be working on this all day.

**Group D4** provid

[2016-03-30 10:31] yashha commented on #177
How is this?
We could make a link to wikipedia in the right bottom of a image.
Or should it be stored locally?
http://pastebin.com/hWiBdgsh

[2016-03-30 10:38] yashha commented on #188
So no fair use?

[2016-03-30 10:41] yashha commented on #188
I think you are right. @jorjo1

[2016-03-30 10:50] yashha commented on #200
Looks good already!
I'll be there :)

[2016-03-30 10:54] jcebel commented on #200
@Logarythms @vanp33 This could  be  also interesting for you :)
Well my question is, what will Project F do with the stats from D5? How will they visualize it and what do they think of the pop-up-box idea?

I'll be there, too!

[2016-03-30 10:56] mammuth commented on #200
Maybe it's a good idea to directly add a legend to your graph?

[2016-03-30 10:59] yashha commented on #199
I didn't you have this jorjo, can I have this?
I have already a patch. @jorjo1

[2016-03-30 11:16] yashha commented on #177
I think we go without additional images.

I summed the suggestions up.
http://pastebin.com/Qs9PCJYH

[2016-03-30 11:25] yashha commented on #177
Branch https://github.com/Rostlab/JS16_ProjectF/tree/antagonists
Feel free to work on it

[2016-03-30 11:58] #50 closed

[2016-03-30 12:00] #172 closed

[2016-03-30 12:01] #188 closed

[2016-03-30 12:15] gyachdav commented on #188
So are we scraping images from wikipedia? We're allowed to use them.

Sent from my iPhone

[2016-03-30 12:28] yashha opened #203 "Issue with build"
https://travis-ci.org/Rostlab/JS16_ProjectF/builds/119496162

[2016-03-30 12:47] sacdallago commented on #188
Yes. Everything Wiki-related is under CC

[2016-03-30 13:09] yashha commented on #188
The text yes, but the images can be non-free but wiki use them under fair-use terms.
That's what I read.
https://en.wikipedia.org/wiki/File:Jon_Snow-Kit_Harington.jpg

[2016-03-30 13:10] #179 closed

[2016-03-30 13:10] #199 closed

[2016-03-30 13:12] gyachdav commented on #188
Fair-use allows us to reuse those images. It's kind of murky but let us get away with murder.

On Mar 30, 2016, at 9:09 AM, yashha notifications@github.com wrote:

[2016-03-30 13:14] gyachdav commented on #169
Status?

The [promo plan](https://docs.google.com/document/d/1CH33DqIg3oPbbgIIhXRgWFPb7xGkD7cq5YDx32n70PI/edit) says:

By 29.03.2016:
    \* Content of first landing page is ready as an .html file & submitted to Group F

Was this milestone completed?

[2016-03-30 13:17] gyachdav commented on #203
Do you guys have an E representative for your project?

Shouldn't they take care of all your build and config issues?

@sacdallago please intervene and assign someone to take care of all test,build,deploy issues that F is having.

[2016-03-30 13:17] marcusnovotny commented on #169
@gyachdav No, I'm currently on it. Informed @mammuth over slack last night that I didn't make it and we'll postpone the first two deadlines by a day. Haven't changed it here yet, mea culpa, but we'll keep you updated!

[2016-03-30 13:21] gyachdav commented on #169
Thanks for the quick response. Please keep track of those deadlines and let us know If something changes so we can readjust and don't fall completely out of schedule.

On Mar 30, 2016, at 9:17 AM, marcusnovotny notifications@github.com wrote:

[2016-03-30 13:25] marcusnovotny commented on #169
Sure! As the initiator I'm terribly embarrassed that it's me who already postpones a deadline, but my own project (D4) is keeping me super busy at the moment. Shouldn't influence the final deadline though, as long as Project F has enough time to finish the template before I submit the other landing pages (which is still the case), that's why I didn't notify you earlier.

[2016-03-30 13:35] yashha commented on #203
I thought that partly my job because I set it up, but we have one @TheZoker is doing testing for us. Rostlab/JS16_ProjectE#19

[2016-03-30 13:36] gyachdav commented on #203
@yashha you need to learn to delegate :smile:

Make sure to involve @TheZoker as much as possible

[2016-03-30 16:08] sacdallago commented on #188
Or commons.wikimedia.org , but on a quick search nothing relevant popped up for me

[2016-03-30 16:57] jcebel commented on #200
@marcusnovotny I am ready.. Are you creating a group?

[2016-03-30 16:59] marcusnovotny commented on #200
@mammuth @jonny3576 @yashha
[Join me on Hangouts](https://hangouts.google.com/call/4hy2nfzn5rbqxayofgl3qvimrqe)

[2016-03-30 16:59] TheZoker commented on #203
Yes I'm here to help!
The issue is closed, so is this fixed?

[2016-03-30 17:00] sacdallago commented on #203
:D Apparently I still assigned you just in case

[2016-03-30 17:01] TheZoker commented on #203
Yes that's good :)
I currently try to understand, what was the issue here: https://github.com/Rostlab/JS16_ProjectF/commit/1f33dc2ec3d4accd6bbe9e43d4abf54da5f46206

Seems like a valid package.json to me :confused:

[2016-03-30 17:07] yashha commented on #203
I think the problem was the some dependecies were not loading
But i don't know :)
I changed it to this and now it works

[2016-03-30 17:10] sacdallago commented on #203
actually not separating devDependencies and dependencies is pretty, pretty bad practice.

Try to figure out if you can sort this out without resorting on patches @TheZoker please

[2016-03-30 17:33] marcusnovotny commented on #200
We're done already. @yashha & I talked, @jonny3576 joined but we couldn't hear him so he was only listening (Hangouts issue).

**Regarding our questions**
- No menu needed from D4, but we'll create a Legend
- Dynamic resizing in one dimension (width) is okay, height can be easily specified for the containing svg element.

We'll stay in touch in case anything new pops up.

[2016-03-30 18:47] TheZoker commented on #203
Ok I contacted the travis support, hopefully I get an answer soon.

[2016-03-30 19:16] yashha commented on #159
HTTP caching wont change much for the loading of the characters, the user still have to download the whole 700kb.
We need something like https://www.npmjs.com/package/memcached
And/or we implement the sorting and filtering on the server.

[2016-03-30 19:30] kordianbruck commented on #159
@yashha filtering is already possible using the find characters endpoint...

[2016-03-30 19:37] yashha commented on #159
@kordianbruck That doesn't help

[2016-03-30 19:41] kordianbruck commented on #159
@yashha care to explain why not or should I take wild guesses?

[2016-03-30 19:48] yashha commented on #159
I thing you commented this because I said that we want to filter on the server. It is not really related to the caching problem because the user has still to download the 700kb of characters.

[2016-03-30 19:51] kordianbruck commented on #159
If you filter on the server, using the find api endpoint, you will only get the characters that match the search query. We can also setup a 'lite' version of the characters, that would only contain the name for example. There are many possibilities!

[2016-03-30 19:52] yashha commented on #159
Ah now I understand :)
Can you give us some example posts?

[2016-03-30 19:55] kordianbruck commented on #159
They are in the docs! https://api.got.show/doc/#api-Characters-FindCharacters

[2016-03-30 20:14] yashha commented on #159
I saw this already. It provides too less functionality to bring the size down for user. Espescially on the list page.
We need filters for offset, limits and sorting to get the filesize down. So a good idea for us would be to set somthing up on our server side.

[2016-03-30 20:39] kajo404 commented on #200
I heard there are still some unresolved issues regarding group 5. If so please let me know and we can skype / hangout tomorrow morning to get everything solved :)

[2016-03-30 21:10] sacdallago commented on #159
@yashha that is a good idea. The problem is not _only_ the API. It's: Instantiating the connection, wait for the DB connection and then get the answer... This should anyway be faster on the real thing, as the API and webservice are hosted on the same machine, but the DB remains an issue (for now).
@kordianbruck 's suggestion to return only `_id` + `name` is also good. You could eventually get this

[2016-03-30 22:16] jorjo1 opened #207 "/map initial zoom"
We should fix the map initial zoom because it seems to me a bit awkward to have blue fields around the map. This is my idea and I would like to have a bigger initial zoom like here: http://gameofthrones.com/game-of-thrones/season-5/episode-10/map/location/5/braavos-free-city

@mbandle @AlexBeischl
How can we fix this on our side? Thanks!

[2016-03-30 22:57] marcusnovotny commented on #169
Here's the Jon Snow Landing page. Decided to post it right here, more information on the bottom.

---

**[Meta Title]** Why Jon Snow is not dead - Game of Thrones
**[Meta Description]** We at got.show set up our own machine learning algorithm to predict Jon Snow's fate and came to surprising conclusions!
**Optimized for Keywords:** Jon Snow, Game of Thrones, got

---

# H1: Why Jon Snow is not dea

[2016-03-30 23:07] gyachdav opened #209 "Link to root"
Clicking the "A Song of Ice and Data" logo should send user back home

[2016-03-30 23:17] jorjo1 opened #210 "Spoiler alert"
Should we indicate somehow that there are spoilers on the page? For example a warning in some corner of the page or a popup? Yes, we know that the page contains spoilers, but we speak of DAU (dumbest user)..

[2016-03-30 23:30] #209 closed

[2016-03-30 23:38] jorjo1 commented on #33
This should be redesigned

![image](https://cloud.githubusercontent.com/assets/2246472/14161081/3870aee8-f6e1-11e5-99d5-af6f42200cfc.png)

[2016-03-31 08:41] sacdallago commented on #210
Nah. One knows where he/she is getting himself/herself into.

[2016-03-31 08:41] #210 closed

[2016-03-31 08:43] jorjo1 commented on #210
I can not agree, for example gameofthrones.com has a message that there are
spoilers. :see_no_evil:

On Thu, Mar 31, 2016, 10:41 Christian Dallago notifications@github.com
wrote:

[2016-03-31 08:46] sacdallago commented on #210
[Wikipedia](https://en.wikipedia.org/wiki/Game_of_Thrones) doesn't :D
I hate messages in general on pages, they always sound like [ads](https://www.youtube.com/watch?v=z696bTiP8Ro).
This makes me think of a new issue for you :dancer:

[2016-03-31 08:49] sacdallago opened #212 "Cookie monster"
According to the "new" law on cookies from the EU, users have to be informed if anything of their session gets stored when they visit the page.
For example, if you cache in localStorage like I suggested yesterday, you need to put a [cookie consent](https://silktide.com/tools/cookie-consent/)

[2016-03-31 09:01] kordianbruck commented on #159
@sacdallago what are you talking about? The Connection to the DB is started, when you start the NodeJS Server. The only problem here, is that the team needs to asynchronously load the characters bit by bit instead of downloading a json of 1/2 Mb.
I can implement the "light" version, Team F just needs to tell me what they prefer.

[2016-03-31 09:57] mammuth commented on #212
For your stated use case that's not correct imho, because such a hint is only for person related data (as stated in the sites privacy policy) :wink:
But since we're using Google analytics such a hint would be necessary.

Actually we would need to wait until the user acknowledges the privacy policy (which we don't have, atm, but would be much more important than those EU-Cookie-Hints), before we ca

[2016-03-31 09:59] mammuth commented on #212
What I primarily want to say:
We probably don't have anyone with good knowledge in these law-related stuff, so keep it simple or find someone who is able to tell us how to properly do everything...

[2016-03-31 13:48] goldbergtatyana commented on #117
It is not quite clear to me (I asked again) what the final model of Group 7 is. Comparing the results of all candidate models of Group 7 to the final model of Group 6, the model of Group 6 is the winning one!

So, as discussed on Monday in the call, we should use PLOD scores of Group 6 on characters' pages. Note, instead of showing 54.3% of death, it is better to show rounded numbers --> 54%.

I r

[2016-03-31 14:40] mammuth opened #213 "Redirect to 404 if character is not found"
Right now the character-component is redirecting to the character-listing when the character is not found.

We should redirect to our 404-hodor page.

[2016-03-31 14:44] mammuth opened #214 "Link to wiki in character details-page"

[2016-03-31 14:52] mammuth opened #215 "Infinite scrolling on character-listing?"
A suggestion by @sacdallago.

Depending on how much effort this is, we should just drop the idea for now, since we have more important stuff to do.

[2016-03-31 15:08] jorjo1 commented on #207
I just found a glitch. Is the problem solvable?
![image](https://cloud.githubusercontent.com/assets/2246472/14180426/31bdb078-f763-11e5-8c27-18f21918c686.png)

[2016-03-31 15:10] gyachdav opened #216 "Statistics page"
How many females/males
Average age of males/females
Most popular name/ least popular name
The longest traveller (by distance)
Character travelled the least

[2016-03-31 15:23] sacdallago opened #217 "Consistency across pages"
If you never put the name of the page in the page, you should also not put it in the about:
![screen shot 2016-03-31 at 5 21 22 pm](https://cloud.githubusercontent.com/assets/6240943/14180876/24ad6250-f765-11e5-8834-a18770f5781d.png)

vs

![screen shot 2016-03-31 at 5 21 32 pm](https://cloud.githubusercontent.com/assets/6240943/14180881/28d16098-f765-11e5-808c-5ffa82488289.png)

I would stick to *

[2016-03-31 16:02] mammuth opened #218 "Move the Static-folder to the project root"
The mentors and others want to be able to edit the static-content easily, so we should move the static folder from _"/app/components/app/Static/"_  into _"/"_ because otherwise noone is finding it.

[2016-03-31 17:03] mammuth opened #219 "Implement get plod for character"
The API has a call for getting the plod for a certain character:
https://api.got.show/doc/#api-CharacterPlod

we need this to use in our character-detail page.

Related: #178

[2016-03-31 17:18] mammuth commented on #219
Btw, somehow there should be two predictions - we should use the one of Group 6 as the main prediction, @goldbergtatyana said.

[2016-03-31 17:28] gyachdav commented on #169
Laughed my ass off!! Nice work Marcus.

In our web design meeting today it was decided that the landing pages should get into the static branch so we should all be able to edit them as we go. Please start a "static" branch and put the landing pages on there.  Let me know when done do I can push my proposed edits.

Please verify with f where exactly the static pages should go in their tree.
Sent fr

[2016-03-31 17:37] marcusnovotny commented on #169
Thanks! Good idea. I think F has to start the branch though, I have no access

[2016-03-31 17:38] mammuth commented on #169
@jorjo1 are you starting this branch for marcus and guy?

[2016-03-31 17:38] mammuth commented on #117
Related #178

[2016-03-31 17:48] sacdallago commented on #169
@marcusnovotny I'll add you to the collab of F now

[2016-03-31 17:51] mammuth opened #221 "Sitemap Generator"
We need a react sitemap generator for all pages.

- All basic pages: Home, Map, Ranking, Characters, About, ...
- All 2000 character-detail pages
- All Landing-Pages (with high priority)

Future-Feature:
Prioritize character-detail-pages based on the characters popularity.

[2016-03-31 17:59] jorjo1 commented on #19
@Rostlab/js_cs_sose_2016_students :boom:
Hello everyone, we decided to put photos of yours next to your name in the _About_ page. The image's height will not be bigger than your names' height.

So please post images here again in this format:
`img: "http://placehold.it/50x50"`
In case you want to keep your photo private, we'll have to take your GitHub pixel image.

Thanks in advance! Please be qui

[2016-03-31 18:06] mammuth commented on #117
<img width="747" alt="screen shot 2016-03-31 at 20 03 55" src="https://cloud.githubusercontent.com/assets/3121306/14185832/d3a3c4d2-f77b-11e5-9c77-4f5f6f14e5fc.png">

We could present groups 6 plod with the fancy progressbar, and below add the second prediction as text form?

@goldbergtatyana what are your suggestions what happens when someone clicks on _(described here)_?

[2016-03-31 18:14] goldbergtatyana commented on #117
really like the visualization! I suggest that the "here" word will link to a new static page that will described the corresponding algorithm. I will provide these descriptions soon (latest by Saturday).

[2016-03-31 18:16] mammuth commented on #117
:+1:
Alright, I will setup one page and create a markdown file that you can edit directly.

[2016-03-31 18:40] julienschmidt commented on #19
Please use neither a photo of me nor my GitHub profile picture.

[2016-03-31 19:14] #178 closed

[2016-04-01 10:19] jorjo1 commented on #215
I love this idea, but I think we should do the functional stuff first, then prior to delivery date we release this   (if still not rejected :hear_no_evil: )

[2016-04-01 13:20] gyachdav opened #223 "React is insecure move entire website to angular"
just read this https://facebook.github.io/react/tips/dangerously-set-inner-html.html

**we need to move to angular 2 asap**

@jorjo1 @yashha @mina-zaki @Andrew094 @sacdallago

[2016-04-01 13:34] sacdallago commented on #223
could you put anymore labels @gyachdav ? :laughing: :laughing: :laughing: :laughing: :laughing: :laughing:

This is quite a :bomb:

[2016-04-01 13:40] yashha commented on #223
We don't even use dangerouslySetInnerHTML ;) (yet)
So keep calm :)

[2016-04-01 13:40] #223 closed

[2016-04-01 13:43] mina-kleid commented on #223
April's fool for sure :smile:

[2016-04-01 13:46] gyachdav commented on #223
![](http://i.imgur.com/QJrcNQc.jpg)

[2016-04-01 13:49] jorjo1 commented on #223
This one got me

On Fri, Apr 1, 2016, 15:46 Guy notifications@github.com wrote:

[2016-04-01 13:50] mammuth commented on #223
My reaction when receiving the mail:
![swagger-stunned-o](https://cloud.githubusercontent.com/assets/3121306/14208792/66c65cf2-f821-11e5-8e2e-da5ee10cad70.gif)

[2016-04-01 13:51] sacdallago commented on #223
He also kinda looks like you @mammuth :open_mouth:

[2016-04-01 13:52] jorjo1 commented on #223
There was no REACTion I could make us of!

On Fri, Apr 1, 2016, 15:50 Max Muth notifications@github.com wrote:

[2016-04-01 14:28] mammuth opened #224 "Sorting characters by popularity is strange and contains houses"
Is anyone of us responsible for this, or has been something changed on the API?
@jorjo1 @yashha @mina-zaki @sacdallago
<img width="1291" alt="screen shot 2016-04-01 at 16 26 49" src="https://cloud.githubusercontent.com/assets/3121306/14209869/97bdc78c-f826-11e5-8fb9-c827f0eef503.png">

[2016-04-01 14:32] mina-kleid commented on #224
Thats weird, i will take a look at it

[2016-04-01 14:33] sacdallago commented on #224
https://github.com/Rostlab/JS16_ProjectA/issues/126

[2016-04-01 14:42] gyachdav commented on #224
I believe @Adiolis changed loaded a new pageRank today. this may have messed up the sorting (although it shouldnt have since the only difference was to normalize the scores not resort).

@Adiolis can you comment?

[2016-04-01 14:45] sacdallago commented on #224
Not it's not just that, it's also the issue on houses getting scraped as characters although they aren't.

I have two takes on this:
1. I updated the data, but the old pagerank gave these characters and the houses a now higher value
2. Since these characters don't have a pagerank they appear either at the end or the beginning of the sorted list and you ( **F** ) need to sort that out.

Look into i

[2016-04-01 14:58] gyachdav commented on #224
do you know why the pagerank changed?

I actually think that A need to handle the case of characters with missing pagerank just assign some low default. if there is an image bump the pagerank. i'll commented on the issue https://github.com/Rostlab/JS16_ProjectA/issues/103

This will all be resolved once we have the centrality measure feature in place. possibly only in JS6-2 :worried:

[2016-04-01 16:48] sacdallago commented on #224
The pagerank changed because there were some chars set as super-important although they counted relatively little.

I think that not assigning a pagerank is good a statement already! As I said, this is a bunch of data that will appear either in front or back of the sorted response from A, but F can handle this with a filter and put it in the back always, which is reasonable, considering that if th

[2016-04-01 18:51] jcebel commented on #122
Hey I can't reopen it, because I do not have writing-access.
D5 has just deployed the final version as 0.0.7 on npm.
Please be aware of the following change: No Error should be thrown by the app. Instead every error, which the app can't handle by itself, is given to the user as the second argument in **ALL** callbackfunctions.
Additional Information: The `runTwitterStreaming`-function and `runTwit

[2016-04-01 19:18] gyachdav commented on #224
@mina-zaki please handle asap then.

The houses showing up in the list will be corrected by @boriside from A

[2016-04-01 19:20] yashha opened #225 "Translate imprint to englisch"
At the moment it is partly in German and our whole site is in English, so we should translate it.

[2016-04-01 19:24] gyachdav commented on #225
Sorry to micromanage but this is extremely low priority. You guys have a growing list of high priority issues you should be taking care of first.

[2016-04-01 20:14] gyachdav commented on #65
text for attributions page is available here

https://docs.google.com/document/d/1ELG34L1PV-UbLVsIJFMuxaiaZrgCR25UleHF2OHHUls/edit?usp=sharing

@Rostlab/js_cs_sose_2016_students  in case you used a source that is not in the table please add this in by April 5th  at the latest

[2016-04-01 20:21] gyachdav commented on #19
img: http://1.gravatar.com/avatar/7cbde56ba3b8f244513f710c55721dac

[2016-04-01 20:21] gyachdav commented on #19
@jorjo1  please assign a deadline for this

[2016-04-01 20:31] gyachdav commented on #23
General
- [x] Add “Character Not Found” page (route to 404) https://github.com/Rostlab/JS16_ProjectF/issues/213

Infobox
- [x] https://github.com/Rostlab/JS16_ProjectF/issues/175
- [x] Link to wiki in character details-page https://github.com/Rostlab/JS16_ProjectF/issues/214

Likelihood of Death :
- [x] @goldbergtatyana  will tell which of two predictors should be used as the main prediction model

[2016-04-01 20:36] gyachdav commented on #33
Sorting titles:
- [ ] Name A - Z
- [ ] Name Z - A
- [ ] Most popular (book) -- this is the default sorting
- [ ] Most liked (Twitter)
- [ ] Most hated (Twitter)
- [ ] Survival chance (comment: this is 100 - death_chance)
- [ ] Death chance

[2016-04-01 20:37] TheZoker commented on #203
I got a answer, but no solution yet. I will keep you up2date

[2016-04-01 20:38] gyachdav commented on #40
- [ ] Top 5 next eliminated (only one algorithm (Group 6), “see more” (links to character-listing, sorted by PLOD))
- [ ] ~~Top 5 to survive - Group 6~~
- [ ] Top 5 most liked - Twitter
- [ ] Top 5 hated - Twitter
- [ ] Top 5 most dangerous house Group 6

[2016-04-01 20:39] gyachdav commented on #40
For 2.0
- [ ] ~~Traveller (who travelled the most, pls include the map showing his path) C10~~

[2016-04-01 20:44] gyachdav commented on #151
@marcusnovotny seems like none of the items has been checked yet. assigning to @Andrew094. This has a new due date April 3rd. @sacdallago please monitor.

[2016-04-01 20:55] marcusnovotny commented on #151
@gyachdav haven't been checking since today is our project deadline. Noted in the seo action plan that I will do my first review this weekend. Expect an update tomorrow.

[2016-04-01 21:02] yashha commented on #151
contact me i registered the app already at google console

[2016-04-01 21:05] gyachdav commented on #212
Privacy policy text in HTML format attached.

[privacypolicy.txt](https://github.com/Rostlab/JS16_ProjectF/files/200346/privacypolicy.txt)

[2016-04-01 21:15] gyachdav commented on #174
#33

[2016-04-01 21:18] gyachdav commented on #165
I believe this can be closed. @sacdallago  please confirm and close.

[2016-04-01 21:24] gyachdav commented on #203
@TheZoker  Status? can this be closed?

[2016-04-01 21:26] TheZoker commented on #203
No not yet, because travis fails, if we undo this change. I'm in contact with the Travis support and we hopefully find the issue.

[2016-04-01 21:27] gyachdav commented on #207
@mbandle @AlexBeischl @tPiffrader can you please help @jorjo1 fix?

[2016-04-01 21:28] yashha commented on #165
It is not fixed yet

[2016-04-01 21:31] gyachdav commented on #165
it wont be fixed since we're coming up with a new Credits page as discussed here

https://docs.google.com/document/d/1TxGVoVNiqhclnwG5pw8-iRYljKpmjEn91FyTw51IyWk/edit#bookmark=id.ahyqwvxwprxt

[2016-04-01 21:35] gyachdav commented on #216
[ideas draft ](https://docs.google.com/document/d/17VFx2gogagzMGQy1BOFpffUVfvSo8fHejDl2pNKMfvA/edit)

[2016-04-01 22:09] mina-kleid commented on #224
@gyachdav if they are corrected the character list then this bug will disapear, because i sort and filter on the character list

[2016-04-01 22:15] gyachdav opened #227 "Website sections"
Here is the list of sections that should be at the navigation bar:

- [x] Characters - https://github.com/Rostlab/JS16_ProjectF/issues/33

- [x] Rankings - https://github.com/Rostlab/JS16_ProjectF/issues/40

- [x] Map - https://github.com/Rostlab/JS16_ProjectF/issues/207

- [x] Statistics - https://github.com/Rostlab/JS16_ProjectF/issues/216

- [x] Contribute - https://github.com/Rostlab/JS16_Proj

[2016-04-01 22:27] gyachdav opened #228 "Contribute page"
- [x] Write some text

- [x] API links

- [x] NPM packages

- [x] GitHub Repo

- [x] Community (editing the path)

[2016-04-01 22:27] gyachdav commented on #119
About
- [x] About got.show - https://github.com/Rostlab/JS16_ProjectF/issues/234
- [x] Credits - https://github.com/Rostlab/JS16_ProjectF/issues/19
- [x] Attributions - https://github.com/Rostlab/JS16_ProjectF/issues/65
- [x] [JavaScript Technology 2016](https://rostlab.org/owiki/index.php/Javascript_technology_2016)
- [x] rostlab.org
- [x] tum.de

Contribute
- [x] Developers - https://github.com/

[2016-04-01 22:38] #212 closed

[2016-04-01 22:49] sacdallago commented on #165
But it's still important to keep this in mind. With that font, it can happen.
But yes, I'll have an eye open on that, please @gyachdav also remember

[2016-04-01 22:49] #165 closed

[2016-04-01 22:50] sacdallago commented on #203
:D that's some high-end tech support and testing! Nice job

[2016-04-01 22:51] sacdallago commented on #151
@yashha I saw that! Cool! I also learned something new today :D

[2016-04-01 22:56] sacdallago commented on #122
Just to make it clearer:
No need to use the package in a `try - catch`, but rather:

[code]

[2016-04-01 23:03] #218 closed

[2016-04-01 23:27] gyachdav commented on #224
Do you put the characters with no ranking at the bottom of the list? Do you know why we have a bunch of unknown characters now at the first losing page event high we sort by rank?

[2016-04-02 00:37] gyachdav opened #234 ""About got.show" page"
- [ ] Short text describing what this website is about @gyachdav will provide
- [ ] Credits section as described in https://github.com/Rostlab/JS16_ProjectF/issues/19
- [ ] Information about sources and licenses (link to attributions)
- [ ] Class wiki page
- [ ] Rostlab
- [ ] TUM

[2016-04-02 00:56] jcebel commented on #122
:heart:

[2016-04-02 01:28] gyachdav opened #235 "Homepage"
@mammuth assigning to you to give initial guidance for draft. feel free to delegate

- [x] Rotating content: 2 characters faceoff (Arya vs Cersei, find out who are the main antagonists) have stats as on a ranking page (PLOD (with explanation), Sentiments) and one map under opposite images.

- [x] Allocate a place holder for a block of text that will show the first paragraph from landing pages. The

[2016-04-02 05:46] boriside commented on #224
I cleaned the illegal character names, but now the whole issue #126 about the task is missing.

[2016-04-02 08:48] mina-kleid commented on #224
@sacdallago @boriside
Now am confused with the pageRank. there are values as  0.01 and values as 64. shall i use it? and which is the highest in the rank ? 1 or 64 or 0.01 ?

[2016-04-02 08:57] #182 closed

[2016-04-02 08:57] mina-kleid commented on #174
#182

[2016-04-02 08:57] #174 closed

[2016-04-02 09:19] sacdallago commented on #224
I guess the update on the collection yesterday only updated pageranks without deleting the new ones, I might have to rescrape the whole thing.

@adiolis can you confirm?

[2016-04-02 09:20] sacdallago commented on #119
On it

[2016-04-02 09:24] mina-kleid commented on #219
@mammuth isnt this solved by this ? https://github.com/Rostlab/JS16_ProjectA/issues/101

[2016-04-02 09:25] sacdallago commented on #119
https://github.com/got-show/general/issues

[2016-04-02 09:27] ghost commented on #224
That's why i asked if the new pagerank file contains as much data as the old one 😉. Basically you could run a refill before.

[2016-04-02 09:29] jorjo1 commented on #213
Is this ready? Can we close?

[2016-04-02 09:33] mammuth commented on #213
I didn't implement it yet. Since Noone else is referencing the issue, it's probably not done?

[2016-04-02 09:38] sacdallago commented on #219
Yeah, just need to figure out once you actually can GET the data, which one has the right `desciption` attribute and just take those PLODS as the primary ones

[2016-04-02 09:41] sacdallago commented on #224
I'm running:

[code]

this might take some time (5 min) Then @mina-zaki please check again.

[2016-04-02 10:10] sacdallago commented on #224
It's still running... It seems to be stuck.. I'll update you when this is really done @mina-zaki sorry

[2016-04-02 10:36] goldbergtatyana commented on #227
<strike> And also
- [ ] Credits

page with the list of all contributors. @gyachdav do you agree? </strike>

The JST group picture from the stairs can be found here: https://rostlab.org/~goldberg/JST_Seminar2016.jpg

[2016-04-02 10:42] mammuth commented on #227
@yashha I have no problem in doing this, you can leave me assigned; you already did a lot and there are probably some react/configuration heavy issues that suit your experience with our setup.

[2016-04-02 10:45] sacdallago commented on #224
@Adiolis I constantly get stuck on this:

[code]

at the `npm run refill --collection=characters` stage. What should I do? Delete the entire collection and scrape from zero?

[2016-04-02 10:50] mammuth opened #237 "Reference the header-image locally"
Right now the throne-header image is referenced by url from a different server. We should reference it as a static file from our server.

[2016-04-02 10:51] yashha commented on #237
Yea, it also sets a cookie ... :D

[2016-04-02 10:52] mammuth commented on #237
Awesome, didn't notice that when I added it :grin:

[2016-04-02 10:53] yashha commented on #227
I thought it is about routing and setting up page, which is no problem for me, you should focus on design :D

[2016-04-02 10:56] goldbergtatyana commented on #227
Never mind my previous post. I found that Credits will be part of the "About" #119 #19

[2016-04-02 10:57] goldbergtatyana commented on #19
JST group picture: https://rostlab.org/~goldberg/JST_Seminar2016.jpg

[2016-04-02 11:03] mammuth commented on #219
@mina-zaki
I'm not quite sure how you think the linked issue solves this.
I was suggesting that we could add this api call to our server component, or maybe to the character-object itself, so we can easily query the plod in the character-detail-page or the 1vs1 comparison on the homepage (#117).

[2016-04-02 11:03] mammuth commented on #177
WIP-PR: https://github.com/Rostlab/JS16_ProjectF/pull/236

[2016-04-02 11:04] mina-kleid commented on #219
Yea it was my bad, i thought the PLOD comes with the character. but it doesnt. will find a way to solve it and add it to the character

[2016-04-02 11:05] mammuth commented on #219
Correct!
It used to be that way, but in your linked issue there is the discussion why it's moved out of the character-response I think.

[2016-04-02 11:58] mammuth commented on #235
There is a WIP-PR here: https://github.com/Rostlab/JS16_ProjectF/pull/236

To be clear:
For your second point we would add a placeholder that is filled by a markdown-file.
Since we said the landing pages will be static html there is no easy way to integrate the first paragraph of the landing pages automatically on the homepage.

[2016-04-02 12:09] #117 closed

[2016-04-02 12:39] ghost commented on #224
Isn´t @boriside skipping 2 characters, because they are houses? This should be fixed in the getAllNames function and not in getAll...

I am trying it out, right now.

[2016-04-02 12:54] ghost commented on #224
@sacdallago Yeah, this skipping was the problem.
I fixed it now. Please pull and rerun ;)

[2016-04-02 12:56] mammuth commented on #221
Assigning to @Andrew094 since he already did some work on the sitemaps.

[2016-04-02 12:59] Andrew094 commented on #221
@mammuth I was just testing one static sitemap, but I have no idea how to do this dynamically with a generator.

[2016-04-02 13:09] mammuth commented on #221
Nor do I. :wink:

But since the sitemap won't change a lot, we could build it with a standalone script aswell.

Get all characters by the api, urlencode their names, make them to the format of our pages and the sitemap. We could even bring up a way to set the priority based on the characters pagerank.

[2016-04-02 13:20] sacdallago commented on #224
Ok. Done and it terminated. Please @mina-zaki have a look and report back.

[2016-04-02 13:44] bandle commented on #207
@sacdallago can you replace the defect tile by refreshing your tiles.got.show site:

Or just replace this one - its the only bad one

https://github.com/Rostlab/JS16_ProjectC_Group10/blob/develop/tiles/labels/5/y14x20.png

[2016-04-02 13:46] sacdallago commented on #207
I'll pull the last `gh-page` branch and copy the content of tiles from there to the location that tiles.got.show services. Will that do?

[2016-04-02 13:46] bandle commented on #207
Yes this will do - we published the fix some days ago

[2016-04-02 13:49] sacdallago opened #240 "Nicer link color"
Hey guys,

please change the link colur, this is unreadable!

![screen shot 2016-04-02 at 3 49 00 pm](https://cloud.githubusercontent.com/assets/6240943/14226719/85e1d49e-f8ea-11e5-9aea-c7c3853e57e3.png)

[2016-04-02 13:50] bandle commented on #207
We set our initial zoom to display the whole got world. But you can change it by setting the zoom manually.
Just get the leaflet object: https://github.com/Rostlab/JS16_ProjectC_Group10/wiki/Using-the-API#internals
And then call zoomIn : http://leafletjs.com/reference.html#map-zoomin

[2016-04-02 13:54] sacdallago commented on #207
1. The copying should be done from my side, can you check?
2. map.got.show is at the latest version

[2016-04-02 13:56] bandle commented on #207
Works :+1:

![bildschirmfoto 2016-04-02 um 15 55 22](https://cloud.githubusercontent.com/assets/11232638/14226741/59629a74-f8eb-11e5-83bb-0dd50288af2b.png)

[2016-04-02 13:56] #237 closed

[2016-04-02 14:01] gyachdav commented on #227
yes the link to credits go in the footer

[2016-04-02 14:03] gyachdav commented on #219
@mina-zaki you can also ask project A how to get it. @kordianbruck?

[2016-04-02 14:05] sacdallago opened #241 "Images cannot be found"
I don't know if this is on your side, because the tomb image is definitively on your side, but the images are broken.
All of them.

https://got-stats.herokuapp.com/characters/Rhaenys%20Targaryen

[I opened up an issue in **A** as well](https://github.com/Rostlab/JS16_ProjectA/issues/130). Please try to figure out who is responsible.

[2016-04-02 14:11] gyachdav commented on #224
@sacdallago is the rank still according to the list I sent or now using the normalized value?

[2016-04-02 14:14] sacdallago commented on #224
It's according to https://github.com/Rostlab/JS16_ProjectA/issues/103#issuecomment-203649730

[2016-04-02 14:17] sacdallago commented on #241
Ok. So:
The problem on the API side has been fixed, but the tomb image is still missing!

[2016-04-02 14:31] yashha commented on #241
Can this be closed?

[2016-04-02 14:49] sacdallago commented on #241
No?

![screen shot 2016-04-02 at 4 48 47 pm](https://cloud.githubusercontent.com/assets/6240943/14226997/cee4d6de-f8f2-11e5-9230-7e7e7d4b6b47.png)

[2016-04-02 14:51] gyachdav commented on #224
okay @sacdallago @mina-zaki @kordianbruck @Adiolis I need all of you to focus for a moment and figure this out. The sorting of the characters are still messed up.

If I look at  the characters that show up in the first page I get for instance Dalla (Dragonstone). when searching the API  https://api.got.show/api/characters/Dalla%20(Dragonstone) I get  No character with that data existing!

Moving o

[2016-04-02 14:54] yashha commented on #241
Ah sry :)

Am 2. Apr. 2016, 16:49, um 16:49, Christian Dallago notifications@github.com schrieb:

[2016-04-02 14:56] mammuth commented on #241
This is definitely a problem on our site. And it's due to our strange configs - sometimes when running / building, they're referenced correctly, sometimes not. I have no clue what's happening there.
But @yashha, that's something you will dig into, right?

[2016-04-02 15:05] yashha commented on #241
sure :D
Can you tell me the url of the image in the src?
And any errors?

Am 2. Apr. 2016, 16:56, um 16:56, Max Muth notifications@github.com schrieb:

[2016-04-02 15:11] mammuth commented on #241
Just check it out, it's on the character component.

It's something related to the webpack configuration, I guess.
For example the src-URL is prefixed by an /assets/ folder in the DOM, however the file is stored at this URL without that assets folder (at least this happened to me once. Some builds / npm starts later the issue resolved itself :P)

[2016-04-02 15:57] goldbergtatyana commented on #23
Likelihood of Death:

The more accurate prediction method is that of Group 6 --> this is the main predictor to use.

I added text describing:
1. PLODs on characters' pages
2. The main prediction method (that of Group 6) - this text goes on a separate page
3. The less accurate prediction method (that of Group 7) - this text also goes on its own separate page

as notes of plod-descriptoin.md

Feel f

[2016-04-02 16:36] mammuth commented on #240
Öh, that shouldn't be that way. Probably something is overriding it. Will fix it right now :+1:

[2016-04-02 17:04] mammuth commented on #241
As a hint:
The problem will be related to the fact, that static files are handled differently in the dev and in the production settings of webpack (is there actually a reason for that? :smirk:).
In the dev-settings they seem to be stored inside the assets/ directory, and in the production settings not.

As a side-note:
IMHO the root of all evil is probably, that we have **separate configs for dev

[2016-04-02 17:16] mammuth opened #243 "No way to return from 404 page"
If you get to the awesome 404-page there is no way back.
Two solutions:
- Don't hide the navbar
- add a "Back to home-page"-button

![black-holes_o_1873393](https://cloud.githubusercontent.com/assets/3121306/14227894/4cc6df84-f907-11e5-9da2-24029681a935.jpg)

[2016-04-02 17:23] gyachdav commented on #42
do not close until @marcusnovotny okays closing it

[2016-04-02 17:24] #213 closed

[2016-04-02 18:33] yashha opened #246 "Fix sitemap"
https://got-stats.herokuapp.com/sitemap.xml
![image](https://cloud.githubusercontent.com/assets/4728786/14228326/e4dfd08c-f911-11e5-93a0-7b8d1ae8648b.png)

[2016-04-02 18:58] marcusnovotny commented on #169
Will work on the remaining pages tomorrow. Where do you want me to put them and in which format?

Any progress on the first page / template?

[2016-04-02 19:04] marcusnovotny commented on #42
It's okay we'll track progress over at #151, @Andrew094 is assigned there too.

[2016-04-02 19:04] #42 closed

[2016-04-02 19:34] marcusnovotny commented on #151
@Andrew094 Hey there! First heads up from my part.

You'll have to rework the Meta Data:
- The **Page Title** is an important ranking factor. It's currently "A Song of Ice and Data" on every page. That's way too unspecific first of all (you can use up to 70 characters, right no we use 22) & second the keywords are useless. We should put the domain name & Game of Thrones in every Title and then add

[2016-04-02 21:15] #241 closed

[2016-04-02 21:44] gyachdav commented on #23
Some ideas for improvements
- [x]  we need a different heading for the page instead of why do machine learning. How about - "how do we predict likelihood of death" or maybe just present this as an FAQ
- [x] The page for the second algo can go in the same page as the first only at the bottom
- [x] why not use a more compelling URL slug then the ambiguous "plod-description2".... how about "machine-l

[2016-04-02 21:45] sacdallago commented on #243
I'd go for number two!

I just like the full page 404 tohohooo much

[2016-04-02 22:00] #227 closed

[2016-04-02 22:12] yashha opened #249 "Fix nav behavior on md"
![image](https://cloud.githubusercontent.com/assets/4728786/14229285/73eb76aa-f930-11e5-8c30-d67b88342101.png)

![image](https://cloud.githubusercontent.com/assets/4728786/14229289/b101dd2c-f930-11e5-8400-efc4d0e6e8b9.png)

[2016-04-02 23:56] #200 closed

[2016-04-03 00:27] jorjo1 commented on #243
I will do it in a funny way, I promise :)

[2016-04-03 02:40] #249 closed

[2016-04-03 03:16] #243 closed

[2016-04-03 09:06] mammuth opened #254 "MORE CLOUDS (on 404)"
The clouds / fog on the 404 is really awesome, but there should be more clouds and they should appear faster and earlier, since most users are not going to stay on that page long enough to notice them.

[2016-04-03 09:09] sacdallago commented on #254
:D I **FEAR** @jorjo1 got inspired by my 20 min landing page hack and those clouds are animated via CSS. I hope he didn't :dancer:
That damn thing is so computationally intensive that my mac starts dying after I open the page twice in separate tabs :laughing: It was meant as a proof of concept...
Also: on tablet it doesn't render as nicely!

Just saying!

[2016-04-03 09:13] mammuth commented on #254
I know. Happens for me too - if I stay on that page for >5min I feel like sitting in front of a vacuum cleaner! :grin:

I didn't look into it, but those transforms actually shouldn't be that computationally intensive in my experience...
(I rebuilt a couple of big JS-parallax headers with multiple layers/dimensions in CSS and the performance was much better than before, and my mac didn't start cryi

[2016-04-03 09:20] sacdallago commented on #254
I personally believe that there's no management of the FPS for animations... I hopefully am wrong, but what that means is that the animations are rendered in variable FPS and I really don't wanna know what the upper limit is :joy:

[2016-04-03 09:21] sacdallago commented on #254
P.S.: I say so because running the page on my GPU packed dell doesn't give me issues at all

[2016-04-03 09:27] mammuth commented on #254
Chrome dev-tools can display the rendering fps :wink: it's in more tools > rendering settings.
It's variable and on our page the maximum for me was 50

[2016-04-03 09:43] mammuth commented on #23
Did 2. and 3.
@goldbergtatyana you can edit the [markdown-file here](https://github.com/Rostlab/JS16_ProjectF/blob/develop/static/plod-description.md)

[2016-04-03 09:44] mammuth opened #256 "Add sentiments to homepage"

[2016-04-03 09:52] sacdallago commented on #240
I'm not entirely sure I like this combination of colors for the link either...
Gray on gray, dunno.. Can you experiment a bit? Maybe you come up with something nicer @mammuth

Also: In the about at the bottom:

The link points to bruck's server. Make that link point to wherever the api is pointed at, but instead of /api just /doc

[2016-04-03 09:55] mammuth opened #257 "Fix Footer link to API docs"
The link points to bruck's server. Make that link point to wherever the api is pointed at, but instead of /api just /doc

by @sacdallago in #240

[2016-04-03 09:57] mammuth commented on #240
Yep, the color was primary a hotfix :wink:
We probably need to introduce a new color for this, semantically it should be something comparable to the red, but much lighter so it looks nice on dark backgrounds.

[2016-04-03 10:11] yashha opened #260 "empty character infos showing"
![image](https://cloud.githubusercontent.com/assets/4728786/14231905/070e11fe-f995-11e5-9b36-8da9a2ed73b6.png)

[2016-04-03 10:12] mammuth commented on #260
Seems like the API is returning a title object that is empty. :tada:

[2016-04-03 10:15] mammuth opened #261 "Homepage link to character detail page"
The image / name of the two antagonists should probably link to their detail-pages

[2016-04-03 10:19] sacdallago commented on #217
This has been ignored an is still there, and it's taking over :D

There's no use for this thing!

![contribute](https://cloud.githubusercontent.com/assets/6240943/14231945/39154e00-f996-11e5-9bee-06aa2f77c2b8.png)
![stats](https://cloud.githubusercontent.com/assets/6240943/14231948/431670fa-f996-11e5-8971-f2d613c3b236.png)

[2016-04-03 11:16] sacdallago commented on #219
@mina-zaki while we are [**waiting** for **A** to wake from the sleep](http://3.bp.blogspot.com/-Mz57qH8WorI/VYd-KmxVnhI/AAAAAAAAAGI/uxewXVWsKNU/s1600/WAKE-UP-SLEEPING-BEAUTY-GAME.png) you can get the PLODs directly by importing the two packages from the **B** groups ([1](https://www.npmjs.com/package/gotplod) and [2](https://www.npmjs.com/package/gotarffplod)) and querying the PLODs by character

[2016-04-03 11:39] goldbergtatyana commented on #23
Did 1 and updated the machine learning description text.

Can we please change the font of the main text? Right now it looks like from the 90s :)

[2016-04-03 12:43] mammuth commented on #23
I think it should be the one that's used on the hbo got site, like we discussed in the first meeting.
I will verify it when I'm on the PC again later today.

[2016-04-03 12:51] jorjo1 commented on #254
I prefer not to add more clouds as pictures, but will try to generate some with JS..magic. I don't know if it's possible within the next days, but let's see, right?

[2016-04-03 12:52] jorjo1 commented on #261
Is this on branch `antagonists`?

[2016-04-03 13:08] mammuth commented on #261
The branch antagonists has been merged into develop.

[2016-04-03 17:38] gyachdav commented on #207
Currently the map is still way too zoomed out on the map page. Also the map is not centered in the middle of the page but seems to be placed a bit to the right. please center the map and zoom in.

[2016-04-03 17:44] gyachdav commented on #159
is this still happening? @kordianbruck solution seems reasonable. I never understood why we need to load so much data from the APO only to show 20 names

[2016-04-03 19:26] jorjo1 commented on #228
We should remove this from the main navigation in the header, it's not what excites the users and such information is usually found in the footer of the page. There are `contribute` and `about` pages in the navi, so I would remove `contribute`.

[2016-04-03 20:05] yashha commented on #159
I think we have bigger problems to fix and enhancements to do.

[2016-04-03 20:47] gyachdav commented on #228
fine just make sure it is in the footer. This link should forward to the map editor. @sacdallago what is the url for the map editor?

[2016-04-03 20:49] sacdallago commented on #228
URL? I thought it would be integrated somewhere in F!

We can always make it run in some subdomain, like http://edit.got.show

[2016-04-03 20:50] sacdallago commented on #228
I mean the http://map.got.show already exists and probably it would make more sense to put the editor there? I like that subdomain

[2016-04-03 20:51] gyachdav commented on #228
yup agreed. @jorjo1 please forward to http://map.got.show when Contribute is clicked.

[2016-04-03 23:35] yashha opened #265 "Integrate d4 chart into characters page"

[2016-04-03 23:53] #189 closed

[2016-04-03 23:53] #257 closed

[2016-04-03 23:55] yashha opened #266 "Get d5 working on heroku"
For heroku the api token has to be configurable through environment variables.

[2016-04-04 00:55] marcusnovotny commented on #169
Bad news from my part: I didn't get to the pages yet. I was fully occupied with D4 until yesterday and only started with the House Stark Page tonight. I hope to deliver on Tuesday since I'm completely booked out tomorrow. We can adjust your delivery deadline accordlingy. Sorry for the inconvenience, but I'm trying my hardest

In the meantime: I've started up a Landing Page branch and put the Jon S

[2016-04-04 00:58] marcusnovotny commented on #151
@yashha I couldn't make it today. If you want we can reschedule for Wednesday / Thursday evening, unless you get along the console already, then we might as well leave it out.

@Andrew094 you're assigned but I haven't heard from you yet in this thread. Would appreciate a response! :)

[2016-04-04 16:37] togiberlin commented on #169
@marcusnovotny Ok, I read your post. I can offer you WhatsApp/Viber for direct updates, if necessary

[2016-04-04 17:08] marcusnovotny commented on #169
@togiberlin No it's okay that's not high priority!

[2016-04-04 20:22] #266 closed

[2016-04-04 22:44] julienschmidt opened #269 "Attributions: MediaWiki ≠ Wikia"
* MediaWiki is the open source wiki software by the Wikimedia Foundation
* Wikia.com is a commercial product by the Wikia Inc., which was also founded by Jimmy Wales but I don't think they even use MediaWiki. They are not linked to the Wikimedia Foundation.

[2016-04-05 00:23] gyachdav opened #270 "enable url decode before presenting text"
Data from the db API is presented in encoded form. Need to decode this.

e.g. check out
https://got-stats.herokuapp.com/characters/Orys%20Baratheon

Titles:
Lord of Storm&apos;s End, Lord Paramount of the Stormlands, Hand of the King

[2016-04-05 14:58] gyachdav commented on #151
This cannot wait forever. Reassigning to @yashha

[2016-04-05 14:59] gyachdav commented on #221
Also cannot wait here forever. Reassigning to @mammuth

[2016-04-05 15:01] gyachdav commented on #228
Status?

[2016-04-05 15:02] gyachdav commented on #234
Status?

[2016-04-05 15:05] sacdallago opened #272 "No errors on errors - deployment"
Yellou guys!

I'm putting my hands forward and trying to run your code on the production machine. Has anyone of you tried running the package with locally hosted api? If so, what does your config look like?

I am running the api locally on 3010, not httpsed becuase that layer I cover with nxing. So technically speaking this config should work:

[code]

but it obviously doesn't, otherwise where wou

[2016-04-05 15:21] TheZoker commented on #272
@sacdallago Same result for `NODE_ENV=production`?

[2016-04-05 15:22] gyachdav opened #273 "Focus on map only after clicking in map area"
Currently the map controls are immediately activated when the map container becomes visible. That makes navigation within the page very difficult as scrolling is being "hijacked" by the zooming event  listener on the map.

Proposed solution: disable map listeners  by default, only activate when there is a mouse click within the map container.

[2016-04-05 16:44] gyachdav commented on #119
Use the Imprint and Disclaimer text from:

https://docs.google.com/document/d/1c7fnPBgdlkfd0H1HCr7y-GO-8bkqSzXDcYrIBkFmAdQ/edit?usp=sharing

[2016-04-05 17:33] gyachdav opened #274 "broken page"
https://got-stats.herokuapp.com/machine-learning-algorithm-predict-death-game-of-thrones

[2016-04-05 17:54] sacdallago commented on #272
Tried that, doesn't work with all three options: http/https with and without port number.

I think you have to write that port thing I suggested for every call

[2016-04-05 18:03] mammuth commented on #175
ToDo:
Hide info, if the API is returning the object, but it's empty.

[2016-04-05 18:03] yashha opened #275 "Integration of Landingpage"
#169
We have already our first landingpage and we need to integrate it now in our serverside.
That means we have to create an static html file from the markdown.
So we need static images from for example the map and the chart and static plod values. In the supposed areas.

Can you do this mina?
Any questions ask me :)

@Andrew094 if you want to do this, because you are our static guy, post here :)

[2016-04-05 18:03] mammuth opened #276 "Character-Detail: PLOD of 100% if character is dead"
_If a character has a date of death, then the PLOD should always be 100% and his thomb stone should be red and the menu bar will have the word D E A D throughout the whole bar on it_

[2016-04-05 18:27] mammuth commented on #40
@mina-zaki could you implement your function-calls to the page, to get rid of the dummy-data?

[2016-04-05 18:28] jorjo1 commented on #40
We'll collaborate on the design.

[2016-04-05 18:30] mammuth opened #277 "Fix map centering"
The positioniong of the map is set wrong somewhere.

I think this happened when trying to get rid of the sidebar in combination of trying to make it fullwidth and some more stuff.

@jorjo1, wanna take this as our dedicated CSS-guru? :kissing_heart:

Hint: There are three pages it needs to work on: home, map, character-detail

[2016-04-05 18:32] jorjo1 commented on #277
I'll also try to move the sidebar to the left side, or remove the white space below it, simply because there is no use of it when one simply surfs through our content.

[2016-04-05 18:50] mammuth opened #278 "Footer: rename clickable contribute in the footer to “Edit our map”"
from the design meeting:
_Footer: rename clickable contribute in the footer to “Edit our map”_

[2016-04-05 19:06] mammuth opened #279 "Add sentiments to character-detail-page"
Part of #23

[2016-04-05 19:15] sacdallago opened #280 "Sorting by PLODs"
@mina-zaki the sorting of PLODs should be comparatively easy now that we know how it all works.

1. Call the PLODs for all characters
2. `map` to the characters array the relevant plod for that character... `var charWithPlod = charaters.map(function(element){ element.plod = plod.getFromName(element.name); return element;})`
3. sort by the PLOD, use the group with the better predictions

[2016-04-05 19:22] mammuth opened #281 "Markdown for Developers-Page"

[2016-04-05 19:26] sacdallago commented on #280
P.S.: keep in mind that some characters, ~200, don't have a PLOD. Just put these at the end of the sorted array :)

[2016-04-05 19:31] mammuth commented on #19
ToDo:
Group picture
Mentors
Front end
Machine learning
Map
Twitter
Database
Keep all in separate row so names will be visible At most have 3 names in one row

[2016-04-05 19:37] mammuth commented on #182
#280

[2016-04-05 21:48] gyachdav commented on #23
- [x] Change “places associated with <character_name> to “Follow <character_name>”

[2016-04-05 22:39] marcusnovotny commented on #169
Have to reschedule again, I highly underestimated my workload this week.
I am definitely going to hand in the Stark Landing Page Wednesday night. For the rest the new deadline is "asap", hopefully until Friday. Daenerys Targaryen, House Lannister and one of those 3: George RR Martin OR Ramsay & Theon OR Stannis & Melisandre are still missing.

I'm sorry, but I'm operating at my limit currently. If

[2016-04-05 22:44] yashha opened #283 "Fix nav hiding"
`Header.jsx:14 Uncaught TypeError: this.forceUpdate is not a function`

[2016-04-05 22:49] yashha commented on #169
@marcusnovotny Just use google docs or html, most important is the content
the mark up and design is just a matter of time investment, that can we do too.

[2016-04-06 02:07] gyachdav commented on #169
no worries @marcusnovotny, let me know which topic you wanted me to pick up. Im currently working on the statistics page. https://docs.google.com/document/d/17VFx2gogagzMGQy1BOFpffUVfvSo8fHejDl2pNKMfvA/edit?usp=sharing

[2016-04-06 05:57] marcusnovotny commented on #169
Thanks for your offer @gyachdav!  You can pick any of the remaining three (George Rr Martin, Melisandre & Stannis or Ramsay & Reek), up to you! Let me know if it works out :+1:

[2016-04-06 08:47] #219 closed

[2016-04-06 08:47] mina-kleid commented on #40
Is this still relevant ?

[2016-04-06 08:51] mina-kleid commented on #224
As far as i see now all page ranks are outside [0-1], and some of them have no page rank.
From our side the higher the page rank the more popular it is, and people without page rank go to the end of the list.
@sacdallago If this enough for the requirement please close this issue

[2016-04-06 08:52] mina-kleid commented on #275
@Andrew094 can you jump on this ?

[2016-04-06 08:55] jorjo1 commented on #275
I will join here from tomorrow.

[2016-04-06 09:13] sacdallago commented on #224
Yes. You got it right @mina-zaki

[2016-04-06 09:13] #224 closed

[2016-04-06 09:23] mina-kleid commented on #270
fixed

[2016-04-06 09:23] #270 closed

[2016-04-06 09:24] mina-kleid commented on #280
@sacdallago how can i know which group has a better prediction ?

[2016-04-06 09:25] sacdallago commented on #175
I suppose a `.length < 1` should suffice

[2016-04-06 09:35] sacdallago commented on #280
The plods with description `gotplod`
Right @goldbergtatyana ? Not the `gotarffplod`

[2016-04-06 09:38] sacdallago commented on #280
@mina-zaki there's also an API call to `GET` PLODs by description ;) that should speed up the request a little (aka: you don't have to get all the PLODs)

[2016-04-06 09:41] mina-kleid commented on #280
yea you mean getting plods by Algorithm? already doing that if we only using one algorithm

[2016-04-06 10:28] mina-kleid commented on #280
Done and waiting for approval on the pull request

[2016-04-06 10:28] #280 closed

[2016-04-06 10:29] goldbergtatyana commented on #280
yes, i think so @mina-zaki and @sacdallago:
gotplod = better predictor of Group 6
gotarffplod = worse predictor of Group 7

@mina-zaki you could run a small test: if you get PLOD ~12% for Jon Snow with gotplod, then it is the function to go with. The worse function gotarffplod should return PLOD ~100% (and this is not what we want to show)

[2016-04-06 10:34] mina-kleid commented on #280
This supports the case, we go with gotplod

http://cl.ly/0y332Q372h2W

[2016-04-06 11:13] goldbergtatyana commented on #280
Cool, thanks for checking, @mina-zaki!

[2016-04-06 12:26] Andrew094 commented on #275
yes, is there already a branch for this ?

[2016-04-06 12:27] Andrew094 commented on #228
I don't know what you expect for the bullet points community and NPM packages

[2016-04-06 12:34] Andrew094 commented on #234
can you post your short text here, also do you want links to rostlab / tum ?

[2016-04-06 12:58] jorjo1 commented on #234
@andrew094 do you have the google docs link? there is a desc.

On Wed, Apr 6, 2016, 14:34 Andrew094 notifications@github.com wrote:

[2016-04-06 13:03] Andrew094 commented on #281
I consider this as part of #228

[2016-04-06 13:03] #281 closed

[2016-04-06 13:09] #278 closed

[2016-04-06 16:36] julienschmidt opened #287 "Wrong status code for 404 pages"
E.g. https://got-stats.herokuapp.com/this_page_does_not_exist returns `200 OK`

[2016-04-06 17:03] mammuth commented on #287
Nice catch.

I set it to low-prio because it's nothing that directly affects the usage of the site by people.

[2016-04-06 23:58] marcusnovotny commented on #169
Pushed House Stark to the LandingPages branch

https://github.com/Rostlab/JS16_ProjectF/blob/LandingPages/static/house-stark.md

[2016-04-07 01:04] gyachdav commented on #169
Thanks will go over this and the Jon snow one(did you push that one too?) over the weekend. Btw what's up with rickon?

[2016-04-07 01:04] gyachdav commented on #169
I'll also do Ramsay and reek once I'm done with the stats page.

[2016-04-07 01:49] yashha opened #290 "No csv files are loading atm"
![image](https://cloud.githubusercontent.com/assets/4728786/14338038/b9653dc4-fc73-11e5-8651-26df19c57e2b.png)

[2016-04-07 05:51] marcusnovotny commented on #169
All files are in the /static directory of the LandingPages branch

I barely know him tbh. Let me set up the other two first then I can add another paragraph!

Thanks for helping me out! :+1:

[2016-04-07 08:39] sacdallago commented on #290
Are you using a database with all the necessary data already? It might take some time (18h) to fill up all the data.. I can provide you with a dB if you don't have one.
@julienschmidt can you follow up on this one as well? :)

[2016-04-07 08:56] goldbergtatyana commented on #169
Thanks for the awesome job, @marcusnovotny! Once started reading, I just couldn't stop myself until I made it till the end of the landing pages. They are a bomb! :))

[2016-04-07 09:18] mammuth commented on #40
Yep, it is still relevant since we currently only show hardcoded dummy data. The integration of the sentiments & plods into the ranking-page is missing.

[2016-04-07 09:28] jorjo1 commented on #283
Is this a probable cause?
![image](https://cloud.githubusercontent.com/assets/2246472/14346745/d235eb10-fcb3-11e5-9688-d2dde30568e4.png)

[2016-04-07 09:29] jorjo1 commented on #290
Is this a probable cause?
![image](https://cloud.githubusercontent.com/assets/2246472/14346745/d235eb10-fcb3-11e5-9688-d2dde30568e4.png)

[code]

[2016-04-07 09:36] #274 closed

[2016-04-07 09:38] #261 closed

[2016-04-07 10:15] sacdallago commented on #290
This seems to be a good cause :D You might want to clean the mongodb you use to store the tweets?

[2016-04-07 10:24] yashha commented on #290
I let the heroku server run of a good ammout of time and there were ni csv files
You're right the problem could be the mongodb
I swipe it propably in an hour and rerun the server

Am 7. Apr. 2016, 10:39, um 10:39, Christian Dallago notifications@github.com schrieb:

[2016-04-07 11:05] jorjo1 commented on #33
We are working on displaying data for top5-s, but we are realistic and think that "Top 5 most dangerous house Group 6" will not be part of the ranking because it's not implemented and it would slow us down.

Are they changing at all? Can we still hardcode them somehow? @gyachdav

[2016-04-07 11:10] jorjo1 commented on #290
Or it could be a problem if we are too many servers at once trying to scrape info from twitter with the same API key?

[2016-04-07 11:17] mammuth commented on #40
ToDo:
- [x] missing: PLOD Top5 (there seems to be no function int the storer for that?)
- [x] houses: same here. are they changing at all? probably not? so we could at least hardcode them.

(PLOD "see more" will work, when the sorting is implemented in the characters-list )

[2016-04-07 11:19] #283 closed

[2016-04-07 11:23] goldbergtatyana commented on #40
Hi @mammuth, both PLOD Top5 (please use table "PLOD for 20 Most Popular characters" from https://github.com/Rostlab/JS16_ProjectB_Group6/issues/66) and houses (https://github.com/Rostlab/JS16_ProjectB_Group6/commit/e1616a6e99120072a7c63faaf0609faeb4e5aab3, i still need to check if calculation ok though...) won't change anymore and can be hardcoded.

[2016-04-07 11:34] togiberlin commented on #169
@gyachdav I wrote yesterday my last exam and from today evening, I'm pretty much free til Sunday.
I would pick your GOT Stats [Google Docs](https://docs.google.com/document/d/17VFx2gogagzMGQy1BOFpffUVfvSo8fHejDl2pNKMfvA/edit?pref=2&pli=1) and [Project B PLOD](https://github.com/Rostlab/JS16_ProjectB_Group6/issues/60#issuecomment-201949253) and put them into a nice graphical image. Agree?

[2016-04-07 11:37] sacdallago commented on #290
Looks more like a mongo problem to me! Remember that the crawler produces something like 500mb of data in about 24h of runtime

[2016-04-07 11:38] yashha commented on #290
@jorjo1 Your error message was has his cause in the maximum of mongodb database was reached

[2016-04-07 11:42] yashha commented on #290
I reset the mlab db now but it still doesn't work
the csv files are being written but they are not being served by express and the react-router is being served instead

`2016-04-07T11:41:10.752706+00:00 app[web.1]: [[36mcrawler/mobile[0m] Wrote CSVs for Marq Grafton`
https://got-stats.herokuapp.com/d4/csv/Marq%20Grafton.csv

The strange thing is that the episodes.csv are being served
https://got

[2016-04-07 11:54] #240 closed

[2016-04-07 12:04] jorjo1 opened #294 "Markdown files problem"
![image](https://cloud.githubusercontent.com/assets/2246472/14350430/98a0ae88-fcc9-11e5-82e2-5544960df15b.png)

`function (props, context, updater) { // This constructor is overridden by mocks. The argument is used // by mocks to assert on what gets mounted. if (true) { true ? warning(this instanceof Constructor, 'Something is calling a React component directly. Use a factory or ' + 'JSX instead.

[2016-04-07 12:17] goldbergtatyana commented on #40
Giving you green light @mammuth for using https://github.com/Rostlab/JS16_ProjectB_Group6/commit/e1616a6e99120072a7c63faaf0609faeb4e5aab3#diff-2ede64b7b72d3ec354d36ea21bec8cdb for the list of TOP 5 popular & dangerous houses

[2016-04-07 12:22] #294 closed

[2016-04-07 12:22] jorjo1 commented on #294
I solved it with

# npm update

# npm install

# ->npm start

[2016-04-07 12:26] goldbergtatyana commented on #40
Just to clarify:
In the table "PLOD for 20 Most Popular characters" from https://github.com/Rostlab/JS16_ProjectB_Group6/issues/66#, everyone with PLOD>0.5 is within the list of next eliminated, while everyone with PLOD<0.5 is within the list of survivors.

Survivors are:
PLOD Name
3.9 Sansa Stark
11.6    Jon Snow
16.6    Cersei Lannister
18.7    Mace Tyrell
28.9    Roose Bolton
41.4    Barristan

[2016-04-07 12:29] mammuth commented on #40
ToDo: Survivors

[2016-04-07 12:32] goldbergtatyana commented on #33
None of the results, but twitter sentiments, are going to change anymore!

Please see https://github.com/Rostlab/JS16_ProjectF/issues/40 for the discussion of TOP5s

[2016-04-07 12:34] yashha commented on #290
So i found out that
https://got-stats.herokuapp.com/d4/csv/Marq%20Grafton.csv
is of couse not working because the files are saved with an underscore
but
https://got-stats.herokuapp.com/d4/csv/Marq_Grafton.csv
Isnt working too

The other thing is this is working:
https://got-stats.herokuapp.com/d4/csv/Aegon_Blackfyre.csv