[2016-04-07 12:35] #175 closed

[2016-04-07 12:36] yashha commented on #290
It seems like its working now, it just takes its time :)

[2016-04-07 12:36] #290 closed

[2016-04-07 12:43] goldbergtatyana opened #297 "Description of "likelihood of death" on a character's page"
I suggest the description to be.

Our in-house developed machine learning algorithm predicts likelihood of death based on various features that we extracted for each character from the first five books of the Song of Ice and Fire series. Our second, less accurate, algorithm predicts  likelihood to be XX%. Click here to read more about our prediction algorithms.

[2016-04-07 12:52] mammuth opened #298 "Make Ranking Page more beautiful"
If we find time, let's beautify the ranking page.

Part of #40

[2016-04-07 13:16] jorjo1 commented on #207
@mbandle is it only me, or the cities are shown on the map after I zoom in/out? How can I handle this? Thank you.

[2016-04-07 13:31] mammuth commented on #74
It's better now by https://github.com/Rostlab/JS16_ProjectF/pull/292/commits/9375603474f8dbfb55c34d30a6782fda1da74cbe

[2016-04-07 13:31] #74 closed

[2016-04-07 13:32] jorjo1 commented on #277
#207

[2016-04-07 13:35] mammuth commented on #19
Assigning to @Andrew094 who is in charge of #234, what's basically the same thing.

[2016-04-07 13:36] mammuth commented on #234
Details to all pages:
https://docs.google.com/document/d/1TxGVoVNiqhclnwG5pw8-iRYljKpmjEn91FyTw51IyWk/edit

For this about-page:
_Group picture
Mentors
Front end
Machine learning
Map
Twitter
Database
Keep all in separate row so names will be visible At most have 3 names in one row_

[2016-04-07 13:43] mammuth commented on #19
Actually this issue is a duplicate of #234.
This one is with a lot of followers; so to stop from spamming on them, I'm going to close this in favor of #234.

PS: the About.jsx in the project is updated with all the contributors, who put their names and groups here.

[2016-04-07 15:04] yashha opened #299 "Generated heading"
https://docs.google.com/document/d/1TxGVoVNiqhclnwG5pw8-iRYljKpmjEn91FyTw51IyWk/edit#bookmark=id.mwhcx96ncuxo

Templates for heading (will be shown in a random order upon every page load)
Cersei is likelier to die than sansa
Jaime is likelier to get whacked
Belwas will surely be the first to be slain
The future of Tyrion is blood and fire
Jorah will bite the dust
`<character_with_lower_plod> would

[2016-04-07 15:25] TheZoker commented on #272
@sacdallago Can you please try it with these changes?

[2016-04-07 15:26] TheZoker opened #300 "Many unused branches"
I just noticed, that there are many branches and I guess most of them are feature branches that already have done their job.

So maybe you should delete all branches you don't need anymore :)

[2016-04-07 15:37] TheZoker opened #302 "jQuery and X-UA-Compatible tag missing on main page"
I just validated the page with bootlint:
http://www.bootlint.com/?url=https:%2F%2Fgot-stats.herokuapp.com%2F

Issues:
- [ ] https://github.com/twbs/bootlint/wiki/W005
- [ ] https://github.com/twbs/bootlint/wiki/W002

[2016-04-07 15:43] mammuth commented on #300
Right. I deleted all old branches. :+1:

[2016-04-07 15:43] #300 closed

[2016-04-07 16:03] #277 closed

[2016-04-07 16:34] jorjo1 commented on #302
Hi
we can ignore that.

The W002 - I fixed that. #306

[2016-04-07 16:34] #302 closed

[2016-04-07 16:41] #221 closed

[2016-04-07 16:44] TheZoker commented on #302
Sorry read that to late. I added the right jquery file and added `.min` to the bootstrap files.

If you're not using jquery at all, we should remove it from the dependencies

[2016-04-07 17:12] #265 closed

[2016-04-07 17:28] #297 closed

[2016-04-07 17:29] mammuth opened #308 "Real PLOD on character-detail-page"
- In the progressbar
- In the text below

currently it's still dummy data.

[2016-04-07 17:33] gyachdav opened #309 "Justify text throughout the website"
Please use align:justify for all paragraph text

[2016-04-07 17:38] jorjo1 opened #310 "Homepage antagonists images"
Justify and fix width of antagonists on homepage, change title and add plod on images.

I work with @yashha on this #299

[2016-04-07 19:30] gyachdav commented on #169
Great Togi hope the exams went well!

so can you translate the two charts that are already there to d3 or google charts? We don't want a static images.

Can you also create a bar chart for the data in https://docs.google.com/spreadsheets/d/1B8F6juFi9qfN_ma3SscCpYSeHqFxv7wh1HUKXQ3fmNM/edit#gid=1993721615

(tab 1 char-loc)

Stay tuned will send more data to chart tomorrow.

On Apr 7, 2016, at 7:34 A

[2016-04-07 22:11] yashha commented on #310
#311 Already integrated plod, but not on images and the randomized titles

[2016-04-07 23:17] jorjo1 opened #313 "Friday video meeting"
@Rostlab/js_cs_sose_2016_students

Hello everyone,
we are having a video meeting about Project F tomorrow, the 8.04.2016. Here are some further details:

**When** Fri 8 Apr 2016 14:30 – 17:30 Berlin
**Where** `https://meet.jit.si/GoTJS` [Join video call](https://meet.jit.si/GoTJS) :movie_camera:

Last chance! So if you have a nice idea, want to share something or simply want to spy on us, please b

[2016-04-07 23:21] jorjo1 commented on #216
This should be hardcoded, right? We have no time and no man power to implement those cool features :person_frowning:

[2016-04-07 23:22] jorjo1 commented on #273
#303

[2016-04-07 23:22] #273 closed

[2016-04-07 23:23] #207 closed

[2016-04-07 23:25] gyachdav commented on #216
im on it (that's why i'm the assignee :wink: ).

Just consider this as you would consider any other landing page. make sure you route to it and that you pull the contents from the static folder. The rest is on me.

[2016-04-07 23:35] #119 closed

[2016-04-07 23:40] #276 closed

[2016-04-08 00:23] jorjo1 commented on #246
Can we close this one? #312

[2016-04-08 00:24] #225 closed

[2016-04-08 00:30] jorjo1 commented on #177
I think we can close this one and go further, but in design: #310

[2016-04-08 00:30] #177 closed

[2016-04-08 00:37] yashha commented on #246
I stage now and test it

[2016-04-08 01:16] #299 closed

[2016-04-08 01:48] gyachdav opened #316 "Euron Greyjoy has 2 different PLOD's on the website"
https://got-stats.herokuapp.com/characters/Euron%20Greyjoy
PLOD 0.932%

On the start page PLOD: 94.2%

p.s.
love the new release to staging!

[2016-04-08 06:34] mammuth commented on #308
Done in #314

[2016-04-08 06:34] #308 closed

[2016-04-08 08:35] goldbergtatyana commented on #313
@Rostlab/js_cs_sose_2016_students

Thanks @jorjo1 for inviting everyone to our final website content & design call today!

**Update:** We moved the call to **3pm** today!
To join the call, just follow the link **[https://meet.jit.si/GoTJS](https://meet.jit.si/GoTJS)**

See you soon!

[2016-04-08 08:57] goldbergtatyana commented on #316
One more comment to PLODs: please round the numbers such that 97.2% becomes 97% and 35.4% becomes 34%.

There is no information content in the value after the comma. Thanks!

[2016-04-08 08:59] jcebel commented on #40
Hey, sorry to bother you guys. But I just looked at the ranking page and the switch for the different algorithms disappeared. Wasn't that the way to integrate both Twitter-applications?

[2016-04-08 09:24] sacdallago commented on #272
@TheZoker [This](https://github.com/Rostlab/JS16_ProjectD_Group4/commit/76d7e11119da3ef05878b7eb19d4872c4e790260) is the step that is missing, I think! [This](https://github.com/Rostlab/JS16_ProjectF/blob/develop/app/network/Api.js#L10) **seems** like a place where it can be used

[2016-04-08 09:29] TheZoker commented on #272
@sacdallago Yes, just found the same line :D
Will fix it :)

[2016-04-08 09:35] sacdallago commented on #272
# Major Update

I got it now, I made such a stupid mistake. Let me explain.
1. The /characters page (for example) `GET`s the data form the API from the client via a call. In that case, you obviously want to have the `api.got.show` as address.
2. For **INTERNAL** calls, for example if you call the API from the backend side of node, you would need the `localhost` flavored version with the port numbe

[2016-04-08 09:48] sacdallago opened #317 "Build not doing anything"
If I `npm build`, the console doesn't give me any output.
If I then `node server/server.js` the app, I get `ENOENT` errors and I don't see the build folder

[code]

[2016-04-08 09:51] sacdallago commented on #40
@jonny3576 we decided to go for a mixed approach, since the two groups have a slightly different take on the data, instead of showing twice the same thing, we use a bit of the functionality of one group and bit of the functionality of the other one to make the whole think more interesting :)

[2016-04-08 09:53] TheZoker commented on #272
@sacdallago So can the [pull-request](https://github.com/Rostlab/JS16_ProjectF/pull/304) be closed?

I just added the port: https://github.com/Rostlab/JS16_ProjectF/pull/304/commits/4bd4c155917b62e4e86d24169eaf94b13eea8dc0

[2016-04-08 09:53] sacdallago commented on #316
:O It seems that on the characters page they are using the `gotarffplod` alg @mina-zaki
https://api.got.show/api/plod/bySlug/Euron_Greyjoy

[2016-04-08 10:00] sacdallago commented on #272
No.
- There are problems with your commit:
  1. It doesn't build
  2. What if the port number is not defined in the config (default 80 or 443 depending on the protocol)? I would just leave that `: +...` out.
- We have to figure out if someone performs API calls in the backend. If that is the case, the config needs to be changed and so does the code

[2016-04-08 10:05] jcebel commented on #40
Ah ok :+1: I like that idea. If you guys need any support, feel free to ask!

[2016-04-08 10:07] sacdallago commented on #276
This is an interesting case:
https://got-stats.herokuapp.com/characters/Stannis%20Baratheon

Look at the map! It has a place of death... @mbandle @AlexBeischl @tPiffrader you manually generate that data, right? Is there someplace/api call that this data can be `GET` so that we can have consistency in the frontend page, aka: showing that a character is not 93% likely to die, but 100% dead :D

[2016-04-08 10:10] sacdallago commented on #309
You know that this is one of those things that bothers me like hell @gyachdav ! :D I don't get how they don't make this default behavior in frameworks like bootstrap

[2016-04-08 10:46] TheZoker commented on #272
- Fix the build issue: https://travis-ci.org/Rostlab/JS16_ProjectF/builds/121665584
- What do you mean by "leave that `: +...` out."? If I remove the `:` the baseUrl will be `https://api.got.show3010/api` and that will not work. Or did I got you wrong?

I added a port fallback: https://github.com/Rostlab/JS16_ProjectF/pull/304/commits/68edfdef7684a77e8dbc1c446f232f0fe118a3af

[2016-04-08 11:36] sacdallago commented on #272
The fallback is ok! I would have simply left out the entire `:` part if the port was `undefined`, instead of adding the `80` or `443` :) But I guess that should work as well.
Now I'm waiting for the other ones (@mammuth @jorjo1 @mina-zaki @yashha @Andrew094 ) to tell me if they ever use API calls server-wise + if they ever use the `token` client-wise

[2016-04-08 11:39] TheZoker commented on #272
@sacdallago Gotcha! So should I leave it this way or just remove the port if its undefined? What's best practice here?

[2016-04-08 11:43] sacdallago commented on #272
@TheZoker I would leave it out :) It's redundant information ( http = 80, https = 443 )
But: up to you :wink:

[2016-04-08 12:36] goldbergtatyana commented on #228
Since I dont see a link to the markdown file for the developers description, here comes Dmitrii's text for it with my minor modifications:

WHAT IT IS

A song of Ice and Fire provides statistical information about the GoT
world and the impact it has on ours. Should we be worried about Sansa Stark?
Where exactly has Jon Snow travelled? And how many tweets were written about Hound?

HOW IT STARTED

[2016-04-08 13:33] jorjo1 opened #319 "Tweak Navbar"

[2016-04-08 13:37] jorjo1 opened #320 "Map, multiple characters on one point"
![image](https://cloud.githubusercontent.com/assets/2246472/14385227/9a90acee-fd9f-11e5-9b35-ff658ebe3833.png)

[2016-04-08 13:38] yashha opened #321 "Add more information on the characters page"
Look in the character model and try to display as much as possible

[2016-04-08 13:52] yashha opened #322 "Change “places associated with <character_name> to “Follow <character_name>”"
on characters page

[2016-04-08 13:59] yashha opened #323 "Remove shadow 404"
![image](https://cloud.githubusercontent.com/assets/4728786/14385884/d7c6e9fe-fda2-11e5-823f-22ff6f34ecb0.png)

[2016-04-08 14:00] #254 closed

[2016-04-08 14:12] yashha opened #324 "Fix Rhaegar Targaryen"
![image](https://cloud.githubusercontent.com/assets/4728786/14386349/a3d41dc2-fda4-11e5-9c63-f11b91a26b29.png)

[2016-04-08 14:21] #313 closed

[2016-04-08 14:24] togiberlin commented on #169
@gyachdav Ok, translating [them](https://docs.google.com/document/d/17VFx2gogagzMGQy1BOFpffUVfvSo8fHejDl2pNKMfvA/edit?ts=5707bc94) to Google Charts.

[2016-04-08 14:37] #317 closed

[2016-04-08 14:42] gyachdav commented on #169
@togiberlin how can I reach you? skype? gitter?

[2016-04-08 14:46] togiberlin commented on #169
@gyachdav my skype is: iam[underscore]togi
For urgent stuff I can give you my WhatsApp, if needed.

[2016-04-08 15:03] sacdallago opened #326 "Homepage PLOD for antagonists"
Hi party people, we have two little adjustments in the antagonists part of the page:

1. Make the images "full screen" for the div. You can better achieve this by using CSS and the `background` attribute in my opinion, even if it's in-line style.
2. The plod value is a little too small. We could solve this problem in an artistic way by putting the tombstone _inside_ the picture and write the PLOD

[2016-04-08 15:05] gyachdav commented on #169
sent you a skype request. I'm gmghome2

[2016-04-08 15:14] yashha opened #328 "Add d5 to ranking page"

[2016-04-08 15:27] TheZoker commented on #203
@sacdallago Seems Dominic from travis found the issue:

[2016-04-08 15:52] gyachdav commented on #169
@marcusnovotny @jorjo1 says he cannot find the content of the landing pages you created so far. can you push those into the static folder in the develop branch?

[2016-04-08 15:54] marcusnovotny commented on #169
Opened pull request #329

[2016-04-08 15:55] gyachdav commented on #169
thanks for the quick action!

[2016-04-08 15:58] gyachdav commented on #177
I want to add/modify the list of antagonists. which file should i edit?

[2016-04-08 16:02] jorjo1 commented on #326
Hi, @sacdallago !
First: HAHAHAHAHAHAHAHA! That was unexpected :dart:
Second: I am being _asynchronously_ creative. Stay tuned :D

[2016-04-08 16:02] goldbergtatyana commented on #326
Haha @sacdallago, this a very clear example of visualization!

Below the images of antagonists, I suggest to write:
The tombstone shows our predicted likelihood of death. <link>How do we predict likelihood of death?</link>

[2016-04-08 16:15] yashha commented on #177
https://github.com/Rostlab/JS16_ProjectF/blob/develop/app/components/common/AntagonistsComp/antagonists.json

[2016-04-08 16:19] yashha commented on #328
Suggestion for toggle:
http://codepen.io/anon/pen/aNEaKW

Edit:
Or something like this:
https://react-bootstrap.github.io/components.html#btn-dropdowns-split

[2016-04-08 17:04] jorjo1 commented on #328
first

[2016-04-08 17:19] mammuth commented on #246
Closed via https://github.com/Rostlab/JS16_ProjectF/pull/312/

[2016-04-08 17:36] mammuth commented on #309
Good point, I will justify all paragraphs.

@sacdallago the answer to your question is pretty straight forward. How should they apply it in a general way, so it works out for everyone?
Just making the whole body or all paragraphs justified might crash something. Like here (those thumbnails are basic bootstrap components, btw :wink:):
<img width="1050" alt="screen shot 2016-04-08 at 19 34 35" src="

[2016-04-08 17:44] mammuth commented on #309
Done in https://github.com/Rostlab/JS16_ProjectF/commit/4b94fef56c886b8bbafa778ace2bc8d7b32689b5

(@sacdallago, no need to complain about committing directly to develop - thought I was in a new branch... turned out I was wrong when committing :grin: )

[2016-04-08 17:44] #309 closed

[2016-04-08 17:45] mammuth commented on #235
Closing in favor of the more specific issues...

[2016-04-08 17:45] #235 closed

[2016-04-08 17:49] #217 closed

[2016-04-08 17:51] #322 closed

[2016-04-08 17:54] #323 closed

[2016-04-08 17:55] #321 closed

[2016-04-08 19:08] #214 closed

[2016-04-08 19:26] mammuth commented on #40
I think we can close this issue. The only thing left is probably some more beautiful design - we have an issue for that #298

[2016-04-08 20:21] mammuth opened #338 "Add missing images of Antagonists"
@gyachdav is searching for images of the new antagonists.
(So others know this is being worked on)

[2016-04-08 20:43] boriside opened #339 "Portal crashes on mobile devices"
I test the portal on 3 mobile devices: ipad and two android phones, all with google chrome. From 10 attempts to load the site's home page 2-3 are successful, in the fail cases the browser crashes. This behaviour appeared since the twitter sentiment graphs were added.

[2016-04-08 21:18] jorjo1 commented on #339
http://www.got.show try this. Loads every time for me.
Probably because of Heroku?

[2016-04-08 21:28] jorjo1 opened #341 "[LEGAL] HBO ASSETS"
I got a no.
@gyachdav @goldbergtatyana @sacdallago @mammuth @yashha

:angry:

[2016-04-08 21:31] boriside commented on #339
![image](https://cloud.githubusercontent.com/assets/4656678/14398118/081040da-fde2-11e5-94c1-df9bf43de534.png) no..

[2016-04-08 21:33] mammuth commented on #339
Strange. can't reproduce on latest chrome on Android...

[2016-04-08 21:34] mammuth commented on #341
Delete the mail!
We didn't read it! :see_no_evil:

[2016-04-08 21:37] jorjo1 commented on #339
Tested on an older version of iOS and safari works. :heavy_check_mark:
Tested on Android with newest Chrome :heavy_check_mark:

[2016-04-08 21:37] boriside commented on #339
Maybe it's only issue on my devices, but I would suggest @Rostlab/js_cs_sose_2016_students to try the portal on mobile device (especially on tablets)

[2016-04-08 21:39] boriside commented on #339
And one more thing guys, why don't we actually exclude PLODs < ..lets say 20? Maybe we should open another issue on that, but I think they are not so interesting for the people.

[2016-04-08 21:39] gyachdav commented on #341
Yes Ignore the mail for now.

[2016-04-08 21:40] yashha commented on #339
Android Opera :heavy_check_mark:
But I noticed the map is catching the touch inputs, but thats probably not evitably.

[2016-04-08 21:41] mammuth commented on #339
Maybe your network is blocking something which causes our app to crash?

Regarding your plod, suggestion: Actually the characters with a low PLOD are the _Survivors_, so probably they make sense.

@yashha, Opera ?!?!?! :flushed:

[2016-04-08 21:42] #341 closed

[2016-04-08 21:43] jorjo1 commented on #341
What mail? :wink:

[2016-04-08 21:47] mammuth commented on #310
Is this something still needed?

[2016-04-08 21:47] mammuth commented on #324
Closing as part of #338

[2016-04-08 21:47] #324 closed

[2016-04-08 21:49] mammuth commented on #37
Closing since it's horrible outdated and got useless.

[2016-04-08 21:49] #37 closed

[2016-04-08 21:51] gyachdav commented on #338
This character is dead and should not be on the start page I actually thought I removed it from the antagonists list.

[2016-04-08 21:51] mammuth commented on #279
This has been implemented somewhere but didn't get referenced from the PR I guess, @yashha?

[2016-04-08 21:51] #279 closed

[2016-04-08 22:13] #326 closed

[2016-04-08 22:52] yashha commented on #246
![image](https://cloud.githubusercontent.com/assets/4728786/14399478/63c5b79c-fded-11e5-9a47-7d3bf08052a9.png)

[2016-04-08 22:53] yashha commented on #246
nvm its probably because its the wrong url.
gn8 ^^

[2016-04-08 22:53] #246 closed

[2016-04-08 23:10] TheZoker opened #343 "Update to react 15"
https://facebook.github.io/react/blog/2016/04/07/react-v15.html

Latest version is: v15.0.1

[2016-04-08 23:16] mammuth commented on #343
What are advantages of the releases between?
It's one day before our release, if there isn't something crucial, those updates are nothing that need to be done...

[2016-04-08 23:18] TheZoker commented on #343
I guess mainly its good to keep everything up2date, because there are always many bug fixes in such a main release. They also improved svg handling.

[2016-04-08 23:19] TheZoker commented on #203
@mammuth @jorjo1 @mina-zaki @yashha @Andrew094 Guys I need to know, which of the [dependencies](https://github.com/Rostlab/JS16_ProjectF/blob/develop/package.json#L21) are real devDependencies, so they are not used in the main app, but for testing, linting etc.

Can you please list me these packages? I guess you know your packages best :)

[2016-04-08 23:23] mammuth commented on #343
I don't think the same way :wink:
Generally, blindly upgrading major versions because "hey, there's an update" isn't anything that suits the development of applications with various components and dependencies...
Sure, this site is small and probably there aren't any fancy deps, but we started with a certain version and the whole development is based on that.

Furthermore we have other stuff to do

[2016-04-08 23:24] yashha commented on #203
I think only

[code]

They are not neccecary in
npm run build or npm run serve

[2016-04-08 23:26] TheZoker commented on #343
That's why I did not update it directly, but opened an issue ;)
Facebook says:

And I don't say that you have to give this a high prio, but keep it in mind, if the all main things are done. The issue system is not only for short term issues, but also for long term, that need some time and investigation.

[2016-04-08 23:29] TheZoker commented on #203
What about things like:

[code]

[2016-04-08 23:31] yashha commented on #203
They're used in the build process, to test while building in travis.
It would be probably better to have a separate testing env but its ok so I think.

[2016-04-08 23:33] yashha commented on #343
Well it won't change much, I see the dom output is cleaner after the update, but it's really not much.
If you want to update it and test it in a separate branch you can do it, but there is no need in doing it.

[2016-04-09 00:09] TheZoker commented on #203
Should be fixed with #344

[2016-04-09 00:09] #203 closed

[2016-04-09 00:14] gyachdav opened #346 "Same version, different behavior on two hosts"
on www.got.show i see

![screen shot 2016-04-08 at 8 10 52 pm](https://cloud.githubusercontent.com/assets/4074881/14400418/f8a1b438-fdc5-11e5-943b-22f1ab86f953.png)
PLOD presented **under** images but heading doesnt show.

on heroku i see:

![screen shot 2016-04-08 at 8 10 20 pm](https://cloud.githubusercontent.com/assets/4074881/14400429/0b9996a0-fdc6-11e5-9632-a2dc2be949ba.png)

notice PLOD at 0

[2016-04-09 00:17] gyachdav commented on #319
Now that we have 4 items in the navi, please:
- space them out some more
- increase font size
- align to the right

[2016-04-09 01:31] gyachdav commented on #339
Tried on Android with newest chrome. seems to work.

[2016-04-09 01:38] gyachdav commented on #151
there's a reference to herokuapp in the sitemap file

here is the reference:
https://got-stats.herokuapp.com/machine-learning-algorithm-predict-death-game-of-thrones

[2016-04-09 02:04] jorjo1 commented on #346
@gyachdav the PLOD has a default value of 0 and gets changed when the information is loaded. The inconsistancy between www.got.show and herokuapp is that we have no acces to the server, but only @sacdallago

About the versions, I have no explanation right now o.O

[2016-04-09 02:07] gyachdav commented on #346
the ver on heroku works now, thanks. I'm guessing that the tag for the version number is being picked up from github? (otherwise I cannot explain why both versions show the same number even though @sacdallago did not install the latest on got.show)

[2016-04-09 02:15] jorjo1 commented on #346
Yep, it's pulled directly from github

[2016-04-09 02:27] gyachdav commented on #346
mystery solved, thanks!

[2016-04-09 02:27] #346 closed

[2016-04-09 05:05] #320 closed

[2016-04-09 05:17] #319 closed

[2016-04-09 05:17] #310 closed

[2016-04-09 05:22] jorjo1 commented on #260
This is done, right? @mammuth @yashha

[2016-04-09 09:39] mammuth commented on #260
Oh,  yep, that's definitely done :+1:

[2016-04-09 09:40] #260 closed

[2016-04-09 09:40] sacdallago commented on #346
:D that's sort of inconvenient
You basically always have the last version running... althouuuughhh :D :D :D

[2016-04-09 09:42] sacdallago commented on #339
iPad mini (safari + chrome), Nexus 7 2013 (chrome), Galaxy Note 4 (chrome, opera mini, samsung internet) work

[2016-04-09 09:59] mammuth commented on #339
@boriside, could you try it in a different network? Like your mobile network eg.

Otherwise I think we can close this, since it's not reproducible.

[2016-04-09 09:59] #339 closed

[2016-04-09 10:04] sacdallago commented on #343
Right before my bachelor defense the highly unstable (not 1.x) version of the node framework I was using decided to have its 0.8 to 0.9 bump... Destroying yet no core-functionalities, but the dependencies (aka: components I was using bound to that framework).

From my side: just be careful if you use react-bound dependencies (stuff in you package.json that has the name "react" somewhere in it :D :

[2016-04-09 14:26] yashha commented on #316
Why https://api.got.show/api/plod/bySlug/Petyr_Baelish
has gotarffplod of 1, thats really strange when I show that he has a chance of 100%

[2016-04-09 16:24] yashha commented on #338
Are they all added now? :)
Can this be closed?

[2016-04-09 16:27] yashha commented on #272
You can reopen it, the next time you have error.

[2016-04-09 16:27] #272 closed

[2016-04-09 16:31] #23 closed

[2016-04-09 16:33] yashha opened #354 "Bars number of tweets unter the d4 diagramm on the detail page"

[2016-04-09 16:33] yashha opened #355 "What does people say now on detail page"

[2016-04-09 16:35] gyachdav commented on #338
I believe so

[2016-04-09 16:35] #338 closed

[2016-04-09 16:43] gyachdav commented on #355
I can only give an opinion if I see it. Please mergeeeeee to staging.

[2016-04-09 16:50] yashha commented on #355
Its only an issue, needs to be implemented :)

[2016-04-09 17:18] yashha commented on #355
timepicker ;)
http://www.material-ui.com/#/components/time-picker

[2016-04-09 17:25] yashha commented on #151
@sacdallago Do you make an extra google console and analytics account?

[2016-04-09 17:28] goldbergtatyana commented on #316
its fine that the prediction for him to die is 100%, @yashha

However, **gotarffplod is the worse predictor** and its result only replaces XX% in the description of predictor_1.

[2016-04-09 17:42] mammuth commented on #151
@sacdallago what will be the final domain name?
- _www.got.show_ or
- _got.show_

Need this information for the sitemap.

@gyachdav will fix it in a commit if I have @sacdallago answer :+1:

[2016-04-09 17:53] yashha commented on #151
We should use both urls in my opinion
But main url should be without www

[2016-04-09 18:07] mammuth commented on #151
No we shouldn't, due to SEO and compatibility with tools like the webconsole and anyltics.

There should be one of the both domains where the site is hosted. The other one should redirect to that one.

I prefer www.got.show because this one is probably better recognized as an url on mobile devices or chats like Facebook. (Like we see here on GitHub).
It would be a pity, if people share a link to o

[2016-04-09 19:01] mammuth opened #358 "Add 2nd PLOD Value to characters page"
Currently we still say "Our second, less accurate, algorithm predicts likelihood to be XX%."
The 2nd PLOD isn't added to the character state in our react component yet.

[2016-04-09 19:36] marcusnovotny commented on #151
Thanks for adding the sitemap, good job :+1:

Please, if still possible, **rework the metadata**. I gave pretty detailed examples in my post above already. If you can't make it, let me know and I'll write the descriptions...

[2016-04-09 20:27] gyachdav opened #359 "Brandon stark dead?"
Can you please check how bran stark is dead in the webpage but not in the DB?  Is this a problem with pulling the wrong entry from the DB again?

https://got-stats.herokuapp.com/characters/Brandon%20Stark

[2016-04-09 20:58] sacdallago commented on #151
@mammuth got.show, no www. We are in 2016 :D

[2016-04-09 20:58] sacdallago commented on #151
@yashha yeah! I have an analytics code that is bound to the google page! What an awesome world we live in

[2016-04-09 20:59] yashha commented on #359
The problem is that he has a date of death :(
https://api.got.show/api/characters/Brandon%20Stark?strict=true

[2016-04-09 21:02] sacdallago commented on #359
@gyachdav if that's the case on the wiki, then the problem is at the root

[2016-04-09 21:03] goldbergtatyana commented on #359
i think the problem is that we have brandon stark who is dead https://got-stats.herokuapp.com/characters/Brandon%20Stark and bran stark, who is a different character, and who is alive https://got-stats.herokuapp.com/characters/Bran%20Stark

:smile:

[2016-04-09 21:08] #343 closed

[2016-04-09 21:11] gyachdav commented on #359
okay i think i know what the problem is. PR coming soon.

[2016-04-09 21:48] #359 closed

[2016-04-09 21:56] sacdallago opened #362 "Change attribution order"
Please, for political reasons:

Put the attribution to the "A Wiki of Ice and Fire" / http://awoiaf.westeros.org/index.php/Main_Page absolutely in first position in https://www.got.show/attributions

Thx

References: #234

[2016-04-09 22:00] sacdallago commented on #362
Also put somewhere on the [about page](https://www.got.show/about), maybe after the Attributions title and before the paragraph that redirects to the relevant page, a paragraph like:

-- or something very _american_ like this

Again: political reasons / trust me on this one

[2016-04-09 22:16] sacdallago opened #363 "Twitter sentiment trendline"
[This character](https://www.got.show/characters/Jaqen%20H'ghar) is the "most loved" character according to https://www.got.show/ranking .
The twitter graph though doesn't appear to have any information on it.
This is not true, as we are running an instance with the same data but only the graph under csv.got.show and this char clearly has a lot of twitter data related: http://csv.got.show/Jaqen_H_

[2016-04-09 22:23] yashha commented on #363
yea  the problem is the ' in the name
we have to replace it with an _ before we send the csv request on the client
https://www.got.show/d4/csv/Jaqen_H_ghar.csv

Edit: thanks for the notice :)

[2016-04-09 22:26] sacdallago commented on #363
I also noticed a 0% PLOD, so maybe, just maybe, there's also a problem there?

I think _slugs_ interpret `'` as `_`

[2016-04-09 22:28] marcusnovotny commented on #363
Project A switched the slug for us since the ' caused problems. Other characters don't have special characters in their name, so there shouldn't be any more issues like that. yashha is right.

The ranking on the page is outdated anyway. DB dump will be up shortly, the ranking looks like this at the moment:

Most Popular

[code]

Most Hated

[code]

I'm confident that we have full data on all major

[2016-04-09 22:53] marcusnovotny commented on #169
Added Daenerys Targaryen Landing Page #365 @gyachdav

[2016-04-09 22:54] gyachdav commented on #169
@marcusnovotny no end in sight for stats page. I will only get to Ramsay vs. Reek on Monday.

[2016-04-09 22:56] gyachdav commented on #169
@marcusnovotny  send link to Deaenerys file plz

[2016-04-09 22:57] marcusnovotny commented on #169
So we'll add things post release?

@gyachdav
https://github.com/Rostlab/JS16_ProjectF/blob/LandingPages/static/daenerys%20targaryen.md

If I don't get a job offer from Buzzfeed anytime soon I'm going to be seriously disappointed

[2016-04-09 22:59] gyachdav commented on #169
yup probably. setting bad example i know..

[2016-04-09 23:00] marcusnovotny commented on #169
Expect no blame from me, I wanted to have this done a week ago :no_mouth:

[2016-04-09 23:02] togiberlin commented on #169
@marcusnovotny --> just FYI: Statistical visualizations are being uploaded/edited [here](https://github.com/Rostlab/JS16_ProjectA/tree/master/misc/statistics).

[2016-04-09 23:03] gyachdav commented on #169
hmm have you checked our predictions lately? https://got-stats.herokuapp.com/characters/Daenerys%20Targaryen

she's at 95%
not really a winning horse according to us

[2016-04-09 23:05] gyachdav commented on #169
@togiberlin we need to improve the treemap. please make sure that the tooltips show numbers, right now they're not really informative. Also is there a chance of placing big blocks close to smaller blocks? or does it all have to go in size order?

[2016-04-09 23:08] marcusnovotny commented on #169
It makes sense from the algorithm's point of view, since all her family is dead and the Valyrian people tend to die sooner than others, but most other sources consider her a strong contestant. I think with the dragons her survival is pretty much guaranteed, but of course the algorithm can't take details like that into account.

How do we handle this? I could add a paragraph of her being in danger

[2016-04-09 23:09] gyachdav commented on #169
yup make up shit like that, its good :laughing:

[2016-04-09 23:13] gyachdav commented on #363
Grey worm most hated? really? and ellia martell? what did she ever do to anyone?

[2016-04-09 23:14] togiberlin commented on #169
@gyachdav Tooltips are no problem. Now it's 1 AM, I'll go to sleep an continue tomorrow 😴
What I don't like is [visited_locations_per_character.html](https://github.com/Rostlab/JS16_ProjectA/blob/master/misc/statistics/visited_locations_per_character.html), perhaps we can group/aggregate characters into high/medium/low or houses (?)

[2016-04-09 23:18] marcusnovotny commented on #363
It's from negatively phrased tweets about events that happened to them. For Grey Worm it's episodes where his life was in danger (Sons of the Harpy attack), Elia Martell was apparently mentioned in a lot of unhappy tweets after Oberyn died. It's hard to filter stuff like that out. Best solution I can come up with is to rephrase "Most Hated" into "Most negative mentions"

[2016-04-09 23:18] gyachdav commented on #363
yes please rephrase. most hated will raise a lot questions and undermine our credibility.

[2016-04-09 23:20] gyachdav commented on #169
just pick up a subset of the top 100 then or something presentable. the long tale is not that interesting anyways.

[2016-04-09 23:21] marcusnovotny commented on #363
Probably easiest to just switch the headline on the website, what do you think?

[2016-04-09 23:24] gyachdav commented on #363
You mean the heading in the ranking page? yeah sure, make a note on https://github.com/Rostlab/JS16_ProjectF/issues/40

[2016-04-09 23:26] marcusnovotny commented on #40
Sorry that I reopen this, but we'll have to rephrase "Most loved" and "Most hated" into "Most positive mentions" and "Most negative mentions" since some popular characters ended up in the most hated column. Makes a lot more sense that way, because the tweets were from people worrying about them.

See our discussion over at #363 for more info. Thanks.

[2016-04-09 23:26] marcusnovotny commented on #363
Done

[2016-04-09 23:31] marcusnovotny commented on #169
Added following paragraph

---

##### H3: … Sooo, things are set, right?

Well, almost. In Game of Thrones, there’s always a hint of uncertainty – and you have to admit that a lot of people want to see her dead. [Take this assassination attempt on youtube for example.](https://www.youtube.com/watch?v=MIGYQr6ldJk) We in the got.show editorial department are confident that she’ll end up being victor

[2016-04-10 03:23] gyachdav commented on #216
@goldbergtatyana @togiberlin  I think i got the first installment of the statics page. it will talk about characters and their survival rates and it will show the data and charts that @goldbergtatyana created.
The other ideas we talked about and the data we collected will go into other statistics page that we will release later (like landing pages).
please take a look at https://docs.google.com/do

[2016-04-10 08:29] sacdallago commented on #216
Why is it everyone is always protecting their files :(

[2016-04-10 11:24] mammuth commented on #151
_.show_ is so 2016, almost no application is recognizing it as an URL, and doesn't make a link out of it :+1: :yum:

[2016-04-10 11:36] #316 closed

[2016-04-10 12:05] #363 closed

[2016-04-10 12:16] mammuth commented on #362
Closed by https://github.com/Rostlab/JS16_ProjectF/commit/897079c62c35fa871665f80e9d0018c07ae3065a

[2016-04-10 12:16] #362 closed

[2016-04-10 12:18] #358 closed

[2016-04-10 12:19] #298 closed

[2016-04-10 12:21] mammuth commented on #298
Done in https://github.com/Rostlab/JS16_ProjectF/pull/351

[2016-04-10 12:42] sacdallago commented on #151
:D yeah! I love it! Some DNS servers are like: WTF is .show?

[2016-04-10 13:12] sacdallago opened #369 "Twitter sentiment graph buggy?"
I saw that this happens only on the website provided by you, not on csv.got.show. Basically:

When I open up the page I get the graph with a certain zoom, thus some labels on top of the graph like "season XYZ". If then I zoom around, the original labels stay and some more labels are produced that move according to zoom or navigation (Screenshot attached, notice that "season 05" between season 03 a

[2016-04-10 13:27] goldbergtatyana commented on #169
Wiping tears from laughing @marcusnovotny  :joy:

Amazing job on Dayenerys landing page! As always!

[2016-04-10 13:27] sacdallago opened #370 "Tweet feature on rankings page"
I love the feature, extremely good idea! Maybe:

1. change the default tweet from "I love XYZ" to "I hate XYZ" for the :-1: button
2. The link from www.got.show to got.show
3. Put the @asoiad for our twitter account

:D Who knows, maybe I _do_ love yellow dick... If got.show says so :cry:

![screen shot 2016-04-10 at 3 24 25 pm](https://cloud.githubusercontent.com/assets/6240943/14410464/b6ea859e-

[2016-04-10 14:20] yashha opened #371 "Daella_Targaryen_(daughter_of_Maekar_I) is currently dead"
https://got-stats.herokuapp.com/characters/Daella%20Targaryen%20(daughter%20of%20Maekar%20I)
Daella_Targaryen_(daughter_of_Maekar_I) is currently dead, but she is listed in 3 with highest death chance in character listing

Its because she has no gotplod in this request
https://api.got.show/api/plod/bySlug/Daella_Targaryen_(daughter_of_Maekar_I)
https://github.com/Rostlab/JS16_ProjectA/issues/142

[2016-04-10 15:09] goldbergtatyana opened #372 "ML URL update"
Please update the ml description URL from https://www.got.show/machine-learning-algorithm-predict-death-game-of-thrones to https://www.got.show/machine-learning-algorithm-predicts-death-game-of-thrones

The difference is in an additional "s" at the end of the word "predict" --> better English :wink:

[2016-04-10 15:18] #372 closed

[2016-04-10 16:09] mammuth commented on #371
Closed by #373

[2016-04-10 16:09] #371 closed

[2016-04-10 16:24] gyachdav commented on #65
Add to attribution page:
- [x] The A Song of Ice and Fire setting is Copyright © George R.R. Martin.
- [x] Game of Thrones TM and copyright HBO.

[2016-04-10 17:09] yashha commented on #355
I think I stop here with this issue :)
There is a problem with the gotdailysentiment.runTwitterStreaming I think.

we have

[code]

But  this is not working
https://beta.got.show/d5/runListen/?name=Jon%20Snow&duration=1000

We push it to post release :)

[2016-04-10 17:24] #33 closed

[2016-04-10 17:25] #40 closed

[2016-04-10 17:37] #370 closed

[2016-04-10 18:31] goldbergtatyana opened #375 "Faces of some antagonists zoomed in too much"
For example of Kevan Lannister (see below). Let me know if you think I should go over the pictures and check that we don't have such cases, aka all pictures are beautiful :heart:

https://rostlab.org/~goldberg/antagonists.png

[2016-04-10 19:10] jorjo1 commented on #375
on mobile
![image](https://cloud.githubusercontent.com/assets/2246472/14412323/8b7e1eae-ff60-11e5-9648-bb3b4061e1ec.png)
to be fixed, really strange behaviour.. will fix in an hour

[2016-04-10 19:39] gyachdav commented on #216
Just uploaded the final version of the first stats page. please:
- [x] check it doesn't break anything
- [x] load content into the statistics section
- [x] put first paragraph in the start page

[2016-04-10 19:57] jcebel commented on #355
This is really odd. I thought we resolved that problem.
@kajo404 can you take a look please.

[2016-04-10 20:05] togiberlin commented on #169
@marcusnovotny [Hey Marcus, can you look at this and tell me, if you can integrate it into your Placeholder 1 section of Jon Snow PLOD?](https://github.com/Rostlab/JS16_ProjectA/tree/master/misc/statistics/jon_snow)

[2016-04-10 20:07] yashha commented on #355
Maybe its something on my part, but I don't wanna mess with it at the moment :)

[2016-04-10 20:10] gyachdav commented on #355
yup maybe we can have it ready for S06E01. Only if @kajo404 and team would make sure that all kinks are out and this is safe to run.

[2016-04-10 20:26] gyachdav commented on #169
@mammuth @jorjo1 @yashha @mina-zaki @Andrew094

Who will now:
- convert the landing pages that @marcusnovotny  created into html?
- add missing screen shots as per @marcusnovotny instructions in the page?
- include the first paragraph of the landing page in the start page?
- integrate the page into the site (i.e. arrange the routes to load the page).
- test

[2016-04-10 20:28] marcusnovotny commented on #169
@togiberlin Looks nice, that's part of Project F's scope though. Delegating the question :wink:

Please no screenshots for the tool placeholders, implement the real stuff! We want to show off don't we :grin:

[2016-04-10 20:29] gyachdav commented on #169
I agreed to static images in the interest of time, but yes @togiberlin pleas include the original and not low quality screenshots.

[2016-04-10 21:04] jcebel commented on #355
Please keep in mind that the duration is implemented in seconds. Maybe that can be a problem @yashha
EDIT: This one returns something:
https://beta.got.show/d5/runListen/?name=Jon%20Snow&duration=1

[2016-04-10 21:16] yashha commented on #355
Maybe its because it is blocked after called one time?
https://beta.got.show/d5/runListen/?name=Jon%20Snow&duration=10
The first time it took 10 sec and it come "Not found" back and the next times it took 1 sec to load not found.
After some attempts I get 502 Bad Gateway

[2016-04-10 21:23] jcebel commented on #355
Not found means, nobody is tweeting at the moment (I think for 10 sec it sounds reasonable). You may try it with any word you can think of (e.g. Donald Trump.. as the app is not checking if you're looking for GoT-Character in this function.)
The reason that it stopped can be that it got blocked, but the twitter-blocking is certainly not my expertise.
I'm trying to get a reaction from D5.. but I do

[2016-04-10 21:42] togiberlin commented on #169
@marcusnovotny @gyachdav Everything I did is not static , it's all Google Charts / JS

[2016-04-10 21:44] sacdallago opened #379 "Some polishing :)"
Speaking about the version currently hosted on https://beta.got.show

1. ~~In the footer~~
     - ~~About and Credits link to the about page. Remove the Credits link, leave the About.~~
2. In the about page
     - Please change the order of the Mentors list to:
          - Guy Yachav
          - Tatyana Goldberg
          - Christian Dallago
          - Dmitrii Nechaev
3. ~~In the characters page~

[2016-04-10 22:07] goldbergtatyana commented on #379
thanks @sacdallago! There is one typo: in the mentors list Chris' name should go before my name please! Thanks

[2016-04-10 22:19] jorjo1 commented on #379
@goldbergtatyana that's the order in the JSON file we have :P So it was first-come-first-serve. All right, fix is coming

[2016-04-10 22:22] yashha commented on #379
I do the sorting change dropdown change @jorjo1

[2016-04-10 22:29] yashha commented on #379
Shell we rename "Death chance" to "Chance of death"? ^^ or did you mean "Death chance"?

[2016-04-10 22:33] goldbergtatyana commented on #379
'Death chance' sounds better to me :)

[2016-04-10 22:38] #354 closed

[2016-04-10 22:41] jorjo1 commented on #65
#381

[2016-04-10 22:41] #65 closed

[2016-04-10 22:46] yashha opened #382 "Ranking md and smaller bootstrap bug"
![image](https://cloud.githubusercontent.com/assets/4728786/14413587/cdef8048-ff7e-11e5-8330-87ffa7a90976.png)

[2016-04-10 22:58] kajo404 commented on #355
Hey guys I am sorry I was gone for the night, I will look into it tomorrow morning! One thing to keep in mind is to only use the twitter access token from one machine and one application at the same time. If used from multiple applications twitter will block the key for a certain time frame. I tried to catch that error aswell if i recall correctly but I am not sure if it works. But as I said, I wi

[2016-04-10 23:00] yashha commented on #355
So it's not usable for the functionality we want to implement.
We wanted users to be able to listen to twitter for a certain amount of time.

[2016-04-10 23:24] gyachdav commented on #355
should be usable if the request originates from the same node instance and the client just reports the results.

I really see this as a cool feature that would be very useful on the site esp during episode air time. GoT def has a similar appeal as a sporting event and everything that happens live could generate excitement.

At any rate let's defer to post-release and only if there is willingness f

[2016-04-10 23:58] #382 closed

[2016-04-10 23:59] jorjo1 commented on #382
#385

[2016-04-11 00:18] #228 closed

[2016-04-11 00:58] #216 closed

[2016-04-11 01:12] yashha commented on #379
@jorjo1 can this be closed?

[2016-04-11 01:13] jorjo1 commented on #379
Not yet

[2016-04-11 01:30] jorjo1 opened #389 "D3js: The batman song"
it looks that this particular d3js script is as buggy as... :shit:
![image](https://cloud.githubusercontent.com/assets/2246472/14414596/ba4a4994-ff95-11e5-974a-2786e67534f4.png)

[2016-04-11 01:40] yashha commented on #369
Top tags are now fixed but the tags at the bottom have still this issue.

[2016-04-11 01:45] yashha commented on #169
I started working on them

[2016-04-11 07:57] theocheslerean opened #391 "Font of the formulas is bad"
![screenshot_2016-04-11-09-54-05](https://cloud.githubusercontent.com/assets/12728596/14420329/c3eaae9a-ffcb-11e5-9a83-c49c6940db84.png)

[2016-04-11 08:10] sacdallago commented on #391
That's because the formulas are PNG images.
Is that markdown interpreted text? Does someone know what Markdown parser is used?

https://github.com/cben/mathdown/wiki/math-in-markdown

[2016-04-11 08:19] kajo404 commented on #355
This is correct. If you can describe what exactly you are trying to do I can look in to it and see if I can come up with a solution before the airing of the first episode

[2016-04-11 08:35] sacdallago commented on #389
:D I noticed this too! Loved the console

[2016-04-11 08:39] sacdallago commented on #355
For me, every time I tried so far it worked :) Really cool!
I only have one concern: Security! If everyone can just call up that route and set a timeout and "spawn" jobs on the server which can potentially last an infinite number of seconds... :(
You can hardcode something like "Get what people say about XYZ in the next 30 seconds" on the characters page, and have a "hardcoded" call to the backend

[2016-04-11 09:11] yashha commented on #391
we are using the react 'markdown-loader' which is using marked

[2016-04-11 09:23] sacdallago commented on #391
Me and @goldbergtatyana  have been giving a look, there seems to be no support for formulas out of the box for marked. @goldbergtatyana will produce some new images

[2016-04-11 09:32] goldbergtatyana opened #392 "No more algorithm2"
The two machine learning algorithms provide sometimes ridiculously contradictory results.  For example, for Jon snow we get PLOD = 11% by algorithm1 and PLOD=99% by algorithm2. So, we'd rather not want to have this old couple behavior on our website.

And though we really love the sentence "Our second, less accurate, algorithm predicts likelihood to be 100%, because he is dead." we (i.e. the mento

[2016-04-11 11:19] goldbergtatyana commented on #391
I regenerated formulas with the simple power point this time and updated the plod-description.md file to remove descriptions of algo2.

[2016-04-11 11:31] yashha commented on #391
See like still no images :disappointed:

[2016-04-11 11:35] sacdallago commented on #391
Hey I am with @goldbergtatyana and we were having a look at the output of the interpreted markdown and it would be nice if you could add the following CSS befaviours:

[code]

Eventually also

[code]

[2016-04-11 11:35] goldbergtatyana commented on #391
Pls see here: https://github.com/Rostlab/JS16_ProjectF/blob/develop/static/plod-description.md

[2016-04-11 11:37] yashha commented on #391
It seems like they have to be stored locally i tried it and it worked
But the images you are providing have a different background-color:
![image](https://cloud.githubusercontent.com/assets/4728786/14425843/8de468c6-ffea-11e5-9ae2-cbb1f9c458f2.png)

[2016-04-11 11:38] yashha commented on #391
I used this:
`![alt text](.//Fmeasure.png "Title")`

[2016-04-11 11:41] goldbergtatyana commented on #391
What is the color code?

I used one of the online tools to get it and the tool showed to me #242524. Seems it was wrong!

[2016-04-11 11:42] yashha commented on #391
I believe #1F1F1F :)

[2016-04-11 11:49] goldbergtatyana commented on #391
The background color should be fixed now. Please check @yashha. Links are the same.

[2016-04-11 11:54] yashha commented on #379
Now? ;)

[2016-04-11 12:01] yashha commented on #391
looks good ;)
![image](https://cloud.githubusercontent.com/assets/4728786/14426248/ede38af6-ffed-11e5-9699-4f4103397199.png)

[2016-04-11 12:01] #391 closed

[2016-04-11 12:51] yashha opened #395 "Update sitemap.xml for landingpages"

[2016-04-11 13:15] boriside opened #396 "Portal crash on safari"
For those who don't believe me I created a video :D The site crashes on regular mac computers on safari only. Tested on 4 machines.
[https://drive.google.com/open?id=0B64iNLTxwWNPS0FnNGJpUGdJdHM](https://drive.google.com/open?id=0B64iNLTxwWNPS0FnNGJpUGdJdHM)

[2016-04-11 13:36] jorjo1 commented on #396
lol bring me an apple product to test

[2016-04-11 13:44] gyachdav opened #397 "Development freeze in 2 hours"
Hey guys,

It is now time to announce a development freeze for the got.show website.

You guys have done an incredible job reducing your issues list from >40 to about 15 minor importance issues and altogether shaping up the the website to look really cool, robust and professional.

Please take until **18:00CET** to clean up and wrap up. Finish the issues that are now affecting the way the website

[2016-04-11 13:47] jorjo1 commented on #379
#398 :checkered_flag:

[2016-04-11 13:47] #379 closed

[2016-04-11 13:49] jorjo1 commented on #397
I got this message, will do anything possible to fix main issues till 17 CET

[2016-04-11 14:08] gyachdav opened #399 "Most dangerous houses"
here is the list of the top 10 popular dangerous houses:

House Tully	0.948
House Clegane	0.899
House Velaryon	0.843
House Seaworth	0.833
House Nymeros	0.822
House Targaryen	0.819
House Oakheart	0.611
House Greyjoy	0.592
House Lannister	0.576
House Westerling	0.576

[2016-04-11 15:07] gyachdav commented on #275
@marcusnovotny we will launch without landing pages :disappointed:

Not your fault just the nature of the biz.

We will however should now set a target to publish **one landing page every two days** until we have all the pages we planned originally.

So, the first landing page to be release post release will be the Jon Snow page and the target will be tomorrow - Tuesday April 11.  @jorjo1 is still

[2016-04-11 15:13] yashha commented on #275
The jon snow landingpage is finished, It just has to be merged.
https://github.com/Rostlab/JS16_ProjectF/pull/384

[2016-04-11 15:13] gyachdav commented on #275
ah really? did you get the info graphic from @togiberlin ?

That's really cool news!

[2016-04-11 15:14] yashha commented on #275
Yes it is already inside it.

[2016-04-11 15:35] yashha commented on #397
We need to start merging. :(

[2016-04-11 15:51] marcusnovotny commented on #275
Last page coming tomorrow!

[2016-04-11 15:56] gyachdav commented on #275
and also the last landing page from my end Ramsay vs. Reek will come in tomorrow.

[2016-04-11 17:07] sacdallago commented on #397
Now you can merge all PRs that are OK to be merged, the rest you please close. Once there are no PRs the site goes live

[2016-04-11 17:09] mammuth commented on #397
Will join soon, I'm already into stopping my current work :+1:

On Mon, Apr 11, 2016, 19:07 Christian Dallago notifications@github.com
wrote:

[2016-04-11 17:09] sacdallago commented on #275
So let's say that tomorrow we have **ONE** PR for all landing pages missing.

Who wants to be the last one to touch the code in a while @jorjo1 @yashha @mammuth ?

[2016-04-11 17:10] sacdallago commented on #397
:+1:

[2016-04-11 17:36] jorjo1 commented on #397
I just did not manage to do some improvements because of personal issues, I am sorry. If @sacdallago is okay with that I can do this overnight

[2016-04-11 18:48] mammuth commented on #399
I guess we only display the TOP5 since all other rankings are also only 5?

[2016-04-11 18:53] mammuth commented on #396
Can't reproduce on El Capitan and Safari 9.0

[2016-04-11 18:53] mammuth commented on #396
Same as with your mobile devices: Can you make sure nothing at your network is blocking something?

[2016-04-11 18:55] gyachdav commented on #399
if this is really awkward showing more then 5 then how about collapsing the second set of 5 houses and giving the option to expand? there are just interesting houses from the 6th position onward.

also please link the houses to their page in the wiki.

[2016-04-11 18:55] gyachdav commented on #397
You're asking to extend the freeze to tomorrow?

[2016-04-11 19:14] #395 closed

[2016-04-11 19:14] #392 closed

[2016-04-11 20:06] #399 closed

[2016-04-11 20:33] mammuth commented on #169
The landing-pages we have translated until now have been merged:
- Daenerys
- Jon Snow
- House Stark

It makes sense to just add PR's for the next markdown files we get.

[2016-04-11 20:35] yashha commented on #169
But only Jon Snow is presentable, the others need design adjustments

[2016-04-11 20:35] mammuth commented on #397
<img width="1020" alt="screen shot 2016-04-11 at 22 35 09" src="https://cloud.githubusercontent.com/assets/3121306/14441565/ad55126e-0035-11e6-9b8e-45ebe22e3f06.png">

[2016-04-11 20:40] jorjo1 commented on #397
No, I am not asking for extension. The website is ready, but the things I would like to make even cooler will be post-release.

[2016-04-11 20:40] mammuth commented on #275
Öh, since @yashha told me to merge the landingpages we currently have, I did so. So we will merge new landing pages separately.

Closed via #384

[2016-04-11 20:40] #275 closed

[2016-04-11 20:41] mammuth commented on #169
Then the question is, why I should merge it. :wink:
Nevertheless: Should we remove the other two from the sitemap as long as they're not ready?

[2016-04-11 20:46] yashha commented on #169
I don't think this is neccesary
Do you think people find the pages on Google?

[2016-04-11 20:49] mammuth commented on #169
Well, that's why we did those landingpages, right? :relaxed:

However it'd surprise me, if any of our pages would be on the first pages of search results within the next months when searching for "meaningful" queries :wink:

[2016-04-11 20:57] sacdallago commented on #397
The _final_ version is up and running.
If @jorjo1 you want still to add some modifications, integrate this with the one PR of the landing pages tomorrow! Last PR ;)
Trust me, it's for you

**edit** up and running, I just need to change a few things here and there with nginx :D gimme like.. 10 minutes :D

[2016-04-11 21:04] sacdallago commented on #397
Oh, and @yashha please tear down the heroku deployment :)

[2016-04-11 21:06] gyachdav commented on #397
@sacdallago, sure this is the version we want in prodcution?
![screen shot 2016-04-11 at 5 07 01 pm](https://cloud.githubusercontent.com/assets/4074881/14442431/bb2bf516-0007-11e6-84d8-a3d530f5344f.png)

[2016-04-11 21:06] sacdallago commented on #397
AAAnnnnnddddd last but not least, in that PR tomorrow:

# Please

# The

# Homepage!

That thing on the bottom

# 's

# uggghlleeyy

:joy:

[2016-04-11 21:07] sacdallago commented on #397
@gyachdav that's what I got from develop :D but if you look up, I already mentioned it :D

[2016-04-11 21:07] mammuth commented on #397
Btw, @sacdallago do you have a hook onto the staging branch here? Or maybe a dedicated branch? Would be a pity if you need to get hand on the server everytime we want to deploy a new version :wink:

[2016-04-11 21:08] sacdallago commented on #397
I'll create a CRON job to pull from master every x days?

[2016-04-11 21:09] gyachdav commented on #397
but now there's no access to the landing pages...

[2016-04-11 21:09] sacdallago commented on #397
It's gonna come in tomorrow's one and only last PR, am I right? @mammuth @yashha @jorjo1

[2016-04-11 21:10] mammuth commented on #397
:scream: You must be kidding :wink:

_It's 2016 - the age of .show domains_, remember? Guess what, there are better solutions for CI than cronjobs :wink:
https://help.github.com/articles/about-webhooks/
@kordianbruck and I wrote such a hook some time ago, supporting proper authentication with GitHub etc.:
https://github.com/kordianbruck/AutoUpdate

[2016-04-11 21:11] mammuth commented on #397
Maybe I'm going for a last direct push to develop as well? :blush:

[2016-04-11 21:12] gyachdav commented on #397
c'mon guys now I feel like I was locked out of the ice cream shop... pleas put in the links to the landing pages.

[2016-04-11 21:12] sacdallago commented on #397
I know, I know... CRON job, 1 line, 5 minutes, your way, ? lines, ? minutes! I'm human, not smart

[2016-04-11 21:13] sacdallago commented on #397
@gyachdav you are gonna get it! don't worry. Have faith! @mammuth ? As in: @mammuth tomorrow in the PR, PLEASE :D :D

[2016-04-11 21:14] yashha commented on #397
https://got.show/jon-snow-is-not-dead.html
https://got.show/daenerys-targaryen.html
https://got.show/house-stark.html

[2016-04-11 21:14] mammuth commented on #397
@gyachdav what exactly do you mean?
Landing pages seem to be properly served:
<img width="1262" alt="screen shot 2016-04-11 at 23 11 03" src="https://cloud.githubusercontent.com/assets/3121306/14442609/fe60bf64-003a-11e6-8db3-04215b93fbd4.png">

[2016-04-11 21:15] sacdallago commented on #397
He is talking about those uuuugghhlleeey lorem ipsum at the bottom in the home.. They should also point to the landing pages, one paragraph x landing page... just copy paste + read more link

[2016-04-11 21:17] gyachdav commented on #169
@togiberlin please use better color scheme so we can see the charts in the landing pages. see example charts and styles here https://got.show/statistics

[2016-04-11 21:18] mammuth opened #404 "Add Landing page-stubs to homepage-blog.md"
@yashha, feel free to re-assign.

Since you said only jon-snow is ready to be seen by people, let's only add him for now?

Until that, I removed the placeholder-text (https://github.com/Rostlab/JS16_ProjectF/commit/8c91f0f140819e80e0fce7b0792735ef1c3554c6)

[2016-04-11 21:19] mammuth commented on #397
Right, we can do this whenever landing-pages are realy ready to be linked to: #404

[2016-04-11 21:20] sacdallago commented on #397
**BEST, ISSUE NUMBER, EVVAH**

[2016-04-11 21:21] gyachdav opened #405 "wrong link"
in

https://got.show/jon-snow-is-not-dead.html

the link from Read more about our awesome Life & Death Predictions here!

Should go to:

machine-learning-algorithm-predicts-death-game-of-thrones

but instead goes to

https://got.show/ranking

[2016-04-11 21:22] mammuth opened #406 "Create Github Hook"
https://help.github.com/articles/about-webhooks/
https://github.com/kordianbruck/AutoUpdate

[2016-04-11 21:25] yashha commented on #375
Fix the names please in the same pr
![image](https://cloud.githubusercontent.com/assets/4728786/14442955/b67074c2-003c-11e6-93b3-4dcc3bcab1c6.png)

[2016-04-11 21:28] mammuth commented on #375
We had a PR un-justifying headlines. Probably this is caused by this one. What a pity we didn't notice.

[2016-04-11 21:43] #397 closed

[2016-04-12 06:46] togiberlin commented on #169
@yashha Can you copy the statistics over again? [Jon Snow Statistics](https://github.com/Rostlab/JS16_ProjectA/blob/master/misc/statistics/jon_snow/jon_snow_infographic.html) @gyachdav

[2016-04-12 06:56] boriside commented on #396
Yes, but it's not my internet. Maybe the internet of the Uni. It happens only on safary on Mac.

[2016-04-12 07:36] sacdallago commented on #396
This time I can confirm! Happens to me as well, am also behind the LRZ network though.

The error only seems to happen if I scroll **right** after the page loads, if I wait one/two second/s it doesn't happen

[2016-04-12 07:38] sacdallago opened #408 ""Loading" in char page out of frame"
I think this has always to do with the not-justifying titles @mammuth

[2016-04-12 07:44] jorjo1 commented on #408
This needs to be fixed:
h1, h2, **h3**, h4, h5, title {
    font-family: Cinzel Decorative,cursive;
  ~~*\*  text-align: left;**~~
}

[2016-04-12 08:55] marcusnovotny opened #409 "No left / right margin on Android Chrome 49"
![screenshot_2016-04-12-10-49-11](https://cloud.githubusercontent.com/assets/17390795/14454874/c4c72b50-009c-11e6-85e9-e4095106c295.png)

The page gets cut off at the sides, regardless of the way I tilt my Z3 Compact

[2016-04-12 12:13] yashha commented on #408
No we wanted to have the main style like this
just make an .center class and center it manually

[2016-04-12 12:25] kajo404 commented on #409
I was just about to make an issue about it :D
Same on my Galaxy S5

![screenshot_2016-04-12-13-48-25](https://cloud.githubusercontent.com/assets/11276160/14459807/7091390e-00ba-11e6-8929-2b674d0c2b92.png)

[2016-04-12 12:38] yashha commented on #404
@gyachdav @sacdallago
Can you do this?
We need just some text in here https://github.com/Rostlab/JS16_ProjectF/blob/develop/config/markdown/home-blog.md

Layout

[code]

[2016-04-12 16:06] TheZoker opened #412 "Center PLOD character name"
Current look:
![img_2016 04 12_19h02m05s_002_](https://cloud.githubusercontent.com/assets/1368405/14466910/1466dd4a-00d9-11e6-8974-11e2507abe2f.png)
Suggested look:
![img_2016 04 12_19h02m40s_003_](https://cloud.githubusercontent.com/assets/1368405/14466911/14672a5c-00d9-11e6-8158-f5eb19feba19.png)

Also the twitter sentiments header would need a padding or needs to be centered:
![img_2016 04 12_1

[2016-04-12 16:08] TheZoker opened #413 "Many (32) mixed content issue on main page"
All map tiles are loaded via http, but should be loaded via https.

Easiest way would be to move these files from http://tiles.got.show/bg/... to https://got.show/tiles/bg/

Or alternatively add a lets encrypt script to the titles subdomain.

[2016-04-12 16:16] sacdallago commented on #413
Those are just warnings... But let's see:

If you really want to make it that way, I only approve if the tiles are imported via [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) on [project C10's tiles](https://github.com/Rostlab/JS16_ProjectC_Group10/tree/develop/tiles). Otherwise we run into duplicating data in too many locations!

Or the much, much easier solution of changin

[2016-04-12 16:49] TheZoker commented on #413
@sacdallago I just saw 32 warning spamming my console. And even if they are only warning, they should be fixed (in my opinion).
That's also the reason, why we are not getting the little nice green lock in the browser bar:
![img_2016 04 12_18h49m20s_002_](https://cloud.githubusercontent.com/assets/1368405/14468290/4ef4cc82-00df-11e6-8b05-718c693c0194.png)

[2016-04-12 17:04] yashha commented on #412
First issue is the same as #408
And second I'll do in a minute

[2016-04-12 17:14] yashha commented on #413
Thats true ;)
![image](https://cloud.githubusercontent.com/assets/4728786/14469008/cdcf90c0-00e2-11e6-887a-d46599af144a.png)

[2016-04-12 17:15] yashha commented on #413
And it would be no problem to change to https adresses

[2016-04-12 17:27] yashha commented on #169
If you have now changes to the landing pages, just change the html files and make a pr :)

[2016-04-12 18:04] jorjo1 commented on #396
@sacdallago can you look thru your network logs and tell us what happens then?

[2016-04-12 19:23] gyachdav commented on #169
@yashha if we now edit the HTML wont those edit be overwritten the next time you parse MD->html?

[2016-04-12 20:04] sacdallago commented on #396
Tomorrow afternoon :D I just got home and I'm busy from 8 to 16 tomorrow, no lunch break.. It's awful being a full time procrastinator :joy:

[2016-04-12 20:20] marcusnovotny commented on #369
Can you share the code? I'm like 100% sure you're creating two graphs on top of each other.

You can see the second scroll bar on the right
![](http://i.imgur.com/iEjjOQq.png)

[2016-04-12 20:43] sacdallago commented on #369
That might also be the reason for #396

[2016-04-12 20:55] #405 closed

[2016-04-12 23:07] marcusnovotny commented on #169
Added Lannister Landing Page #414

File link: https://github.com/Rostlab/JS16_ProjectF/blob/LandingPages/static/house-lannister.md

It's dooooone. 'Twas a blast!

[2016-04-12 23:39] #408 closed

[2016-04-12 23:40] yashha commented on #404
@gyachdav Thanks!! :)
https://github.com/Rostlab/JS16_ProjectF/commit/a96e385dc4d06d1db7f8b736ae4bfe997387cc5b

[2016-04-13 01:51] gyachdav opened #415 "move cc attribution to bottom of page"
place under copyright line

[2016-04-13 06:15] kajo404 commented on #415
Did you read the feedback on reddit? :D

[2016-04-13 08:31] sacdallago commented on #369
@marcusnovotny I have proven your thesis:
What I get inspecting csv.got.show:
![abc](https://cloud.githubusercontent.com/assets/6240943/14487416/a9734052-0162-11e6-964a-a497d08a49cb.jpg)

while on the got.show:

![cba](https://cloud.githubusercontent.com/assets/6240943/14487424/b5347ece-0162-11e6-9ec6-1c8af982f1b0.jpg)

The first time I checked, there were even **three** `g` elements. One you dele

[2016-04-13 08:34] sacdallago opened #416 "Gooogle loader loaded in multiple positions"
When switching from the characters page to, for example the statistics page, the graphs won't render. The console will complain with:
[code]

This also happens in the reverse order.

[2016-04-13 08:36] sacdallago commented on #413
Also leaflet icons are fetched over http, so neither solution will solve the problem.

[2016-04-13 08:36] #413 closed

[2016-04-13 08:36] #412 closed

[2016-04-13 08:38] sacdallago commented on #409
Seems to be fixed (Tried on chrome mobile emulator)

[2016-04-13 08:38] #409 closed

[2016-04-13 08:38] bandle commented on #413
I'll fix this with the next pull.
Related to https://github.com/Rostlab/JS16_ProjectC_Group10/issues/230

[2016-04-13 08:39] #375 closed

[2016-04-13 08:41] sacdallago commented on #413
@mbandle could you set it as an option? In the configuration, for instance? Because it's not said that everyone will always service tiles on https :)

[2016-04-13 08:41] sacdallago commented on #413
and the problem of leaflet fetching over http stays:

[code]

[2016-04-13 08:42] bandle commented on #413
@sacdallago :+1:
I'll call it markerBasePath, This directory than has to contain these two images.

[2016-04-13 08:43] sacdallago commented on #355
So how do we stand on this? If it's not gonna be in the page, exposing those routes is very dangerous and useless.

[2016-04-13 08:43] sacdallago commented on #413
alrighty

[2016-04-13 08:49] bandle commented on #413
Done.
When changing this I actually realized that Group F also had the possibility to fix this.

[2016-04-13 09:02] sacdallago commented on #234
I think this is done?

[2016-04-13 09:03] #234 closed

[2016-04-13 09:25] boriside commented on #169
@gyachdav should we add background epic music to the portal?

[2016-04-13 09:26] sacdallago commented on #169
Oh god. No! :D @boriside I hate pages that start music in the background

[2016-04-13 09:30] sacdallago opened #418 "Error building statistics"
@gyachdav

[code]

[2016-04-13 12:13] AlexMoroz commented on #169
@boriside never use autoplay attribute, it's like goto, just forget that it exists ))

[2016-04-13 12:20] gyachdav commented on #404
Need to add images next to text.

Need to fix links. Currently they use an html postfix

[2016-04-13 12:41] boriside commented on #169
@AlexMoroz @sacdallago

 :D ok you convinced me

btw check the marketing:
![eaef88ae00536e90bf27338f723533ef854ba5a0084fcb0f784919212ffb3ca6](https://cloud.githubusercontent.com/assets/4656678/14493449/d1d749f8-0185-11e6-87fe-89a507600ef6.jpg)

[2016-04-13 12:46] sacdallago commented on #169
:D She _might_ be working at the chair... _might_... But still! :D :D

[2016-04-13 14:12] sacdallago opened #420 "Restructure Developer page"
- Move:
   - What it is
   - How it started
   - Dividing teams
   - Open source & open data project

 sections to about page

- In the API links put a centered div or p tag with the full api link spelled out, like: https://api.got.show

- Create a table also for the GitHub repos, as for the NPM packages, linking to the repos on the Rostlab organization (we are not gonna move the repos in the near

[2016-04-13 14:23] marcusnovotny commented on #169
A few issues regarding Daenerys & House Stark Page.
Daenerys:
- In the last paragraph it still says "> Placeholder, Daenerys Targaryen PLOD
  Alt text: Daenery’s calculated percentage likelihood of death" - that should have been replaced with the actual PLOD image and then the alt text for the image

House Stark:
- Images are way too big, completely out of proportion
- Twitter tool picture is take

[2016-04-13 15:19] jorjo1 commented on #215
So I though a lot about it and I personally love it. I want to implement it, share your opinions, should it be lazy loading on scroll or with a "show more" button?

[2016-04-13 15:43] kajo404 opened #421 "Brienne is listed as dead"
but she has no date of death

[2016-04-13 16:30] yashha commented on #421
Its because we don't get any plods for her:
https://api.got.show/api/plod/bySlug/Brienne_of_Tarth

[2016-04-13 16:35] goldbergtatyana commented on #421
Yeah, strangely, she is not in the list of characters with a predicted PLOD. Group 6, @ThuyNganTran @subburamr @asesselmann, any idea why there is no prediction for her? Thanks!

[2016-04-13 17:19] jorjo1 opened #422 "[Navigation, Footer] Landing pages"

[2016-04-13 17:19] yashha opened #423 "Should the header be fullscreen?"
![image](https://cloud.githubusercontent.com/assets/4728786/14502496/cd418838-01ab-11e6-91f2-9aa165abc3cc.png)
![image](https://cloud.githubusercontent.com/assets/4728786/14502482/b8b24772-01ab-11e6-8681-bd48fa5aec0a.png)

[2016-04-13 17:20] jorjo1 commented on #423
It **must** be actually, we are searching for the PR that causes this.

[2016-04-13 17:23] mammuth commented on #423
I found it (https://github.com/Rostlab/JS16_ProjectF/commit/272c3ea1725645c9ddd3d8c24cd10e2527f7f605), it was @yashha who introduced this behaviour - so I hoped, he could answer exactly this question :stuck_out_tongue_winking_eye:

[2016-04-13 17:24] sacdallago commented on #421
@goldbergtatyana isn't it better if they show nothing in case of no PLOD for that char? For dead chars, we have 100% PLOD, right? So no PLOD is different from dead

[2016-04-13 17:27] jorjo1 opened #424 "Characters List - title is not wrapped"
![image](https://cloud.githubusercontent.com/assets/2246472/14502746/31d3195a-01ad-11e6-9735-42ccb96b1efa.png)

[2016-04-13 17:28] sacdallago commented on #328
Update?

[2016-04-13 17:30] goldbergtatyana commented on #421
This would make a lot of sense, yes! very good idea @sacdallago

In the last group email Guy wrote that we processed 2028 characters, while Group 6 provided predictions for 1946 characters.

This makes a difference of 82 characters for whom we don't have a PLOD, so yeah it would be great if we could catch them and say "sorry no likelihood of death available" or so.

@mammuth @yashha @jorjo1 could

[2016-04-13 17:36] sacdallago commented on #423
At a second glance, I don't mind it.
Keep it

[2016-04-13 17:36] #423 closed

[2016-04-13 17:39] subburamr commented on #421
Yes, I noticed that Brienne of Tarth is not in the 1946 characters. So no plod data is present. We will check and update why there is a difference.

[2016-04-13 17:43] goldbergtatyana commented on #421
Thanks @subburamr for the super quick reply! We realized that we are missing PLODs for 82 characters. Could you please then look into those as well, why they escaped being trained with our ML algorithm? :)

[2016-04-13 17:44] gyachdav commented on #355
Unfortunately we would have to remove the pie chart from here. Sorry @yashha :worried:

[2016-04-13 17:44] jorjo1 opened #425 "Navigation buttons"
The buttons have a bigger font size than the title. We will make it smaller!

[2016-04-13 17:44] sacdallago opened #426 "Doughnut to simple numbers"
Please change the doughnut in the characters page to:

Where the positive tweets and negative tweets have the color of the positive/negative smily faces above, in the graph :)

[2016-04-13 17:45] mammuth opened #427 "Higher main-container padding on mobile"
iPhone5 Screensize:
<img width="355" alt="screen shot 2016-04-13 at 19 44 35" src="https://cloud.githubusercontent.com/assets/3121306/14503397/380d5cba-01b0-11e6-84bb-c288ad0ed640.png">

[2016-04-13 17:45] mammuth commented on #427
This could be resolved, by setting the main-container padding-top to something higher, because the navbar is higher than on desktop.

[2016-04-13 17:46] sacdallago commented on #355
@gyachdav #426

[2016-04-13 17:51] mammuth commented on #427
Actually since the missing padding is a problem on every page, we might just higher the padding on mobile (s. statistics page eg.)

[2016-04-13 17:54] mammuth commented on #422
Big header & Footer saying **_"ENTER PAGE"_**

[2016-04-13 18:04] sacdallago commented on #422
Me likey likey but @gyachdav not likey likey

[2016-04-13 18:22] subburamr commented on #421
We seem to have missed these characters somewhere in the data processing, will update once we find the cause.

Here is the list of 82 characters which were not included in the training.
[82_chars_missing_plods.txt](https://github.com/Rostlab/JS16_ProjectF/files/217705/82_chars_missing_plods.txt)

Comparison with the 2028 characters from api.
[character_differences.txt](https://github.com/Rostlab/J

[2016-04-13 18:32] goldbergtatyana commented on #421
Yeay, great we have the list @subburamr !

Do you also have the 26 features for them? If so, please run your machine learning algorithm in the exact same way with the exact same parameters on the full data set now (1946 + 82 characters) and report the performance here please.

:+1: :+1:

[2016-04-13 19:36] togiberlin opened #428 "www.got.show crashes with Safari browser"
It says, that a problem occurred and is continuously attempting to reload the page every 2 seconds.
Google Chrome however runs perfectly fine.

[2016-04-13 19:42] gyachdav commented on #169
Routes to landing pages:
- [ ] https://www.got.show/why-jon-snow-is-not-dead
- [ ] https://got.show/Why-Daenerys-Targaryen-will-win-the-Game-of-Thrones
- [ ] https://got.show/House-Stark-in-Game-of-Thrones
- [ ] https://got.show/When-Theon-Met-Ramsay
- [ ]  https://got.show/Who-will-die-next-House-Lannister

[2016-04-13 19:45] subburamr commented on #421
It appears that project A added the 82 characters after Mar 25th(our deadline) :smile:
https://github.com/Rostlab/JS16_ProjectA/issues/105

I will rerun the algorithm with the extra characters and upload the performance.

[2016-04-13 19:46] gyachdav commented on #421
make sure that the prediction you already made do not change :laughing:

[2016-04-13 20:09] sacdallago commented on #169
Mh. What if we think ahead of time and make the routes something like:

https:// got.show / **post** / why-jon.snow-is-not-dead

[2016-04-13 20:12] yashha commented on #215
It is not part of the clean up, so we should forget about it for now. After that why not, maybe in combination with the serverside caching, sorting and filtering ;)

[2016-04-13 20:12] sacdallago commented on #428
#396 Filter the issues by tags and you'll find everything you need :dizzy: :laughing:

[2016-04-13 20:12] #428 closed

[2016-04-13 20:14] togiberlin commented on #396
I can confirm, OS X El Capitan v10.11.4 with Safari 9.1

[2016-04-13 20:17] sacdallago commented on #396
@jorjo1 @mammuth @yashha I think solving #369 will solve this one too! Please start working on that issue if you can :)

[2016-04-13 20:17] julienschmidt commented on #169
What would be the benefit of that?

[2016-04-13 20:50] sacdallago commented on #169
Clarity!
If in the future we want to produce more landing pages, or to provide a blog-like post functionality, we would have an established pattern.

Similar to having characters after the /character/xyz

If you put it in the root... well.. who knows!

[2016-04-13 21:17] yashha commented on #413
I thought when somebody has to do this than we :(
I haven't seen you post at that time

[2016-04-13 21:18] sacdallago commented on #396
Done some further testing: Only happens on home page. Must definitely be a component of that. Would make sense to selectively turn off components and see whether the problem still occurs.

If you need macs for testing, come to rostlab

[2016-04-13 21:19] yashha commented on #396
Is there anything in the console when this is happening?

[2016-04-13 21:20] yashha commented on #396
Or and requests that fail?
Maybe no bundle.js included or sth like that?

[2016-04-13 21:21] sacdallago commented on #396
I can't test the console if safari crashes :(

[2016-04-13 21:23] yashha commented on #396
Safari crashes completely? :O

[2016-04-13 21:23] sacdallago commented on #396
From the crash I get:

[code]

But that's not very informative! Apart that you managed to try to access a non-user-space address :D

[2016-04-13 21:26] sacdallago commented on #396
@yashha sort of! The thread for that page crashes, but ever since they introduced separate threads for separate pages (like chrome) the whole-whole app is much harder to bring down. But you still managed to do something I had never seen happening before! :D

[2016-04-13 21:31] yashha commented on #413
@mbandle
Becareful now your map is down
https://map.got.show/

[2016-04-13 21:33] yashha commented on #396
The other pages of the site don't crash?

[2016-04-13 21:36] sacdallago commented on #396
Nope

[2016-04-13 21:38] yashha commented on #396
Maybe I have a fix.
We should try it asap.
Edit: No, probably not a fix

[2016-04-13 21:39] sacdallago commented on #413
OMG what happened?! I didn't even pull! :D Now I did, but it didn't solve the problem... Thanks good the map on the main page didn't crash. The hype over this portal is accumulating, careful with implementing new things :P

P.S.: your gh-pages version seems to be unaffected @mbandle @tPiffrader @AlexBeischl

[2016-04-13 21:45] yashha commented on #396
Maybe this is a fix for this issue but probably not.
https://github.com/Rostlab/JS16_ProjectF/pull/430

[2016-04-13 21:45] sacdallago commented on #396
I ~~merged but~~ have some questions on the PR

[2016-04-13 22:03] yashha commented on #418
Fixed in https://github.com/Rostlab/JS16_ProjectF/commit/06dd2c58ff1d1e71db751e3c7f0b7396a1cb0b79

[2016-04-13 22:03] #418 closed

[2016-04-14 05:56] kajo404 opened #433 "Bad font color on statistics page and font type complaints"
from reddit:

[2016-04-14 06:46] mammuth commented on #413
Sidenote:
That's why using a deployment-flow like local -> staging -> production that is doing all the jobs automatically makes sense :wink:

I'd pee myself when I'd be on the production server and need to manually checkout the develop branch that has not been tested on the same environment, running some build commands by hand and hope everything goes well. :grin:

And no, I don't suggest adding i

[2016-04-14 07:01] sacdallago commented on #413
@mammuth :D if you have read @yassha 's message the error doesn't occur on your repo, it occurs on the map repo. Also: it occurs out of the blue after **not** pulling and even after pulling. For what I know: stable = older, and curated = more stable.

If anything, not auto-updating the stuff you stage is the safest way to avoid having unexpected behaviour.

Also: If you want to have a testing/stag

[2016-04-14 07:04] sacdallago commented on #433
This has been fixed. Just need to update the build

[2016-04-14 07:04] #433 closed

[2016-04-14 08:36] mammuth commented on #413
@sacdallago Nah, I wasn't following this issue, I wanted just to whine around a bit ^^ (Because I love well working and sexy CI pipelines).

For the case someone is interested in how cool deployment can be: (otherwise, just don't go ahead reading).
At the teams I mostly work with, we're all using the same Vagrant VM for **local development**. This way there is never a "it worked on my machine" or

[2016-04-14 08:42] sacdallago commented on #413
@mammuth I know vagrant :laughing: Why didn't you set this up then yourselves to begin with? :P

Also: Vagrant? So 2013... Why not docker! ACTUALLY, great idea!!!.. Can you set up a docker script in the project F repo? I will create the docker org!

Thx for the final note :P you are still very welcome to do PM next semester, it was not a rant!

[2016-04-14 08:58] sacdallago commented on #396
@yashha your fix hasn't made it to develop. I have messed up a little too much with the PRs I fear... Need to go to a meeting now, will check it later! Sorry

[2016-04-14 08:59] mammuth commented on #413
Because vagrant and docker are for different use-cases :wink:
There is an awesome SO question, where the authors of both are answering! Check it out here: http://stackoverflow.com/questions/16647069/should-i-use-vagrant-or-docker-for-creating-an-isolated-environment

Puh, my experience with docker is pretty limited. Do you really think it makes sense do start doing such stuff after the release, wh

[2016-04-14 11:40] sacdallago commented on #413
The idea of docker is to have a "ready package". Similarly to Vagrant, except you don't carry the whole VM around, and it's really just about _that_ service.
In other words, while with the VM you would still kinda play around, Docker is: this is the "package", you can change some of the config (twitter keys, database, blablabla), but it can run out of the box without changing one thing, if the dep

[2016-04-14 11:50] sacdallago commented on #396
This should be fixed

[2016-04-14 11:50] #396 closed

[2016-04-14 12:50] sacdallago opened #435 "Spring cleaning"
I deleted almost all branches :dancer:
Be careful what you are working in and if it exists still on remote. (otherwise just push it to remote as a new branch)

There are a **few** branches that survive. Please review if they are necessary and kill them otherwise!

If I disrupted someone's flow I'm sorry, but this needed to be done :P

**EDIT**: There's **one** that survived :D @yashha The rest are

[2016-04-14 16:23] sacdallago commented on #369
Great fix for the home. Can this be ported to the characters page? the problem still persists there

[2016-04-14 18:13] yashha commented on #369
Oh sure :)
Does it fix the bug with the macs?

[2016-04-14 20:18] gyachdav commented on #151
@marcusnovotny can you please survey the site using the SEO tool you mentioned?

Please report back what score we get, where to improve etc.

[2016-04-14 20:21] marcusnovotny commented on #151
Main issue is the metadata. For example, "A song of ice and data" is still used as the title on every page, see my long text a few posts above. Will have another look tomorrow morning

[2016-04-14 21:14] gyachdav opened #436 "Tysha's page is messed up"
Check out https://www.got.show/characters/Tysha

no PLOD, no death date, no profile pic, no name

[2016-04-14 22:06] mammuth opened #437 "Add comment system to pages"
I guess it would be a cool idea to add eg disqus to character pages or pages like ranking / statistics (where people might discuss the displayed stuff).

This way we could maybe improve the session duration time and even motivate people to come back.

[2016-04-14 22:09] gyachdav commented on #437
which would be better: Disqus or facebook comments?

the first would be less inrtusive the second way more informative and would have a lot of staying power

[2016-04-14 22:49] gyachdav opened #438 "Twitter hook on character page."
If character has a plod have a Twitter button to tweet based in the plod (eg if plod >90 tweet: character_name is in mortal danger!! @asoiad )

[2016-04-15 07:09] sacdallago commented on #437
The second one is not liked by many German citizens and some other people convinced they can protect their privacy nowadays :joy:

[2016-04-15 07:10] sacdallago commented on #436
Seems like and Easter egg :joy:

[2016-04-15 08:57] AlexBeischl opened #439 "Headerbar Blocks Searbar"
If you aren't using the full width of the browser-window, the headerbar is laying over the searchbar. Therefore, you can' t use it.
![bildschirmfoto 2016-04-15 um 10 11 21](https://cloud.githubusercontent.com/assets/17533952/14556514/d5859518-02f8-11e6-9900-238d2f5a347e.png)

[2016-04-15 08:58] mammuth commented on #439
Thanks Alex.

Closing as duplicate of #427

[2016-04-15 08:58] #439 closed

[2016-04-15 08:59] mammuth commented on #427
Whoever is doing this: It also happens with tablets, so test that as well.

[2016-04-15 08:59] AlexBeischl opened #440 "HTTPS Chrome Bug"
<img width="346" alt="bildschirmfoto 2016-04-15 um 10 08 09" src="https://cloud.githubusercontent.com/assets/17533952/14556572/2596cf04-02f9-11e6-9881-83e72d97b59c.png">

[2016-04-15 09:06] sacdallago commented on #440
To me it's just gray (due to the tiles being loaded over http and not https)

Could you output also why the certificate is broken? Thx

[2016-04-15 09:10] marcusnovotny commented on #151
##### Mostly copying my Metadata post from above:
- The **Page Title** is an important ranking factor. It's currently "A Song of Ice and Data" on every page. That's way too unspecific first of all (you can use up to 70 characters, right no we use 22) & second the keywords are useless. We should put the domain name & Game of Thrones in every Title and then add a specific String with important keywo

[2016-04-15 10:44] goldbergtatyana opened #441 "Statistics page"
First, I would say we need a "Read more" link in the GoT STATS section of the homepage. The link should lead to https://got.show/statistics. I would also looove having the image of GoT STATS from the homepage being an active link and leading to https://got.show/statistics.

On the statistics page itself the-still-present drawbacks are:
- the font color of the x-axis labels in Figure 1 is not light

[2016-04-15 11:47] marcusnovotny opened #445 "Only one Twitter Graph on Homepage gets resized"
Only the right graph gets resized, the left one is simply overshadowed.

The function ```d3.select(window).on('resize', function(){ . . . });``` has to resize both charts

Extreme example:
![resize error](https://cloud.githubusercontent.com/assets/17390795/14560490/7565d5cc-0310-11e6-901f-09e7bb313550.png)

[2016-04-15 12:41] gyachdav commented on #441
Guys please take care of this ASAP. We get mad traffic at the moment >150 ppl real time and not Hanover the link there is a big minus.

@sacdallago please make sure this is complete by EOD thanks

Sent from my iPhone

[2016-04-15 13:41] gyachdav commented on #437
block it in germany then

[2016-04-15 17:03] jorjo1 commented on #427
Title -> We simply make the font of the title smaller. :)

[2016-04-15 17:06] #424 closed

[2016-04-15 17:06] #441 closed

[2016-04-15 17:10] mammuth commented on #436
Hm. The API is returning stuff like name and image:
https://api.got.show/api/characters/Tysha
<img width="496" alt="screen shot 2016-04-15 at 19 05 58" src="https://cloud.githubusercontent.com/assets/3121306/14569160/41089454-033d-11e6-9497-1ff7c930fd26.png">
But according to the API Tysha is a man, and this is his profile picture:

![tysha](https://cloud.githubusercontent.com/assets/3121306/14569

[2016-04-15 17:27] sacdallago commented on #436
wow, strange! I just pulled the latest develop, re-run the build and also the forever instance.. Still get a weird page!

The console says:

[code]

[2016-04-15 19:46] yashha commented on #445
[code]

[2016-04-15 19:58] marcusnovotny commented on #445
That won't work because you can only specify one dom event handler per event. Make it

`d3.select(window).on('resize', function(){
chart1.resize;
chart2.resize;}`

[2016-04-15 21:13] yashha commented on #445
Thanks, I'll try it! :)

[2016-04-15 21:17] marcusnovotny commented on #445
Tell me if it's not working, I had it running once already :smile:

[2016-04-15 21:35] yashha opened #448 "Site is broken"
https://www.got.show/

[2016-04-15 21:36] yashha commented on #448
It seems like the api is down.

[2016-04-15 21:43] gyachdav commented on #448
I got 504 when trying the API

https://api.got.show/api/characters/

[2016-04-15 21:48] yashha commented on #448
Api running again! :)

[2016-04-15 21:55] gyachdav commented on #448
@sacdallago fixed it

[2016-04-15 21:55] #448 closed

[2016-04-15 21:55] yashha commented on #448
The font is blocked.
Maybe you have to change something on ngix.
Edit: http://stackoverflow.com/questions/25577981/font-from-origin-has-been-blocked-from-loading-by-cross-origin-resource-sharing

[2016-04-15 22:33] yashha commented on #435
You can let the last one live, it is not harming anybody ;)

[2016-04-15 23:03] jorjo1 opened #453 "Add notification for google analytics/cookies"
This should be added

[2016-04-15 23:05] jorjo1 commented on #435
@sacdallago when are you transferring the rep to the github.com/got-show ?

[2016-04-15 23:08] yashha commented on #453
I like the notification of http://www.der-postillon.com/ :laughing:
But probably not serious enough ^^

[2016-04-15 23:29] sacdallago commented on #435
That should be made with more than just one hand.. I'd need one person from every group (at least: sentiments, api, you and map) to do that, just to make sure nothing breaks. I don't think it is a good idea to do this now, with traffic on the 2,5k average per day and PRs going on.. in two weeks, maybe

[2016-04-15 23:30] sacdallago commented on #448
@yashha so this is an issue I still need to fix?

[2016-04-15 23:36] yashha commented on #448
Yes at the moment I have a comic sans like font on the website ;)
![image](https://cloud.githubusercontent.com/assets/4728786/14577386/8d21f64c-0373-11e6-9aa2-9554d77d9888.png)

[2016-04-15 23:36] yashha commented on #448
![image](https://cloud.githubusercontent.com/assets/4728786/14577394/a7ec8686-0373-11e6-9f6d-00dd4f120cae.png)

[2016-04-15 23:37] #426 closed

[2016-04-15 23:45] sacdallago commented on #448
That's so not happening to me. Try incognito?

[2016-04-15 23:50] yashha commented on #448
Thanks :)

[2016-04-16 09:26] marcusnovotny commented on #169
RIght now there's no way to get from the Landing Pages to the Homepage. Could you include the Header on the pages? Then we can actually use them to direct traffic :)
@yashha

[2016-04-16 22:03] gyachdav opened #459 "Twitter panels on mobile"
Please see feedback from this mailing list http://www.meetup.com/ny-tech/messages/78486305/

".... The only thing that would help me enjoy it more is if the two Twitter sentiment graphs were stacked vertically instead of horizontally, because they're too smooshed together on mobile.."

Can we make (on mobile only) the two panels stack and have the character name on top of each twitter panel?

[2016-04-17 14:49] #369 closed

[2016-04-17 14:52] mammuth commented on #421
What's the status here?
@subburamr

[2016-04-17 15:20] subburamr commented on #421
I added the results [here](https://github.com/Rostlab/JS16_ProjectB_Group6/issues/66#issuecomment-210808627)

[2016-04-17 15:25] mammuth commented on #421
Cool!

I'm not aware of the workflow how this is going to be inserted into the A-Database, could someone bring light into this or make this going happen? @sacdallago

As far as I understood, this is going to resolve this issue, right?

[2016-04-17 15:46] gyachdav opened #460 "Include rostlab logo in the footer"
Professor Rost asked us to put the rostlab logo at the footer of the page next to TUM logo and link to the group's webpage. You will find the asset on the rostlab.org site.

This is top priority item and should be done ASAP. Thanks!

[2016-04-17 15:49] sacdallago commented on #460
@jorjo1 @mammuth @yashha Please can someone take care of this so that we have it by tonight? Press Release matters :)

[2016-04-17 15:57] sacdallago commented on #421
I am, yes

[2016-04-17 17:17] jorjo1 commented on #460
Edit: Doin' it.

[2016-04-17 17:36] goldbergtatyana commented on #460
You got the logo, @jorjo1 ?

Bitmap graphic https://rostlab.org/~goldberg/Logo_A4.png
Vector graphic https://rostlab.org/~goldberg/Logo_A4.pdf
Or as a square https://rostlab.org/~goldberg/Logo_squared.png

[2016-04-17 17:38] jorjo1 commented on #460
Thank you. But there is no more TUM logo there, we only have TUM and Rostlab links in the footer. Shall I put the TUM logo also again?

[2016-04-17 17:47] yashha commented on #460
There is a TUM logo atm.
![image](https://cloud.githubusercontent.com/assets/4728786/14588891/46c13312-04d5-11e6-97d9-52d7e3e96b1e.png)

[2016-04-17 17:50] jorjo1 commented on #460
Oh sorry. It seems an extension for my browser has blocked some sources.. And the logo was hotlinked `https://www.schueler.tum.de/fileadmin/tum/org/tum-logo.png` :see_no_evil:

[2016-04-17 18:35] #460 closed

[2016-04-17 18:38] sacdallago commented on #460
Nice Job @jorjo1 !

[2016-04-17 18:40] jorjo1 commented on #460
Thank you sir :tophat:

[2016-04-17 18:40] jorjo1 commented on #460
@yashha COMIC SANS?!?!!?! Did you block google fonts?

[2016-04-17 18:58] goldbergtatyana commented on #460
no comic sans for me (though i see it sometimes when the page takes ages to load on firefox when there are too many other tabs open at the same time). and yeah the logos look beautiful! the feature of coloring them upon mouse hover is :+1: :+1:

[2016-04-17 19:13] sacdallago commented on #460
@jorjo1 also @yashha had this problem yesterday.. It's starting to worry me :D just go incognito 😎

[2016-04-17 19:22] jorjo1 commented on #460
I didn't have the problem, but it happens when you block many sources like google fonts etc (or your connection works the funny way around) :P

[2016-04-17 20:54] #445 closed

[2016-04-18 08:28] k-angelo commented on #19
{
name: "Konstantinos Angelopoulos",
team: "B"
}

[2016-04-18 08:46] mammuth commented on #436
@yashha, any clues what's up here, since it's not fixed on the website, but worked locally.
https://www.got.show/characters/Tysha

[2016-04-18 08:47] mammuth commented on #436
Noticed something:
When searching for Tysha and entering her page, everything is shown. It's just the deeplink that's not working.

[2016-04-18 09:54] yashha commented on #436
I noticed when you switch away and back you see  that the basic informations changed, but still no plod.

[2016-04-18 12:31] sacdallago commented on #19
@konstantinos-angelo added

[2016-04-18 12:34] marcusnovotny commented on #169
The "Enter Page" button is a start but not really inviting. Why not just implement the whole header, so people see immediately that they can look up characters and there's some sort of Map / ranking?

Also, still mistakes in the landing pages (Alt text displayed as regular text, buggy twitter images eg. for Jon Snow...)

[2016-04-18 15:02] Emiliyana commented on #19
{
name: "Emiliyana Kalinova",
link: "https://github.com/Emiliyana",
team: "E"
}

[2016-04-19 09:24] goldbergtatyana opened #462 "plod-description.md"
All, where can I find the plod-description.md file ? The old path leads me to 404 page.

We are having a press release coming out today and the description of our machine learning algo urgently needs a small fix.

[2016-04-19 09:30] mammuth commented on #462
Markdown files have been moved to config/ some time ago:
https://github.com/Rostlab/JS16_ProjectF/tree/develop/config/markdown

[2016-04-19 09:30] #462 closed

[2016-04-19 14:05] kordianbruck opened #464 "got.show in the news"
We should create a Clipping page for all news articles.

E.g.: http://derstandard.at/2000035197733/Mathematiker-berechnen-wer-in-Game-of-Thrones-als-naechstes-stirbt?ref=rss

[2016-04-19 14:26] gyachdav commented on #464
design suggestions?

[2016-04-19 14:58] AngeKouemo commented on #19
{
  name: "Ange Laure Temzeung Kouemo",
  team: "E"
}

[2016-04-19 18:20] marcusnovotny opened #465 "Reference new twitter account @GotJstech"
Hey folks,

we had to switch twitter accounts from @ asoiad to @ GotJstech

Please reference the new account on the homepage asap so we can start using it.

[2016-04-19 19:00] yashha commented on #464
http://stevinho.justnetwork.eu/2016/04/19/got-wer-stirbt-als-naechstes/

[2016-04-19 19:02] mammuth commented on #464
http://thenextweb.com/shareables/2016/04/19/app-uses-machine-learning-guess-will-die-next-game-thrones/

[2016-04-19 19:03] yashha commented on #464
http://www.rollingstone.de/wer-stirbt-als-naechster-bei-game-of-thrones-studie-bietet-die-antwort-1009929/
http://www.luzernerzeitung.ch/nachrichten/panorama/panorama-sda/Mathematiker-sehen-Game-of-Thrones-voraus;art46441,720518
https://idw-online.de/en/news649805
http://www.cnet.com/news/algorithm-predicts-fans-have-not-seen-the-last-of-a-certain-game-of-thrones-character/

[2016-04-19 19:03] gyachdav commented on #464
http://www.cnet.com/news/algorithm-predicts-fans-have-not-seen-the-last-of-a-certain-game-of-thrones-character/

On Apr 19, 2016, at 3:02 PM, Max Muth notifications@github.com wrote:

[2016-04-19 19:03] yashha commented on #464
http://de.engadget.com/2016/04/19/a-song-of-ice-and-data-algorithmus-will-nachste-game-of-thrones/

[2016-04-19 19:04] gyachdav commented on #464
move this conversation to the google group please. let the others enjoy it too!

[2016-04-19 19:05] gyachdav commented on #464
@mammuth @yashha @jorjo1  we need one of you to take care of the twitter Issue asap! @marcusnovotny just opened an issue about changing the link on the site to the new twitter account

[2016-04-19 19:05] gyachdav commented on #464
https://github.com/Rostlab/JS16_ProjectF/issues/465

[2016-04-19 19:06] gyachdav commented on #464
@sacdallago is waiting for you to do this asap and he is ready to pull to production.

[2016-04-19 19:07] gyachdav commented on #464
background: twitter is exploding >70 from twitter alone and we dont wanna lost followers

[2016-04-19 19:07] sacdallago commented on #465
PLEASE @jorjo1 @mammuth @yashha do it now so I can go home and rebundle we have 200ppl on the page

Sorry, am in car

[2016-04-19 19:11] gyachdav commented on #464
ill remove all the unrelated comments from this issue now. you guys can resume your link postings. BUT please also start a link war on the g-groups 😄

[2016-04-19 19:16] #465 closed

[2016-04-19 19:17] yashha commented on #464
https://groups.google.com/forum/#!topic/javascript-technology-2016/KpQHvwGb84g
@kordianbruck Do you mean a page on our Website?

[2016-04-19 19:25] kordianbruck commented on #464
@yashha yes, it would be great to collect these publicly on the website as well.

[2016-04-19 20:45] jorjo1 opened #467 "Map character"
He who changes font sizes must take other things into account
![image](https://cloud.githubusercontent.com/assets/2246472/14654961/62b6d944-0680-11e6-8a90-e36b637ddfe7.png)

[2016-04-20 00:22] marcusnovotny commented on #459
Thanks for the fix, works great!

[2016-04-20 00:22] #459 closed

[2016-04-20 00:24] marcusnovotny commented on #422
copying from #169

[2016-04-20 00:27] marcusnovotny commented on #465
@mammuth Hijacking this, do you have a nicer image for the twitter header? Current one is terribly pixelated

https://twitter.com/GotJSTech

[2016-04-20 05:51] mammuth commented on #465
@sacdallago who did the win or die header graphic?

Maybe this person could export it in larger size. At least the red/black background image is pretty large, so the small size probably came by adding the text.

[2016-04-20 14:42] dmitry-n opened #469 "Generate a sitemap"
We need to generate a sitemap for Google Analytics. One way to do it is to use something like http://botmap.io/, which is an example of a service that allows to generate sitemaps for js-heavy websites (instructions are on the front page). Anything else can be used as long as it works.

[2016-04-20 14:53] mammuth commented on #469
We have a sitemap (see https://got.show/sitemap.xml).
Why do we need something different _for Google Analyitcs_ or what do we need to change at the current sitemap?

[2016-04-20 14:59] mammuth opened #470 "Redirect www subdomain"
I mentioned this somewhere sometime ago, that running both hosts (www.got.show and got.show) doesn't make any sense.

Now even GA is complaining:
![analytics-hosts](https://cloud.githubusercontent.com/assets/3121306/14679188/1d82cbf0-0719-11e6-9752-b6df175af9dc.png)
So let's do this 301 :wink:

[2016-04-20 14:59] ghost commented on #469
Just because I overlooked sitemap.xml, that's all. It will work just fine.

[2016-04-20 14:59] #469 closed

[2016-04-20 15:00] mammuth commented on #469
I hope so - I put some decent effort in implementing the sitemap generator, which, btw, also has all characters listed, with their priority set accordingly to their plod :blush:

[2016-04-20 15:09] dmitry-n opened #471 "Fix NaN values in the sitemap"
Google tools complain about our current sitemap:

Invalid tag value - This XML tag has an invalid value. Please fix it and resubmit - 143  occurences - Parent tag: url, Tag: priority, Value: NaN

[2016-04-20 15:12] ghost commented on #469
Can I see this generator source code, btw? Oh, and using PLOD as priority leads to priority set to NaN for some chars. Google Search Console doesn't like that.

[2016-04-20 15:56] mammuth commented on #471
Can be fixed by adding an _or_ statement to the priority assignment here: https://github.com/Rostlab/JS16_ProjectF/blob/develop/sitemap-generator/sitemap-generator.js#L14

I'm not with my private laptop until late evening; so if someone wants to fix this earlier, he can go for it :blush:

[2016-04-20 15:56] mammuth commented on #469
As stated in the other issue (#471):

[2016-04-20 17:29] sacdallago commented on #470
I will fix this tomorrow during the "fake" coding session! Thank you very much for pointing out @mammuth

[2016-04-20 17:30] sacdallago commented on #465
@jorjo1 wasn't it you?

[2016-04-20 18:10] Emiliyana opened #472 "The website is down"
Hey guys,
the website is currently down, I'm getting a 502 Bad Gateway error (nginx)

[2016-04-20 18:36] gyachdav opened #473 "Revert heading to previous image"
Remove the current image and put back Ned Stark. this may be a matter of just reverting @sacdallago last commit.

@sac I am taking the fall for this and this is completely my decision to put this back in. Until further notice please do not change images on the site, especially not front page images.

btw, who found this ugly ass image? 😆

[2016-04-20 20:42] sacdallago commented on #473
DONE

[2016-04-20 20:42] #473 closed

[2016-04-20 20:45] sacdallago commented on #472
Thanks.
I fought with the devils of technology and brought the site back to life.

PLOD for the site is 0%

[2016-04-20 20:45] #472 closed

[2016-04-20 20:51] sacdallago commented on #464
@kordianbruck is right. We'll also take all of the links on the link-wars page on ggroups and generate PDFs of them.. Who knows how much all of them are gonna stay up!... This stuff builds CV!

[2016-04-20 22:48] theocheslerean commented on #464
Perhaps it would be interesting to add some kind of comments section on the website. Facebook comments or smth like that

[2016-04-20 22:57] mammuth commented on #464
There exists an dedicated issue for page comments.

On Thu, Apr 21, 2016, 00:48 theocheslerean notifications@github.com wrote:

[2016-04-20 23:05] theocheslerean commented on #19
Hi. Can you change  the link in my name to

{
name: "Theodor Cheslerean Boghiu",
link: "https://de.linkedin.com/in/theodor-cheslerean-boghiu-234511102"
}

Please?

[2016-04-21 00:30] gyachdav opened #477 "Newsletter"
Please share your thoughts anoint incorporating a newsletter signup into the site? Good/bad/irrelevant?

[2016-04-21 09:51] sacdallago commented on #19
Done all up to here

[2016-04-21 09:51] #19 closed

[2016-04-21 09:54] #471 closed

[2016-04-21 09:55] #427 closed

[2016-04-21 15:51] sacdallago opened #482 "Legal mattes"
Finally we got to a compromise with the legal office. The following needs to be worked on urgently and concluded ASAP.
I appreciate your effort very much. As you might have understood, I do everything I can to stay on top, but I'm extremely slowed down by the organizational matters.

1. Please for
   - all the images shown on the front page `/`
   - The image on the top (header)

  attribute on th

[2016-04-21 18:40] marcusnovotny opened #483 ""as seen on" - Bragging with media coverage"
What do you think about sth like this on the homepage?

![](http://i.imgur.com/b4YMjKc.png)

Seems really impressive with [all our amazing media coverage](https://docs.google.com/document/d/1-se_z5N9K5Ofdy9rBoRSXYeF6p5Mllo3A3g8t0S-glI/edit) and adds credibility. For the big names only of course, like the guardian, telegraph etc...

[2016-04-21 20:14] mammuth commented on #483
Related #464

[2016-04-22 07:05] sacdallago commented on #483
I don't know if we are allowed to but their logos on the page! We should write to the different newspapers and figure it out

[2016-04-22 10:38] sacdallago commented on #482
Email we just got:

![grey_bar](https://cloud.githubusercontent.com/assets/6240943/14739285/e3c168da-0886-11e6-8a10-7e4f63884d92.jpg)

@mammuth @yashha @jorjo1 or anyone in the @Rostlab/js_cs_sose_2016_students please implement these changes ASAP, me @goldbergtatyana and @gyachdav are busy making you famous :P

[2016-04-22 10:57] mammuth commented on #482
I'm without my laptop. @yashha, @jorjo1?

[2016-04-22 11:08] gyachdav commented on #482
Guys please treat any request coming from TUM admins as real emergency i.e. the turnaround time need to be immediate. Whoever sees this first and capable of taking care of it, see this through from beginning to end (including self merge, you got my approval)

[2016-04-22 11:10] goldbergtatyana commented on #482
@mammuth @yashha @jorjo Andreas Batternberg (who is being a great help for all possible matters) that this request is a super urgent one. Please please take care of the disclaimer and the TUM logo as soon as you can. Thanks

[2016-04-22 11:27] yashha commented on #482
I haven't access to my laptop before 7 o'clock, sry

Am 22. Apr. 2016, 13:10, um 13:10, Tatyana Goldberg notifications@github.com schrieb:

[2016-04-22 12:51] marcusnovotny commented on #421
@sacdallago This keeps coming up on reddit and twitter. Fix needed :pray:

[2016-04-22 14:23] jorjo1 commented on #482
I GOT MY LAPTOP. I am here to work!

[2016-04-22 15:22] jorjo1 commented on #482
#490 I have been so busy these days, I can only work in the pauses. :D I will get to the other images' sources today too.

[2016-04-22 18:09] yashha commented on #482
Are you working on it? I have time now. I can't reach you.

[2016-04-22 18:22] yashha commented on #435
Can this be closed?

[2016-04-22 19:00] yashha commented on #482
How is this? I don't like it that much, but when we have to do it.
![image](https://cloud.githubusercontent.com/assets/4728786/14752027/41a3f10c-08cd-11e6-9712-84636be39373.png)

[2016-04-22 19:08] theocheslerean commented on #482
Can you make it gray? to blend in with the background of the actual website. Or is this blue text on white background standard?

[2016-04-22 19:09] yashha commented on #482
grey is ok i think

[2016-04-22 20:51] jorjo1 commented on #483
I've seen it on many companies' pages. Tho the media are writing about our content and tehrefore we are linking to their articles. So I see no problem.

[2016-04-22 20:59] jorjo1 commented on #477
It's cool. Now I'd say it's lower priority while we have these social pages -fb,twitter etc.
I did a research about mailing services and the most services are paid or limited in freemium to about 2k users.. so the best solution would be to host it on our lrz server.

[2016-04-22 21:01] gyachdav commented on #483
We'll run with the TUM press office for legal opinion. I'll get back to you shortly.

[2016-04-22 21:05] gyachdav commented on #477
Why low priority? we get mad traffic. I need a time/effort estimate for this feature.

We'll figure out what to do/how to use the list later.

[2016-04-22 22:43] jorjo1 commented on #482
@yashha pls tell me if you merged it already :D The issues that are referring to this header and TUM logo are numerous and I got confused xD

[2016-04-22 22:49] jorjo1 commented on #477
I agree on this, we get really crazy stats. As an estimate of time and effort to implement a mailing list feature on the site I'd say it should be less than 2 hours. However, it depends on the platform we choose to store our email subscribers later on.

[2016-04-22 23:31] jorjo1 opened #493 "Our twitter share buttons are broken?"
https://twitter.com/intent/tweet?text=I%20hate%20Grey%20Worm&url=https%3A%2F%2Fgot.show%2F&via=asoiad&original_referer=

From the ranking page.. it simply shows me a message "This page does not exist" (Twitter). wtf?

[2016-04-22 23:31] sacdallago commented on #435
Yeah but it's becoming a problem again :D will spring clean again once most/all PRs are closed

[2016-04-22 23:31] #435 closed

[2016-04-22 23:31] #467 closed

[2016-04-22 23:33] sacdallago commented on #493
Please @jorjo1 change `via=asoiad` to `via=gotjstech`in all occurrences!! :

https://twitter.com/intent/tweet?text=I%20hate%20Grey%20Worm&url=https%3A%2F%2Fgot.show%2F&via=gotjstech&original_referer=

[2016-04-23 03:02] gyachdav commented on #493
merged, can be closed.

[2016-04-23 03:02] #493 closed

[2016-04-23 03:06] gyachdav opened #496 "Obfuscate guy's email address"
https://got.show/imprint has my email address in plain view and could be scraped.

Needs to be obfuscated when converted fromt the md file.

[2016-04-23 08:21] sacdallago commented on #483
I'm becoming good at spotting these things:

So: We can only cite the source and put a link to the article! We could use something like goo.gl or tinyUrl to shorten and "normalize" the urls for the articles

[2016-04-23 10:04] marcusnovotny commented on #483
We could just use buttons that link to the articles and write the names in plain text. Less fancy but saves us the hassle of contacting all the papers

[2016-04-23 10:11] mammuth commented on #483
I'd suggest to contact a couple of the largest papers (3-5) and list their images in a row.
Below that just list all other links in 2-3 columns.

[2016-04-23 10:17] sacdallago commented on #483
Gimme a list of papers @mammuth pls, I'll see if our email correspondence there's something I can forward you. The PR group can take care of this? @marcusnovotny

[2016-04-23 10:21] mammuth commented on #483
Maybe try to get a permission from:
- USA Today
- The Guardian
- BBC
- Sueddeutsche (so we have a German one as well)

Otherwise - if you already have correspondence with certain papers, let's just take them (if they're not thaat small)

[2016-04-23 10:58] sacdallago commented on #483
I've sent @marcusnovotny some contacts. The PR people will take it from here and report back once we have confirmations.

In the meantime we can make it like this:
[The Guardian](http://www.theguardian.com/tv-and-radio/video/2016/apr/21/a-song-of-ice-and-data-students-create-death-prediction-software-for-game-of-thrones-video) , [BBC](link), ...

And later we simply swap out the text with the logo

[2016-04-23 11:15] mammuth commented on #464
Closing in favor of the above issue.

[2016-04-23 11:15] #464 closed

[2016-04-23 11:24] jorjo1 commented on #483
CNN

[2016-04-23 11:28] marcusnovotny commented on #483
Just greek cnn though. Wouldn't use that

[2016-04-23 12:28] marcusnovotny commented on #483
Reached out to Time, Telegraph, Guardian, USA TODAY College, Süddeutsche, BBC Radio 5 Live News. Should be enough for now, let's wait what happens. @gyachdav wants us to focus on campaigning first and foremost!

[2016-04-25 07:19] marcusnovotny commented on #483
Got a reply from the Guardian author that literally just says "of course that's fine! Go ahead". Sure we even need confirmation in the first place?

[2016-04-25 14:09] Adiolis opened #498 "List of characters ordered by PLOD not loading / All chars on the startpage with 0%"
See title ;)

https://www.got.show/characters/?search=&page=1&sort=plod&order=-1

Tested it with various browsers.

[2016-04-25 14:15] gyachdav opened #499 "EMERGENCY"
EMERGENCY: We need someone from project F right now to post a message on the site that due to heavy traffic we are not showing predictions properly. This is an emergency and should be acted on right now.  Please confirm you're on it.

[2016-04-25 14:21] Emiliyana commented on #499
If you want you can use my post suggestion, don't know if you saw it.

Due to heavy traffic we are currently not showing predictions properly. Our
investigation shows that a hacker called GRRM might be behind it, trying to
kill our algorithm
On 25 Apr 2016 16:15, "Guy" notifications@github.com wrote:

[2016-04-25 14:22] gyachdav commented on #499
Put on FB and Twitter right now. Thanks!

Sent from my iPhone

[2016-04-25 14:41] mammuth commented on #499
<img width="1680" alt="screen shot 2016-04-25 at 16 37 51" src="https://cloud.githubusercontent.com/assets/3121306/14787635/850c857e-0b04-11e6-9a43-bfaa8ca84363.png">

Like this?

[2016-04-25 14:47] gyachdav commented on #499
yes good. please merge. Chris please pull!
On Apr 25, 2016, at 10:41 AM, Max Muth notifications@github.com wrote:

[2016-04-25 14:49] mammuth commented on #499
The warning-top-bar is in develop via https://github.com/Rostlab/JS16_ProjectF/commit/17a0336773bef70a4676ed252d4dbc19c1226f96

@sacdallago you can pull/deploy.

[2016-04-25 14:51] yashha commented on #499
Whats up with the predictions, what happend?

[2016-04-25 14:52] yashha commented on #499
API down? @sacdallago
https://api.got.show/api/characters

[2016-04-25 16:03] sacdallago commented on #499
Not at all @yashha just SO MANY REQUESTS!

[2016-04-25 16:03] sacdallago commented on #499
Closing this as I'm handling it differently. Unmerge the topbar please

[2016-04-25 16:03] #499 closed

[2016-04-25 16:06] sacdallago commented on #498
We are experiencing EXTREMELY high traffic. Check back tonight/tomorrow and say if this is still the case

Even better, come tomorrow to my office @Adiolis (in the morning)

[2016-04-25 16:10] sacdallago commented on #483
Yes!

[2016-04-25 19:56] mammuth commented on #499
Reverted via https://github.com/Rostlab/JS16_ProjectF/commit/ac11b832d5f6bc946d12aeff7c1c37a7b8d39fb6

[2016-04-26 21:00] gyachdav opened #500 "Episodes recap"
For the next 10 weeks we will publish an episode recap blog entry.

The text will be published to the same file https://github.com/Rostlab/JS16_ProjectF/blob/episode-recap/static/episodes-recap and each week we will update the file with new contents.

Please try to see if there is a way to separate the style from the contents (possibly build as a component?)

We also messed around with this for to

[2016-04-27 15:15] gyachdav commented on #500
@jorjo1 @yashha @mammuth where does this stand? we need this up asap!
Please post questions if you dont understand what needs to be done but we really need this to be live.

[2016-04-27 15:23] yashha commented on #500
I'm on it now.

[2016-04-27 19:20] sacdallago commented on #500
1. Image is still to high
2. ~~[**THE LINK IS BROKEN**](https://got.show/episode-recap)~~

@gyachdav @yashha

**EDIT**
2. was fixed with https://github.com/Rostlab/JS16_ProjectF/commit/a752e78ef2921770f109f8f883c176e94f0a038c

[2016-04-27 21:00] yashha commented on #482
Should it say "Liability notice" ?
![image](https://cloud.githubusercontent.com/assets/4728786/14868051/d2ec284e-0ccb-11e6-892d-9a806511bc50.png)

[2016-04-27 21:12] gyachdav commented on #482
Yup

[2016-04-27 21:28] yashha commented on #496
should it be displayed as an image?

[2016-04-27 22:48] gyachdav commented on #496
Nah JS should be enough

http://www.albionresearch.com/misc/obfuscator.ph

[2016-04-28 03:21] gyachdav opened #507 "PLoD reaction component"
Replacing #477.

We would like to start making our pages more interactive and encourage FB posts.

On the character page If character is alive and has a PLOD:

- [ ] enable reactions under the tombstones: the reactions are FB style reactions for like, love, laugh, wow, sad, angry.

- [ ] reactions should be stored in a dedicated data store such as Redis.

- [ ] Upon selection of a reaction, show a

[2016-05-03 01:42] gyachdav opened #509 "Sponsor logo mockup"
@mammuth @jorjo1 can you please design a quick mockup of what will a sponsor's logo look on the site ?

Maybe have two mockups one for the top (perhaps in the Navi or instead of the crowd funding banner) and another for the footer.

I need this asap unfortunately so I can show potential sponsors that may fund our Lux trip.

[2016-05-03 17:48] yashha opened #510 "Map design issue"
![image](https://cloud.githubusercontent.com/assets/4728786/14992762/d824d7b6-1167-11e6-8240-f9aee7aaa1f3.png)

caused by #508

The font is an issue on my side ;)

[2016-05-03 19:43] yashha commented on #510
![image](https://cloud.githubusercontent.com/assets/4728786/14996010/0891f112-1178-11e6-8455-e19dd8132aa5.png)

[2016-05-03 20:59] sacdallago commented on #510
Cool! :D Hadn't noticed...
The donate button is gonna go in about a week, so I guess you shouldn't put too much effort into this! :) It's gonna be solved in a week anyway by just removing that div :)

[2016-05-03 21:15] yashha commented on #510
Well too late and I could let I be like this.
The map is currently not useable.

[2016-05-04 12:16] jorjo1 commented on #510
Well Im on it now

[2016-05-04 13:50] yashha commented on #510
Its already fixed, sry

[2016-05-05 21:31] yashha opened #516 "Crawler broken?"
I noticed for some time now that the crawler is not running.
![image](https://cloud.githubusercontent.com/assets/4728786/15057893/787f21c8-1319-11e6-8976-59637feb4e3d.png)

[2016-05-05 21:31] #510 closed

[2016-05-05 21:34] yashha opened #517 "Should there be some text?"
![image](https://cloud.githubusercontent.com/assets/4728786/15057976/f2f32cba-1319-11e6-84b8-54b6bb6e2a89.png)
https://www.got.show/episodes-recap

[2016-05-05 21:43] gyachdav commented on #517
Yup this link should follow

https://www.youtube.com/watch?v=rOMk5GWvlks

somehow it got dropped during the conversion

[2016-05-05 21:46] yashha commented on #517
Oh I didn't see that it is a link, nvm ;)

[2016-05-05 21:46] #517 closed

[2016-05-05 21:50] #496 closed

[2016-05-05 21:51] #500 closed

[2016-05-05 21:52] #482 closed

[2016-05-05 21:53] yashha commented on #470
Status? ;)

[2016-05-05 22:05] #498 closed

[2016-05-05 22:05] #425 closed

[2016-05-05 22:06] yashha commented on #425
I believe issue is solved

[2016-05-05 22:16] yashha commented on #440
last problems:

[code]

Can you guys fix it on your side?

@mbandle @AlexBeischl @AlexMoroz

[2016-05-05 22:17] yashha commented on #169
Closed in favor of #422

[2016-05-05 22:17] #169 closed

[2016-05-05 22:21] yashha commented on #51
It is done by @sacdallago but not on github.
Do you wanna share your setup here?
You could put it in the repo wiki or push some config files.

Or is it to specific?

[2016-05-05 22:21] #51 closed

[2016-05-06 12:28] jorjo1 opened #520 "Routing broken : Cannot GET"
https://got.show/machine-learning-algorithm-predicts-death-game-of-thrones

[2016-05-06 12:32] goldbergtatyana commented on #520
Lothar will bring the server back to normal in ~2 hours. If you're looking for the description, it can also be found in one of the files on GitHub

[2016-05-06 12:36] jorjo1 commented on #509
![image](https://cloud.githubusercontent.com/assets/2246472/15073090/ec07383c-1397-11e6-815b-7c1293ce7549.png)
![image](https://cloud.githubusercontent.com/assets/2246472/15073095/efe6c922-1397-11e6-9955-4978f6961185.png)

[2016-05-06 12:40] jorjo1 commented on #509
![image](https://cloud.githubusercontent.com/assets/2246472/15073189/76d9ae68-1398-11e6-8111-c0eb3bbaba79.png)
![image](https://cloud.githubusercontent.com/assets/2246472/15073196/7a4752ee-1398-11e6-8a38-6292eddf012b.png)

[2016-05-11 08:56] sacdallago commented on #520
Did this

[2016-05-11 08:57] #520 closed

[2016-05-11 08:57] sacdallago commented on #470
It's a one line change, will do at some stage

[2016-05-11 08:58] #470 closed

[2016-05-11 08:59] sacdallago commented on #516
Also noticed.

@marcusnovotny @julienschmidt ?

[2016-05-11 13:13] marcusnovotny commented on #516
Does this happen for all characters?

No idea what happened. Just restart the app

[2016-05-11 13:15] julienschmidt commented on #516
Unfortunately both my backdoor and my crystal ball are broken 😉

[2016-05-12 10:40] sacdallago commented on #516
So let me get another couple questions, maybe we can figure this out together :)
- The server crashed and I have to move all the website and things to another instance
- I didn't copy the CSV data (because I thought it would generate itself from the database) and just linked the DB.
- I noticed that the twitter graphs weren't working, so I recovered an old email @marcusnovotny send me with some CS

[2016-05-12 10:50] julienschmidt commented on #516
Yes it should  do so on the first start and on every update to that character afterwards.

Because aggregating the tweets on-access is not an option. It involves some heavy I/O in both the DB itself and transferring the tweets to the server for analysis.
The CSVs are some kind of cached result. The server then just has to serve static files.
Remember the difference between the cached and the non-c

[2016-05-13 08:02] sacdallago commented on #516
@julienschmidt checked :( Seems to be all working! Pffffff

Maybe it makes sense to run an instance locally with the same DB and at times copy over the CSVs?

[2016-05-13 09:38] sacdallago commented on #509
Man this would have been cool

[2016-05-13 09:38] #509 closed

[2016-05-13 09:40] sacdallago opened #521 "Morpheus cup is over --> Sponsors 🔥"
Dear team,

could someone remove the donate bar again please? :) Morpheus cup is over and we can now go back to normal ☕️

Thx

[2016-05-16 20:16] jorjo1 commented on #521
#522

[2016-05-19 15:05] gyachdav commented on #521
@sacdallago the banner still shows up on the production site. I thought you already deployed. Can you take a look?

[2016-06-01 08:45] #521 closed

[2016-06-01 10:54] yashha commented on #516
status? @julienschmidt @sacdallago  :)

[2016-06-18 13:52] sacdallago commented on #516
Fixed (was not an ez-pz problem to solve)

[2016-06-18 13:52] #516 closed

[2016-06-25 18:24] yashha opened #524 "Site down"
Christian, please take a look :)

[2016-06-25 19:52] sacdallago commented on #524
?

There's some funny behavior, but it's up to me

[2016-06-25 20:29] yashha commented on #524
strange, black screen for me
![image](https://cloud.githubusercontent.com/assets/4728786/16358981/4d52640a-3b24-11e6-921d-b3ea845b6adb.png)

[2016-06-25 21:09] sacdallago commented on #524
I now know where the issue is, thanks.

This is unfortunately out of my power to fix. Most likely it's going to be fixed on Monday by the guy who set me up with the VM. It's a shame that since the problem a month ago everything seems to be going sideways... But it's really not up to me ;)

Best,
C

[2016-06-26 09:42] gyachdav commented on #524
Works for me on the laptop but on mobile I'm getting a dark screen.

Sent from my iPhone

[2016-06-27 13:49] sacdallago commented on #524
Everything should be back to normal

[2016-06-27 13:49] #524 closed

[2016-07-01 18:15] jorjo1 opened #525 "upload table"
https://docs.google.com/document/d/1RJ9Um4BYrMEJFrD97pepDX_Dc5WZ6YFrpyAPQFkxG4c/edit#heading=h.6bhi4zdbjpop

[2016-10-12 10:08] #525 closed

[2017-03-09 20:50] stingmad opened #529 "Invalid tag value error sitemap"
My sitemap is creating issue and hence causing alot of problem

here is my site sitemap

http://www.hulkusc.com/sitemap.xml  thats the main sitemap

and within that site map http://www.hulkusc.com/sitemap-pt-post-2012-08.xml

thats what is creating problem and giving errors on 3 blog post urls

Error would show it shows value 29.8 mean 2980  and 22.7 mean 2280

But I have tried to set the priority

[2017-03-09 20:53] stingmad commented on #529
I have submitted site map 4 times but same problem keep coming  I have no idea what is the issue

[2017-03-10 08:42] sacdallago commented on #529
????? You sure you wrote to the right people? This has nothing to do with this project, I fear!

[2017-03-10 08:42] #529 closed